<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueSales &#8211; Back to School &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/09/25/sales-back-to-school/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Sales &#8211; Back to School</title>
		<link>https://s4leaguegame.com/2020/09/25/sales-back-to-school/</link>
		<comments>https://s4leaguegame.com/2020/09/25/sales-back-to-school/#respond</comments>
		<pubDate>Fri, 25 Sep 2020 11:58:58 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1903</guid>
		<description><![CDATA[Hello Leaguers, Even in the current hard times, the younger generations have to go back to school every year. And it is always the same [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png" title="Sales &#8211; Back to School" width="420" height="260"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="266" src="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png" alt="" class="wp-image-1905" srcset="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png 560w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-300x142.png 300w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss.png 685w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Hello Leaguers, </p>



<p>Even in the current hard times, the younger generations have to go back to school every year. And it is always the same each school year. The cool kids will occupy the last row of desks in the classroom to sit far away from the teacher and play on their smartphones, the smart kids position themselves in front of the teacher&#8217;s desk and <strong>S4 League</strong> has something for both to have a great start. &nbsp; </p>



<p><strong>Starting Friday, 25th of September 4 PM CEST </strong>you can find the smart exciting and <strong>very limited offers</strong> in our <strong><a href="https://s4league.aeriagames.com/itemmall/Back%2Bto%2BSchool">Back to School category</a></strong> with fantastic items, and on top of that, we have a <strong><a href="https://s4league.aeriagames.com/itemmall/tiered-spender/1">Tiered Spender</a></strong> for the cool kids among you.   So don’t miss this chance to get your favorite item and, as always, have fun in the Netsphere!!!   </p>



<p>Your S4 League Team.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/09/25/sales-back-to-school/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
