<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueBlack Friday Offers &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/11/26/black-friday-offers/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Black Friday Offers</title>
		<link>https://s4leaguegame.com/2020/11/26/black-friday-offers/</link>
		<comments>https://s4leaguegame.com/2020/11/26/black-friday-offers/#respond</comments>
		<pubDate>Thu, 26 Nov 2020 15:00:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1981</guid>
		<description><![CDATA[Dear Leaguer, Are you prepared for THE weekend? This weekend we will have some truly amazing offers for you! Starting from Friday 27th at 4 [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png" title="Black Friday Offers" width="545" height="332"/></p>
<p>Dear Leaguer,<br><br>Are you prepared for THE weekend? This weekend we will have some truly amazing offers for you!<br><br>Starting from <strong>Friday 27th</strong> at <strong>4 PM</strong> <strong>CET </strong>until <strong>Monday 30th 4 PM CET</strong> you will find a special &#8220;Black Friday&#8221;category in our <a href="https://s4league.aeriagames.com/itemmall">web shop</a>. What will you find in there you may wonder&#8230;<br><br>Juicy items with <strong>up to 50% discount</strong> will await you!<br><br>But wait! The surprises don&#8217;t end here. We will also have a special &#8220;Black Weekend&#8221; Tiered Spender starting on <strong>Friday 27th</strong> at <strong>4 PM</strong> <strong>CET</strong> and ending on <strong>Tuesday December 1st at 4 PM CET</strong>.<br><br>You may wonder if this is all we have for you. Not at all! <br><br>On Monday <strong>30th at 4 PM CET</strong> and for <strong>24 HOURS ONLY</strong> we will have a Cyber Monday SALE with more discounted offers as well as some popular item restock.<br><br>You wonder what the popular items will be for sure. You shall find out soon!<br><br>Enter our <a href="https://s4league.aeriagames.com/itemmall">shop</a> on <strong>Friday 27th</strong> at <strong>4 PM</strong> <strong>CET</strong> and let the shopping begin!<br><br>Farewell, Leaguer!</p>



<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/11/26/black-friday-offers/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
