<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueLogin Reward Event &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/05/20/login-reward-event/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Login Reward Event</title>
		<link>https://s4leaguegame.com/de/2020/05/20/login-reward-event/</link>
		<comments>https://s4leaguegame.com/de/2020/05/20/login-reward-event/#respond</comments>
		<pubDate>Wed, 20 May 2020 08:22:24 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1765</guid>
		<description><![CDATA[Hallo Leaguers, Als ein Dankeschön für das erfolgreiche Wohltätigkeitsevent möchten wir euch etwas zurückgeben. Vom 22.05.2020 bis zum 31.05.2020 werden wir zusätzliche Login Belohnungen vergeben.Alles, [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg" title="Login Reward Event" width="460" height="290"/></p>
<p>Hallo Leaguers,</p>



<p>Als ein Dankeschön für das erfolgreiche Wohltätigkeitsevent möchten wir euch etwas zurückgeben. Vom 22.05.2020 bis zum 31.05.2020 werden wir zusätzliche Login Belohnungen vergeben.<br>Alles, was ihr zu tun habt, ist es, euch an den verschiedenen Tagen einzuloggen! Um die zusätzlichen Belohnungen zu erhalten, müsst ihr euch an 3/5/7 verschiedenen Tagen einloggen, es ist nicht nötig das diese aufeinanderfolgend sind!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="500" height="261" src="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png" alt="" class="wp-image-1760" srcset="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png 500w, https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1-300x157.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></figure>



<p>Die Belohnungen werden innerhalb von 72 Stunden nach Erfüllung der Anforderung vergeben.</p>



<p>Viel Spaß in der NetSphere!</p>



<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/05/20/login-reward-event/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
