<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueNews &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/category/news-de/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Discord Server</title>
		<link>https://s4leaguegame.com/de/2021/03/16/discord-server/</link>
		<comments>https://s4leaguegame.com/de/2021/03/16/discord-server/#respond</comments>
		<pubDate>Tue, 16 Mar 2021 17:00:09 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2121</guid>
		<description><![CDATA[Liebe Leaguers, Wie ihr bereits wisst, wird S4L am 29. April 2021 abgeschalten. Unglücklicherweise werden wir, früher als ursprünglich geplant, den Discord Server bereits am [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Discord Server" width="500" height="300"/></p>
<p>Liebe Leaguers, Wie ihr bereits wisst, wird S4L am 29. April 2021 abgeschalten. Unglücklicherweise werden wir, früher als ursprünglich geplant, den Discord Server bereits am 19. März 2021 schließen.<br><br>Wir empfehlen euch die Discord Server unserer Spiele aus dem gamigo group Portfolio zu besuchen.</p>



<p>Trove &#8211; <a href="https://discord.gg/VqFgpu4Fyz">Link zum Discord</a></p>



<p>Holt eure Freunde, nehmt euer Schwerter und macht euch auf in ein Abenteuer in Trove, das ultimative Block-Action-MMO.</p>



<p>ArcheAge &#8211; <a href="https://discord.com/invite/archeageofficial">Link zum Discord</a></p>



<p>In diesem Fantasy-Sandbox-MMORPG geht es nicht darum, einem vordefinierten Pfad zu folgen, sondern eine Welt zu erschaffen, indem du die Dinge auswählst, die für dich wichtig sind.</p>



<p>Wenn ihr über die letzten Tage von S4 League informiert bleiben möchtet, könnt ihr den [<a href="https://discord.gg/EpQtEds4v4">von der Community erstellten Discord Server</a>] mit unseren S4 League Game Mastern beitreten.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/03/16/discord-server/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Netzwerkwartung</title>
		<link>https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/</link>
		<comments>https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/#respond</comments>
		<pubDate>Mon, 15 Mar 2021 18:44:03 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2021/03/15/netzwerkwartung/</guid>
		<description><![CDATA[Liebe Leaguer, wir planen für morgen, den 16.03.2021, eine Netzwerkwartung. Die Wartung wird voraussichtlich um 08:00 AM CET &#8211; 01:00 AM CT &#8211; 15. März [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="Netzwerkwartung" width="650" height="260"/></p>
<p>Liebe Leaguer, <br><br>wir planen für morgen, den 16.03.2021, eine Netzwerkwartung. Die Wartung wird voraussichtlich um 08:00 AM CET &#8211; 01:00 AM CT &#8211; 15. März 11:00 PM PT beginnen und ca. 30 min dauern. Unsere Server können von dieser Wartung betroffen sein, rechnet also mit einer Ausfallzeit von ca. 30 min. <br><br>Wir danken euch für euer Verständnis!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>S4 League OST</title>
		<link>https://s4leaguegame.com/de/2021/02/26/s4-league-ost/</link>
		<comments>https://s4leaguegame.com/de/2021/02/26/s4-league-ost/#respond</comments>
		<pubDate>Fri, 26 Feb 2021 10:59:27 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2098</guid>
		<description><![CDATA[Liebe Leaguers, Mit der Schließung des Spiels zum Ende April, ist es wichtig, so viele besondere Momente zu teilen, wie möglich. Daher möchten wir einen [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png" title="S4 League OST" width="997" height="630"/></p>
<p>Liebe Leaguers, <br><br>Mit der Schließung des Spiels zum Ende April, ist es wichtig, so viele besondere Momente zu teilen, wie möglich. <br>Daher möchten wir einen Link mit allen S4 League Original Soundtracks mit euch teilen. Mit der Absicht, gute Erinnerungen an kompetitiven Spielen mit Freunden und Teamkameraden zurückzubringen. <br><br>Musik und Soundtracks sind ein wichtiges Element für jedes Spiel und wir wissen, dass diese Soundtracks viel für euch bedeuten, da sie Nostalgie zurückbringen und vielmehr ist es wichtig, dass wir an die schönen Momente festhalten, sodass wir uns alle daran erinnern können, was für ein wunderbares Spiel S4 League ist. <br><br>Auf ein buntes, melodisches und sonniges Wochenende! <br>Link mit den Songs: <a data-redactor-span="true" href="http://bit.ly/S4_OST">http://bit.ly/S4_OST</a> <br><br>Mit freundlichen Grüßen, <br>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/02/26/s4-league-ost/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>S4 League Ankündigung Spiel Schließung</title>
		<link>https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/</link>
		<comments>https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/#respond</comments>
		<pubDate>Wed, 24 Feb 2021 16:30:40 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2064</guid>
		<description><![CDATA[Hallo Leaguers, Seit dem Start von S4 League haben wir unzählige glückliche Momente mit euch verbracht. Heute kommen wir mit schwerem Herzen zu euch. S4 [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="S4 League Ankündigung Spiel Schließung" width="650" height="260"/></p>
<p>Hallo Leaguers,

Seit dem Start von S4 League haben wir unzählige glückliche Momente mit euch verbracht. Heute kommen wir mit schwerem Herzen zu euch. S4 League wird am 29. April 2021 offiziell alle Dienste einstellen. Diese Entscheidung wurde getroffen, nachdem sich das Spiel nicht mehr selbst erhalten kann.</p>



<p>Du fragst dich was bis dahin passieren wird?

Unsere CMs werden euch weiterhin mit Events unterhalten und ihr könnt das Spiel weiterhin spielen, jedoch mit einigen Einschränkungen. Unser Webshop ist ab Mittwoch, 24. Februar 2021, geschlossen, daher sind AP-Käufe nicht mehr möglich. Unser In-Game-Shop bleibt jedoch weiterhin aktiv und wir gewähren Rabatte mit bis zu 95% Rabatt auf alle Items.</p>



<p>Was ist mit meinen in den letzten Monaten verbrauchten AP?

Für alle, die Gegenstände mit Aeria Points gekauft haben, bieten wir eine Rückerstattung der AP auf den Konten unter den folgenden Kriterien an:

Wir erstatten 100% aller in den letzten 60 Tagen ausgegebenen AP oder 200% aller in den letzten 30 Tagen ausgegebenen AP. Die Aeria Points werden dem Aeria Games Konto erneut gutgeschrieben.

Für die Rückerstattung wendet euch bitte an unseren Kundensupport.</p>



<p>Spieler können in einem Newsletter besondere Geschenke für bestimmte Spiele aus dem gamigo Portfolio erwarten.</p>



<p>Zusätzlilch werdet ihr hier einige Geschenke für die folgenden Spiele finden, um einen einfacheren Start zu haben: <br><br>TROVE [<a href="https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow">https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow</a>] <br><br>Holt eure Freunde, nehmt euer Schwerter und macht euch auf in ein Abenteuer in Trove, das ultimative Block-Action-MMO. <br>Code: THXANDSEEYOUINTROVE</p>



<p>ArcheAge [<a href="https://www.trionworlds.com/archeage/en/">https://www.trionworlds.com/archeage/</a>]</p>



<p>In diesem Fantasy-Sandbox-MMORPG geht es nicht darum, einem vordefinierten Pfad zu folgen, sondern eine Welt zu erschaffen, indem du die Dinge auswählst, die für dich wichtig sind.<br>Code: WELCOMELEAGUERAA <br><br>Desert Operations [<a href="https://desertoperations.gamigo.com/">https://desertoperations.gamigo.com/</a>] <br><br>Erobere die Welt durch Kämpfe, Diplomatie und Teamplay! Fahrzeuge, Kampf-Helikopter, Flugzeuge, Schiffe und vieles mehr werden euer sein um wichtige wirtschaftliche und strategische Entscheidung in diesem Strategy MMO zu treffen! <br>Code: DOWARMUP</p>



<p>Für alle, die sich fragen, was sie jetzt spielen sollen, da Ihr Lieblingsspiel zu Ende geht, keine Sorge! Wir haben Spiele aller Arten und Genres hier bei gamigo! Besuche unsere Webseite unter <a href="https://gamigo.net/">https://gamigo.net/</a> und wähle deine nächste Leidenschaft aus!</p>



<p>Wir danken jeder einzelnen Person, die sich die Zeit genommen hat, unser geliebtes Spiel zu spielen, und uns dabei mit Feedback und Vorschlägen geholfen hat. Ihr wart eine wunderbare Community.</p>



<p>Für weitere Informationen kannst du die <a href="https://s4league.aeriagames.com/forum/wcf/index.php?article/733-s4-league-game-closure-faq/">FAQ in unserem Forum</a> aufsuchen.</p>



<p>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Kopmensationspaket</title>
		<link>https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/</link>
		<comments>https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/#respond</comments>
		<pubDate>Fri, 19 Feb 2021 13:36:11 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2021/02/19/kopmensationspaket/</guid>
		<description><![CDATA[Hallo Leaguers, danke für eure Geduld und euer Verständnis für die letzten 2 Monate. Wir verstehen, dass euer Erlebnis während dieser Zeit viel gelittet hat [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Kopmensationspaket" width="500" height="300"/></p>
<figure class="wp-block-image size-large"><img src="https://i.imgur.com/7Nemq04.jpg" alt=""/></figure>



<p>Hallo Leaguers, danke für eure Geduld und euer Verständnis für die letzten 2 Monate.</p>



<p>Wir verstehen, dass euer Erlebnis während dieser Zeit viel gelittet hat und wir möchten etwas an euch zurückgeben.
Mit diesem Kompensationspaket ist jeder Spieler in der Lage die folgende Gegenstände zu erhalten:</p>



<ul><li>1x 100% Unique Booster</li><li>3x Random Weapon Capsule</li><li>3x Random Female Costume Capsule</li><li>3x Random Male Costume Capsule</li><li>3x Unique Skill Capsule</li><li>1x Random Esper Chip Lv5 Capsule</li><li>1x 50.000 PEN</li></ul>



<p>GEBE DEN GUTSCHEIN COMPENSATION EIN, UM DAS PAKET ZU ERHALTEN.</p>



<p>Fordere dein Paket bis zum 23. Februar 2021 an. Danach ist er nicht mehr verfügbar.</p>



<p>Erhalte dein Paket <a rel="noreferrer noopener" href="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486" target="_blank" data-type="URL" data-id="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486">hier</a>. </p>



<p>Mit freundlichen Grüßen,<br>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
			<item>
		<title>Wartung 21.01</title>
		<link>https://s4leaguegame.com/de/2021/01/20/wartung-21-01/</link>
		<comments>https://s4leaguegame.com/de/2021/01/20/wartung-21-01/#respond</comments>
		<pubDate>Wed, 20 Jan 2021 13:29:55 +0000</pubDate>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2021/01/20/wartung-21-01/</guid>
		<description><![CDATA[Liebe Leaguer,&#13; &#13; am 21.01.2021 um 09:00 Uhr MEZ &#8211; 02:00 Uhr CT &#8211; 00:00 Uhr PT werden wir eine Wartung an unseren Servern durchführen.&#13; [&#8230;]]]></description>
						<content:encoded><![CDATA[
<p><div>Liebe Leaguer,&#13;
&#13;
am 21.01.2021 um 09:00 Uhr MEZ &#8211; 02:00 Uhr CT &#8211; 00:00 Uhr PT werden wir eine Wartung an unseren Servern durchführen.&#13;
&#13;
Die voraussichtliche Dauer beträgt zwei Stunden.</div></p>

<p>In der Zwischenzeit werden die Server heruntergefahren und ihr werdet das Spiel nicht betreten können, bis die Wartung beendet ist.</p>

<p><div>Wir danken euch für euer Verständnis!&#13;
&#13;
Grüße!</div></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/01/20/wartung-21-01/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Macht euch bereit für Reforestation!</title>
		<link>https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/</link>
		<comments>https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/#respond</comments>
		<pubDate>Wed, 16 Dec 2020 13:26:13 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2029</guid>
		<description><![CDATA[Im vergangenen Frühjahr hat sich Gamigo mit Eden Reforestation Projects zusammengetan, um durch das Pflanzen von Bäumen eine positive Wirkung zu erzielen. Mit eurer Hilfe [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg" title="Macht euch bereit für Reforestation!" width="1920" height="700"/></p>
<p>Im vergangenen Frühjahr hat sich Gamigo mit Eden Reforestation Projects zusammengetan, um durch das Pflanzen von Bäumen eine positive Wirkung zu erzielen. Mit eurer Hilfe haben wir Eden Reforestation Projects erfolgreich dabei geholfen, über 113.127 Bäume zu pflanzen und mehr als 1.000 Tage mit fairen Lohnbeschäftigungen für lokale Dorfbewohner zu bieten, die neben den Projektstandorten leben.<br><br>Aber es gibt noch mehr zu tun. Und gemeinsam planen wir einen noch größeren Einfluss. In dieser Weihnachtszeit arbeitet Gamigo erneut mit Eden Reforestation Projects zusammen, um der Mutter Erde gute Laune zu bereiten und ein Geschenk zu machen.<br><br>Eden Reforestation Projects bekämpfen aktiv die Klimakrise, indem sie Wälder Baum für Baum wiederherstellen und die verheerenden Auswirkungen der Entwaldung lindern. Und jeder gepflanzte Baum dient dazu, das gesamte Leben zu schützen, zu versorgen, zu pflegen und zu erhalten. Aber die geleistete Arbeit durch Eden Reforestation Projects baut auch Gemeinden wieder auf. Faire Löhne und das Engagement für den Aufbau von Fähigkeiten und die Beschäftigung von Frauen und Alleinerziehenden verhindern, dass Landwirte sich selbst oder ihre Familien in die Sklaverei verkaufen, um zu überleben. Wir haben schon einmal einen Unterschied ausgemacht, lasst es uns erneut tun, zusammen!<br><br>Ab heute, dem 16. Dezember 2020, laden wir euch ein, sich uns bei dieser #gamigotrees Wohltätigkeitsaktion anzuschließen, die zeigt, was wir gemeinsam durch Spiele erreichen und Menschen und der Erde helfen können, eine nachhaltige, harmonische Zukunft für kommende Generationen zu erreichen.<br><br>Wir werden 3 Pakete mit tollen Gegenständen anbieten, die zu diesem Anlass helfen können. Mit dem Kauf jedes Paketes pflanzt Eden Reforestation Projects 5, 10 oder sogar 20 Bäume in einer bedürftigen Region! Schaut sie euch an!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="315" src="https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg" alt="" class="wp-image-2030" srcset="https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg 560w, https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-300x169.jpg 300w, https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-768x432.jpg 768w, https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675.jpg 1200w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Wenn ihr an unserer Wohltätigkeitsveranstaltung teilnehmt, unterstützt ihr das Pflanzen von Bäumen auf der ganzen Welt und erklimmt die globale Rangliste, um durch die Teilnahme an unserer Verlosung exklusive Preise von GIGABYTE, Monster und ROCCAT zu gewinnen. Wir feiern den Geist der Solidarität. Für jeden gepflanzten Baum erhaltet ihr einen Beitrag zur Teilnahme an unserer Verlosung und erhaltet die Chance, ein Gewinner zu werden. Eine weitere Möglichkeit besteht darin, an unserer Umfrage teilzunehmen und einen einzigen Eintrag zu erhalten. Je mehr Pakete ihr kauft, desto mehr Gewinnchancen habt ihr. <br><br>Für weitere Details klickt <a href="https://charity.gamigo.com/de">hier</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Adventkalendar</title>
		<link>https://s4leaguegame.com/de/2020/12/01/adventkalendar/</link>
		<comments>https://s4leaguegame.com/de/2020/12/01/adventkalendar/#respond</comments>
		<pubDate>Tue, 01 Dec 2020 12:30:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2009</guid>
		<description><![CDATA[Hi Leaguers, Weihnachten ist nahe und wor würden gerne den Adventkalendar mit euch teilen! Genieße so viel vom Event, wie möglich! *Spiel den Snowball Modus [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg" title="Adventkalendar" width="700" height="300"/></p>
<p>Hi Leaguers,</p>



<p>Weihnachten ist nahe und wor würden gerne den <a href="https://gamigo.net/advent/s4league/en/">Adventkalendar</a> mit euch teilen!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="474" height="934" src="https://assets.cdn.one.gamigo.com/2020/12/c16c4059-capturede.png" alt="" class="wp-image-2019" srcset="https://assets.cdn.one.gamigo.com/2020/12/c16c4059-capturede.png 474w, https://assets.cdn.one.gamigo.com/2020/12/c16c4059-capturede-152x300.png 152w" sizes="(max-width: 474px) 100vw, 474px" /></figure>



<p>Genieße so viel vom Event, wie möglich!</p>



<p>*Spiel den Snowball Modus am 24.12. und eliminiere 10 Spieler. Wir verlosen 10 Benutzer von allen, die diese Aufgabe erledigt haben. Füllt dieses Dokument aus:&nbsp;<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7rbjkudyykGaWoVR25sKPoe1xCs9Ot1FuGSOaLAIOV5UOU1YUUtZWlE4MUZNTk9RWlJaRkVRODE3RC4u">LINK</a></p>



<p>Genießt den Adventkalendar!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/12/01/adventkalendar/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Angebote zum Schwarzen Freitag</title>
		<link>https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/</link>
		<comments>https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/#respond</comments>
		<pubDate>Thu, 26 Nov 2020 15:09:20 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/11/26/angebote-zum-schwarzen-freitag/</guid>
		<description><![CDATA[Liebe Leaguer,   Seid ihr auf DAS Wochenende vorbereitet? Dieses Wochenende haben wir einige wirklich erstaunliche Angebote für euch!   Von Freitag, 27. November um [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png" title="Angebote zum Schwarzen Freitag" width="545" height="332"/></p><div>
<div>Liebe Leaguer,</div>
<div>
<div> </div>
<div>
<div>Seid ihr auf DAS Wochenende vorbereitet? Dieses Wochenende haben wir einige wirklich erstaunliche Angebote für euch!</div>
<div>
<div> </div>
<div>
<div>Von <strong>Freitag, 27. November um 16.00 Uhr CET</strong> bis <strong>Montag, 30. November um 16.00 Uhr CET</strong> findet ihr in unserem <a href="https://s4league.aeriagames.com/itemmall">Webshop</a> eine spezielle Kategorie &#8222;Blck Frdy&#8220;. Was ihr dort finden werdet, werdet euch fragen&#8230;</div>
<div>
<div> </div>
<div>
<div>Saftige Items mit <strong>bis zu 50% Rabatt</strong> warten auf euch!</div>
<div>
<div> </div>
<div>
<div>Aber wartet! Die Überraschungen enden hier noch nicht. Wir werden auch ein spezielles &#8222;Schwarzes Wochenende&#8220; mit gestaffelten Ausgaben haben, das am <strong>Freitag, den 27. November um 16 Uhr CET</strong> beginnt und am Dienstag, den <strong>1. Dezember um 16 Uhr CET</strong> endet.</div>
<div>
<div> </div>
<div>
<div>Ihr fragt euch vielleicht, ob das alles ist, was wir für euch haben. Ganz und gar nicht!</div>
<div>
<div> </div>
<div>
<div>Am Montag, den <strong>30. November um 16.00 Uhr CET</strong> und <strong>NUR für 24 STUNDEN</strong> haben wir einen Cyber-Montags VERKAUF mit mehr ermäßigten Angeboten sowie einige beliebte Items auf Lager.</div>
<div>
<div> </div>
<div>
<div>Ihr fragt euch sicher, was die beliebten Items sein werden. Ihr werdet es bald herausfinden!</div>
<div>
<div> </div>
<div>
<div>Betretet unseren <a href="https://s4league.aeriagames.com/itemmall">Webshop</a> am Freitag, <strong>den 27. November um 16 Uhr CET</strong> und lasst den Einkauf beginnen!</div>
<div>
<div> </div>
<div>
<div>Auf Wiedersehen, Leaguer!</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>GM Jagd</title>
		<link>https://s4leaguegame.com/de/2020/11/19/gm-jagd/</link>
		<comments>https://s4leaguegame.com/de/2020/11/19/gm-jagd/#respond</comments>
		<pubDate>Thu, 19 Nov 2020 18:09:53 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1979</guid>
		<description><![CDATA[Hallo Leaguers! Es ist wieder einmal an der Zeit, unsere Game Masters zu jagen. Verpasst nicht diese Gelegenheit, ihnen euer Können zu demonstrieren und mit [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg" title="GM Jagd" width="900" height="225"/></p>
<p>Hallo Leaguers!</p>



<p>Es ist wieder einmal an der Zeit, unsere Game Masters zu jagen. Verpasst nicht diese Gelegenheit, ihnen euer Können zu demonstrieren und mit einem Kopfgeld belohnt zu werden.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/5eaddd4b38e52ca8d220a362fdc7abf2/files/s4l/image/H/HowtoParticipateam22.png" alt="HowtoParticipateam22.png" width="224" height="20"/></figure>



<p>Das GM-Team wird private Räume erstellen oder beitreten! Ihr müsst einen GM besiegen, ohne eine Unterstützung zu erhalten! Der GM Name muss deutlich auf der Bildschirmaufnahme erkennbar sein.</p>



<p>Nicht vergessen! Die Taste für die Bildschirmaufnahme ist F12!</p>



<p><a href="https://s4league.aeriagames.com/forum/index.php?thread/37-s4league-community-managers-game-masters/">Hier ist eine Liste der aktuellen GMs</a></p>



<p>Schicke uns deinen Screenshot des GM-Kills unter diesem Formular:</p>



<p><a href="https://bit.ly/GMHUNT-0420">EINREICHEN</a></p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/66d217100f38b25774b326cb238a663c/files/s4l/image/W/Whenam22.png" alt="Whenam22.png" width="83" height="20"/></figure>



<p>Die Veranstaltungen finden vom 20. bis 22. November und vom 27. bis 29. November statt. GMs werden die genaue Zeit auf Discord mitteilen.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/27ea059b472ad28776111c5ba5b9be0e/files/s4l/image/P/Prizesam22.png" alt="Prizesam22.png" width="83" height="20"/></figure>



<p>Du kannst dir ein Paket der folgenden Belohnungen auswählen:</p>



<ul><li>2x Toy Gun Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Galaxy Counter Sword Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Space Rabbit Pet Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Marko Parrot Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Sexy Striker (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Fumbi Striker (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Violet (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Leo (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li></ul>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/d0fd9fb3ef8ba7d9be0cf3272c399483/files/s4l/image/R/Rulesam22.png" alt="Rulesam22.png" width="73" height="20"/></figure>



<ul><li>Ihr könnt an diesem Event nur zweimal teilnehmen, mehr als zwei Einsendungen werden nicht berücksichtigt!</li><li>Ihr könnt nur einen Nachweis pro GM einreichen. Ihr werdet nicht zweimal für denselben GM belohnt!</li><li>Euer Name und der GM-Name sollten lesbar sein.</li><li>Ihr dürft die Screenshots in keiner Weise bearbeiten!</li><li>Sendet eure Nachweise oben im Formular ein.</li><li>Eure Kills müssen ohne Assists gemacht werden!</li><li>Einsendungen nach Ablauf der Frist werden nicht akzeptiert. Es werden keine Ausnahmen gemacht!</li><li>Ladet die Bildschirmaufnahme auf&nbsp;<a href="https://imgbb.com/">https://imgbb.com/</a>&nbsp;oder einer ähnlichen Plattform zum Teilen von Screenshots hoch.</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/11/19/gm-jagd/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
