<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueLogin Reward Event &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/05/20/login-reward-event/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Login Reward Event</title>
		<link>https://s4leaguegame.com/fr/2020/05/20/login-reward-event/</link>
		<comments>https://s4leaguegame.com/fr/2020/05/20/login-reward-event/#respond</comments>
		<pubDate>Wed, 20 May 2020 08:15:55 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1763</guid>
		<description><![CDATA[Bonjour Leagueurs, &#160; En guise de remerciement pour le succès de l&#8217;action caritative, nous voulons donner quelque chose en retour. Du 22.05.2020 au 31.05.2020, nous [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg" title="Login Reward Event" width="460" height="290"/></p>
<p>Bonjour Leagueurs, &nbsp; </p>



<p>En guise de remerciement pour le succès de l&rsquo;action caritative, nous voulons donner quelque chose en retour. Du 22.05.2020 au 31.05.2020, nous vous offrons des récompenses supplémentaires pour votre connexion au jeu !<br>Il vous suffit de vous connecter à des jours différents ! Pour les objets bonus distribués pour la connexion sur 3/5/7 jours, il n&rsquo;est pas nécessaire de se connecter sur des jours consécutifs !   </p>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png" alt="" class="wp-image-1760" srcset="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png 500w, https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1-300x157.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></figure>



<p>Les récompenses sont généralement distribuées dans les 72 heures suivant la date à laquelle vous avez rempli les conditions. &nbsp;</p>



<p>Amusez-vous bien dans la NetSphere !</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/05/20/login-reward-event/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
