<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueWartung 21.01 &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2021/01/20/wartung-21-01/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
		<item>
		<title>Wartung 21.01</title>
		<link>https://s4leaguegame.com/de/2021/01/20/wartung-21-01/</link>
		<comments>https://s4leaguegame.com/de/2021/01/20/wartung-21-01/#respond</comments>
		<pubDate>Wed, 20 Jan 2021 13:29:55 +0000</pubDate>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2021/01/20/wartung-21-01/</guid>
		<description><![CDATA[Liebe Leaguer,&#13; &#13; am 21.01.2021 um 09:00 Uhr MEZ &#8211; 02:00 Uhr CT &#8211; 00:00 Uhr PT werden wir eine Wartung an unseren Servern durchführen.&#13; [&#8230;]]]></description>
						<content:encoded><![CDATA[
<p><div>Liebe Leaguer,&#13;
&#13;
am 21.01.2021 um 09:00 Uhr MEZ &#8211; 02:00 Uhr CT &#8211; 00:00 Uhr PT werden wir eine Wartung an unseren Servern durchführen.&#13;
&#13;
Die voraussichtliche Dauer beträgt zwei Stunden.</div></p>

<p>In der Zwischenzeit werden die Server heruntergefahren und ihr werdet das Spiel nicht betreten können, bis die Wartung beendet ist.</p>

<p><div>Wir danken euch für euer Verständnis!&#13;
&#13;
Grüße!</div></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/01/20/wartung-21-01/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
