<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueS4 League Game Closure Announcement &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>S4 League Game Closure Announcement</title>
		<link>https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/</link>
		<comments>https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/#respond</comments>
		<pubDate>Wed, 24 Feb 2021 02:11:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2059</guid>
		<description><![CDATA[Dear Leaguers, Since the launch of S4 League, we have spent countless happy times together with you, forging last friendships and relationships. Today, we come [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="S4 League Game Closure Announcement" width="650" height="260"/></p>
<p>Dear Leaguers,<br><br>Since the launch of S4 League, we have spent countless happy times together with you, forging last friendships and relationships. Today, we come to you with sad news and heavy hearts. We have concluded that S4L can no longer sustain itself. As a result, S4 League will officially cease all operations on April 29, 2021.</p>



<p>What happens next? <br><br>Your CMs will continue to entertain you with events, and you will still be able to play the game. However, with a few restrictions. Our web mall will be closed for transactions beginning Wednesday, February 24, 2021, meaning all AP purchases will no longer be possible. Our in-game shop will remain open with discounts of up to 95% off on all items.</p>



<p>What about my spent AP in the last months?<br><br>If you have purchased items with Aeria Points (AP), you will receive a refund of the AP on your accounts. We will refund 100% of all AP spent in the last 60 days or 200% of all AP spent within the last 30 days to your Aeria Games account. For the refund, please contact our Customer Support Team.</p>



<p>Leaguers can also expect additional gifts to specific games from the gamigo portfolio in a follow-up newsletter.</p>



<p>Further, as a welcome gift, please find unique codes to specific games to get your new adventures off to a great start. <br><br>TROVE [<a href="https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow">https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow</a>] <br><br>Grab your friends, hone your blades, and set off for Adventure in Trove, the ultimate blocky action MMO. <br>Redemption Code: THXANDSEEYOUINTROVE </p>



<p>ArcheAge [<a href="https://www.trionworlds.com/archeage/en/">https://www.trionworlds.com/archeage/</a>]</p>



<p>This fantasy-sandbox MMORPG isn&#8217;t about following a predefined path, it&#8217;s about creating a world by choosing the things that matter to you.</p>



<p>Redemption Code: WELCOMELEAGUERAA<br><br>Desert Operations [<a href="https://desertoperations.gamigo.com/">https://desertoperations.gamigo.com/</a>] <br><br>Conquer the world through battle, diplomacy and teamplay! Vehicles, helicopter gunships, jets, ships and much more are to be yours to take important economic and strategic decisions in this strategy MMO! <br>Redemption Code: DOWARMUP</p>



<p>To everyone wondering what to play now that your favorite game at gamigo is closing, worry not! We have games from all types and genres here at gamigo! Check our website at <a href="https://gamigo.net/">https://gamigo.net/</a> and pick your next passion!</p>



<p>A heartfelt thank you to every player who took the time to play our beloved game and helped us along the way with feedback and suggestions. You are in an incredible community.</p>



<p>For additional information, you can visit our <a href="https://s4league.aeriagames.com/forum/wcf/index.php?article/733-s4-league-game-closure-faq/">FAQ forum thread</a> for more detail.</p>



<p>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
