<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueMAINTENANCE BILLING &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>MAINTENANCE BILLING</title>
		<link>https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/</link>
		<comments>https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/#respond</comments>
		<pubDate>Mon, 13 Jul 2020 15:58:46 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/07/13/maintenance-billing/</guid>
		<description><![CDATA[Leaguers, nous voulons vous informer de notre prochain maintenance. Le mardi 14 juillet à 7h00 CEST, il y aura une maintenance de notre système de [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png" title="MAINTENANCE BILLING" width="690" height="330"/></p>
<p>Leaguers, nous voulons vous informer de notre prochain maintenance.</p>



<p>Le mardi 14 juillet à 7h00 CEST, il y aura une maintenance de notre système de facturation. Pendant la maintenance, vous ne pourrez pas utiliser les Aeria Points (AP) ni faire d&rsquo;achats pour les Aeria Points (AP)</p>



<p>Nous estimons que la maintenance dure 2 heures. N&rsquo;hésitez pas à rejoindre notre chaîne Discord pour être informé de la fin de la maintenance de facturation.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
