<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueDéfi de la semaine &#8211; Eagle Eye &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Défi de la semaine &#8211; Eagle Eye</title>
		<link>https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/</link>
		<comments>https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/#respond</comments>
		<pubDate>Fri, 17 Jul 2020 17:12:14 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/e22e346e-cotw_29_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/07/17/challenge-of-the-week-eagle-eye/</guid>
		<description><![CDATA[Bonjour Leagueurs! Bienvenue au nouveau défi ! Pour créer des expériences de jeu passionnantes et de haut niveau, l&#8217;équipe de S4 League organise régulièrement une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/e22e346e-cotw_29_20.jpg" title="Défi de la semaine &#8211; Eagle Eye" width="2000" height="500"/></p>
<p>Bonjour Leagueurs!</p>



<p>Bienvenue au nouveau défi !</p>



<p>Pour créer des expériences de jeu passionnantes et de haut niveau, l&rsquo;équipe de S4 League organise régulièrement une variété d&rsquo;événements Challenge !</p>



<p>Participez à l&rsquo;événement et gagnez de superbes récompenses !</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/bc2dfd295246468decc37d588bd62ba1/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touch Down</strong></p>



<p><strong>Carte:&nbsp;Wonderland, Ice Square</strong></p>



<p><strong>Nombre de joueurs: 6 ou plus<br><br>Pas de mode friendly (FM) autorisé</strong></p>



<p><strong>Niveau Régulier</strong>: Tuer 25 ennemis.</p>



<p><strong>Niveau Leaguer</strong>: Tuer 60 ennemis.</p>



<p><strong>Niveau eSper</strong>: Tuer 100 ennemis.</p>



<p>L&rsquo;événement se déroule automatiquement. Il n&rsquo;est pas nécessaire de prouver sa participation.<br>Cela peut être fait dans différents jeux.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/9d0b31d3b9431fa644d5b9cafac4cd82/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg"/></figure>



<p>Le défi de cette semaine sera actif du 17 juillet à 20h00 CEST jusqu&rsquo;au 26 juillet à 23h59 CEST.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/a2c55bf9a5a4781157a969d42acac5cd/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg"/></figure>



<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/ee9252486db19716f0709cacfc02b8ef/files/s4l/image/d/dragonade_ergebnis.png" alt="dragonade_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/eafc5e3f7116bea76d97e0070bd8f445/files/s4l/image/i/icon_gun_sharpshooter_unique_ergebnis.png" alt="icon_gun_sharpshooter_unique_ergebnis.png"/></figure></li></ul></figure>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-560x276.png" alt="" class="wp-image-1873" srcset="https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-560x276.png 560w, https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-300x148.png 300w, https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-768x379.png 768w, https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image.png 884w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/31d624d8675c3f984cf6d95132e8d530/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg"/></figure>



<p>&#8211; Les challenges hebdomadaires sont l’événement où vous accomplissez une tâche seul ou avec vos coéquipiers.</p>



<p>&#8211; Pas de mode friendly (FM) autorisé</p>



<p>&#8211; S’il y a des restrictions de la chambre vous devez les suivez</p>



<p>&#8211; Les récompenses seront distribuées après la fin de l’évènement</p>



<p>&#8211; Aucune forme de triche ne sera tolérée</p>



<p>&#8211; Farming n’est pas autorisé</p>



<p>&#8211; Nous nous réservons le droit de disqualifier toute inscription susceptible d&rsquo;enfreindre les règles du concours ou notre ToS!</p>



<p>&#8211; Aucune exception pour la participation en dehors de la période définie ne sera accordée. Pardon!</p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
