<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueGamigo 20th anniversary events &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/10/01/gamigo-20th-anniversary-events/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Gamigo 20th anniversary events</title>
		<link>https://s4leaguegame.com/2020/10/01/gamigo-20th-anniversary-events/</link>
		<comments>https://s4leaguegame.com/2020/10/01/gamigo-20th-anniversary-events/#respond</comments>
		<pubDate>Thu, 01 Oct 2020 13:55:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/10/d44123a8-sites4.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1884</guid>
		<description><![CDATA[Hi Leaguers, Are you ready to sing the &#8220;Happy birthday&#8221; song? It&#8217;s gamigo&#8217;s 20th anniversary! Prepare for a month filled with events and a huge [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/10/d44123a8-sites4.png" title="Gamigo 20th anniversary events" width="716" height="308"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="213" src="https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-560x213.png" alt="" class="wp-image-1932" srcset="https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-560x213.png 560w, https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-300x114.png 300w, https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-768x292.png 768w, https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain.png 820w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Hi Leaguers,<br><br>Are you ready to sing the &#8220;Happy birthday&#8221; song? It&#8217;s gamigo&#8217;s 20th anniversary! Prepare for a month filled with events and a huge raffle!<br>Starting 1st of October, every week we&#8217;ll present a special screenshot event where you can all win amazing prizes, earn points and participate in our big raffle to win awesome real-life rewards.<br><br>Unlike all our previous events from different platforms, these are all linked together, meaning you can participate in either our Facebook&#8217;s, Twitter&#8217;s or Forum&#8217;s screenshot event, it does not matter, your submission will count for the huge raffle where you can win awesome GIGABYTE rewards and a lot of digital rewards!<br><br>There will be a ranking system in which all players who participate in the special gamigo anniversary events compete. Ranking points will be regularly updated but they will not be synchronized in real-time with all events. Top 5 players in the ranking from every game will participate in the raffle once the anniversary is over.<br><br>Events will begin on the 1st of October and the competition will last until the end of the month when we will publish the winners and rewards.<br>Only the top 50 players on the ranking will be visible, but the points will be stored and your name will be visible if u hit the mark!</p>



<p><strong>Forum Events</strong><br><br>Every week we will have a screenshot <strong>Forum</strong> event running. 10,000 Points will be given for each Anniversary Event. The number of points you can win will vary depending on how many players participate. For example, if there are only two (2) participants, they will each receive 5,000 points. However, if there are twenty (20) or more participants, each will receive 500 points.</p>



<p><strong>Discord Events</strong><br><br>A special room in Discord called <strong>#20th-gamigo-anniversary</strong> will appear where you will be able to share screenshots as well. Each week we will publish a task that you must complete. 10,000 Points will be distributed  and depending on participants there may be 2 winners  with 5,000 points each or 20 (or more) with 500.</p>



<p><strong>Social media Events</strong><br><br>Social media screenshot events will appear throughout the whole month. 10 screenshots of each post will receive 1,000 anniversary points.</p>



<p><strong>In-game Events</strong><br><br>On top of that, we have prepared other amazing in-game events, where you can not only win awesome rewards but also anniversary points. The points split will be the following: <br><br>1st place &#8211; 5000 points<br>2nd place &#8211; 2500 points <br>3rd place &#8211; 1000 points<br>4th place &#8211; 500 points <br>5th place &#8211; 250 points<br>6th to 10th place -150 points<br><br>Your tasks will be:</p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/CNWV8DB.png" alt=""/></figure>



<p><strong>Week 1</strong> &#8211; The player with the most kills will get 5000 points, 2nd best result &#8211; 2500 points, 3rd best result 1000 points etc.<br><strong>Week 2</strong> &#8211; The player with the most Touch Downs will get 5000 points, 2nd best result 2500 points, 3rd best result 1000 points etc.<br><strong>Week 3</strong> &#8211; The player with most kills in Chaser mode will get 5000 points, 2nd best result 2500 points, 3rd best result 1000 points etc.<br><strong>Week 4</strong> &#8211; The player with most won games of any mode will get 5000 points, 2nd best result 2500 points, 3rd best result 1000 points etc.<br><br><em>There will be no live tracker showing who has finished 1st, 2nd, 3rd, etc. We will extract this data from our tools</em>.</p>



<p><strong>Voucher Giveaway</strong><br><br>Moreover, we are going to share a master code with all of you on one of our platforms &#8211; Facebook, Discord, Twitter, Forum, Website! This master code contains different rewards and the first 10 players to redeem the code will receive 500 points on top of the rewards for our big gamigo 20th anniversary raffle! So be sure to constantly check all our platforms in order to not miss the code and also strive to be among the first 10 to redeem it.<br><br>Doesn&#8217;t all this sound exciting?</p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/xv87gZr.png" alt=""/></figure>



<p><strong>Share your moment</strong><br><br>We aren’t done yet! We still have one more contest for you! “<strong><a href="https://20th.gamigo.net/en/shareyourmoment.html">Share your moment</a></strong>” will give you the opportunity to share your most memorable moment with us in the past 20 years and send us birthday wishes congratulating us in-game or in real life via text, video, image, selfie or however you prefer to do it for a chance to win one of the limited edition gamigo20th hoodies!<br>In order to participate in this contest, please share your moment/birthday wish using the #gamigo20 on Facebook, Twitter, Instagram.<br>Once the contest ends we will raffle amongst all entries 20 hoodies, as well as feature them in a special birthday wish trailer.<br><br>Timeline for this contest is 1st of October-29th of October.</p>



<p>For more details on the gamigo 20th anniversary and its rewards, visit our main event website <a href="https://20th.gamigo.net/en">here</a>.</p>



<p><strong>Rules of participation</strong> in our gamigo anniversary contests:</p>



<ol><li>Everyone&nbsp;who&nbsp;participates&nbsp;must&nbsp;be&nbsp;18&nbsp;years&nbsp;old.&nbsp;</li></ol>



<ol start="2"><li>Employees&nbsp;of&nbsp;gamigo AG&nbsp;or&nbsp;their&nbsp;relatives, and Game Masters&nbsp;or&nbsp;their&nbsp;relatives&nbsp;are&nbsp;not&nbsp;allowed&nbsp;to&nbsp;participate.&nbsp;</li></ol>



<ol start="3"><li>Participants&nbsp;will&nbsp;be&nbsp;entered&nbsp;to&nbsp;win&nbsp;the&nbsp;prizes&nbsp;mentioned&nbsp;in&nbsp;the&nbsp;event&nbsp;description.&nbsp;</li></ol>



<ol start="4"><li>If gamigo has reasonable suspicion of the violation of these rules,<br>then gamigo reserves the possibility to exclude those persons from participating. In those cases, it’s possible to revoke prizes afterwards and draw a new winner. </li></ol>



<ol start="5"><li>The&nbsp;prize&nbsp;cannot&nbsp;be&nbsp;transferred&nbsp;to&nbsp;another&nbsp;person&nbsp;and&nbsp;cannot&nbsp;be&nbsp;paid&nbsp;as&nbsp;cash. gamigo&nbsp;reserves&nbsp;the&nbsp;right&nbsp;to&nbsp;replace&nbsp;single&nbsp;prizes&nbsp;with&nbsp;equivalent&nbsp;or&nbsp;superior&nbsp;prizes.&nbsp;It’s&nbsp;not possible&nbsp;to&nbsp;give&nbsp;prizes&nbsp;to&nbsp;underage&nbsp;persons.&nbsp;</li></ol>



<ol start="6"><li>If there are disagreements regarding the rules, the process or results of the lottery,<br>then the decision made by gamigo is final. It is not subject to legal recourse. </li></ol>



<ol start="7"><li>The Data&nbsp;is&nbsp;confidential&nbsp;and will&nbsp;be&nbsp;handled&nbsp;by&nbsp;gamigo&nbsp;according&nbsp;to&nbsp;the&nbsp;legal&nbsp;data&nbsp;protection&nbsp;regulations.&nbsp;</li></ol>



<p><strong>Rankings</strong><br><br>Names in the rankings will be displayed with asterisks blocking all except the first and last letter of the ranked party’s name (for example O****N instead of ORION). There will be a voucher item available to anyone who wants/agrees to have their full name displayed in the ranking on the anniversary. By using the voucher item, you will be agreeing to have your full character name available to everyone who views the page. [ShareYourName20]<br><br>The name displayed in the ranking will be the name of the first character you log in on your account after redeeming the ShowYourName20 voucher.</p>



<p>We hope you&#8217;ll be having lots of fun with our gamigo 20th anniversary activities.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/10/01/gamigo-20th-anniversary-events/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
