<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueSprachen-Unterstützung &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/04/24/sprachen-unterstuetzung/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Sprachen-Unterstützung</title>
		<link>https://s4leaguegame.com/de/2020/04/24/sprachen-unterstuetzung/</link>
		<comments>https://s4leaguegame.com/de/2020/04/24/sprachen-unterstuetzung/#respond</comments>
		<pubDate>Fri, 24 Apr 2020 09:47:55 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1731</guid>
		<description><![CDATA[Hallo Leaguers, Heute möchten für euch darüber informieren, dass wir ab dem 1. Mai die Sprachen Portugiesisch und Russisch im Forum nicht weiter unterstützen. Diese [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Sprachen-Unterstützung" width="500" height="300"/></p>
<figure class="wp-block-image"><img src="https://s4league.aeriagames.com/forum/wcf/index.php?media/264-f-500-2000-jpg/&amp;thumbnail=large" alt=""/></figure>



<p>Hallo Leaguers,</p>



<p>Heute möchten für euch darüber informieren, dass wir ab dem 1. Mai die Sprachen Portugiesisch und Russisch im Forum nicht weiter unterstützen. Diese Entscheidung ist und nicht leicht gefallen.<br><br>Was wird sich ändern?</p>



<p>Wir werden bis auf weiteres keine Events und Ankündigungen oder Foren-Elemente ins Russische oder Portugiesische übersetzen.</p>



<p>Die derzeitigen Übersetzungen bleiben bestehen.</p>



<p>Du kannst das Forum auch weiterhin in Russisch oder Portugiesisch nutzen, aber behaltet bitte im Gedächtnis, dass wir diese Sprachen nicht weiter moderieren.</p>



<p>Vielen Dank für euer Verständnis.</p>



<p>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/04/24/sprachen-unterstuetzung/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
