<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueEvents &#8211; 20. Jubiläum von gamigo &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/10/01/events-20-jubilaum-von-gamigo/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Events &#8211; 20. Jubiläum von gamigo</title>
		<link>https://s4leaguegame.com/de/2020/10/01/events-20-jubilaum-von-gamigo/</link>
		<comments>https://s4leaguegame.com/de/2020/10/01/events-20-jubilaum-von-gamigo/#respond</comments>
		<pubDate>Thu, 01 Oct 2020 14:16:16 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1941</guid>
		<description><![CDATA[Hi Leaguers, Seid ihr bereit &#8222;Happy Birthday&#8220; zu singen? Wir feiern gamigos 20. Jubiläum! Seid gespannt auf einen Monat voller Events und einer großen Verlosung! [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain.png" title="Events &#8211; 20. Jubiläum von gamigo" width="820" height="312"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="213" src="https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-560x213.png" alt="" class="wp-image-1932" srcset="https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-560x213.png 560w, https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-300x114.png 300w, https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain-768x292.png 768w, https://assets.cdn.one.gamigo.com/2020/09/71ee5ced-forummain.png 820w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Hi Leaguers,

Seid ihr bereit &#8222;Happy Birthday&#8220; zu singen? Wir feiern gamigos 20. Jubiläum! Seid gespannt auf einen Monat voller Events und einer großen Verlosung!

Ab dem 1. Oktober halten wir wöchentlich ein Screenshot Event ab, wo alle Teilnehmer super Belohnungen erhalten können und auch einige Punkte für die Verlosung mit besonderen Preisen.

Anders als bei früheren Events, wo das Event auf nur einer Plattform statfand, verbindet das Event alle. Das heißt, dass du über Facebook, Twitter, Discord oder dem Forum am Screenshot Event teilnehmen kannst. Dein Beitrag zählt für die große Verlosung, wo wir unter anderem Preise von GIGABYTE und viele digitale Preise vergeben!

Es wird ein Rangsystem geben, in welchem alle Spieler, die daran teilnehmen, gegeneinander antreten. Die Punktezahl der Spieler wird regelmäßig aktualisiert, jedoch nicht in Echtzeit. Die besten 5 Spieler in der Rangliste eines jeweiligen Spieles werden am Ende an der großen Verlosung am Ende der Jubiläumsfeier teilnehmen.

Die Events fangen am 1. Oktober bereits an und das Wettrennen für die höchste Punktzahl erstreckt sich über den gesamten Monat. Am Ende des Monats werden die Gewinner der Verlosung bekanntgegeben.

Lediglich die Top 50 Spieler in der Rangliste werden auf der Webseite veröffentlicht. Ihr könnt, auch wenn ihr nicht in der Top 50 vorkommt, weiterhin Punkte sammeln und werdet auf der Webseite veröffentlicht, sobald ihr die Top 50 erreicht habt.</p>



<p><strong>Forum Events</strong>

Jede Woche wird es ein Screenshot Forum Event geben. Insgesamt 10.000 Punkte gibt es dabei zu gewinnen. Die Vergabe der Punkte hängt von der Anzahl der Teilnehmer ab. Sollten lediglich nur 2 Teilnehmen, werden die Punkte auf diese 2 Teilnehmer aufgeteilt. Sollte es 20 oder mehr Teilnehmer geben, erhält jeder Teilnehmer 500 Punkte.</p>



<p><strong>Discord Events</strong>

Es gibt einen Spezial-Kanal auf unserem Discord namens&nbsp;<strong>#20th-gamigo-anniversary.&nbsp;</strong>In diesem könnt ihr auch euren Screenshot teilen. Insgesamt 10.000 Jubiläumspunkte gibt es dabei zu gewinnen. Die Vergabe der Punkte hängt von der Anzahl der Teilnehmer ab. Sollten lediglich nur 2 Teilnehmen, werden die Punkte auf diese 2 Teilnehmer aufgeteilt. Sollte es 20 oder mehr Teilnehmer geben, erhält jeder Teilnehmer 500 Punkte.</p>



<p><strong>Social media Events</strong>

Social Media Screenshot Events werden über den Monat hinweg abgehalten. 10 Screenshots jedes posts erhalten je 1.000 Jubiläumspunkte.</p>



<p><strong>In-Game Events</strong> Zusätzlich haben wir auch wöchentliche In-Game Evenets, wo ihr nicht nur super belohnungen, sondern auch Jubiläumspunkte gewinnen könnt. Die Punkte werden wie folgt vergeben: 1. Platz &#8211; 5.000 Punkte 2. Platz &#8211; 2.500 Punkte 3. Platz &#8211; 1.000 Punkte 4. Platz &#8211; 500 Punkte 5. Platz &#8211; 250 Punkte 6. bis 10. Platz &#8211; 150 Punkte Und das sind die Aufgaben:</p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/MyZ3fZh.png" alt=""/></figure>



<p><strong>1. Woche</strong>&nbsp;&#8211; Der Spieler mit den meisten getöteten Spielern erhält 5.000 Punkte, das zweitbeste Ergebnis erhält 2.500 Punkte, das drittbeste 1.000 Punkte usw.

<strong>2. Woche</strong>&nbsp;&#8211; Der Spieler mit den meisten Touchdowns erhält 5.000 Punkte, das zweitbeste Ergebnis erhält 2.500 Punkte, das drittbeste 1.000 Punkte usw.

<strong>3.</strong>&nbsp;<strong>Woche</strong>&nbsp;&#8211; Der Spieler mit den meisten getöteten Spielern im Chaser Modus erhält 5.000 Punkte, das zweitbeste Ergebnis erhält 2.500 Punkte, das drittbeste 1.000 Punkte usw.

<strong>4.</strong>&nbsp;<strong>Woche</strong>&nbsp;&#8211; Der Spieler mit den meisten gewonnenen Spielern erhält 5.000 Punkte, das zweitbeste Ergebnis erhält 2.500 Punkte, das drittbeste 1.000 Punkte usw.

<em>Es wird keine Live-Anzeige zum Fortschritt in dem Event geben. Alle Ergebnisse werden mithilfe unserer Tools am Ende der wöchentlichen Events extrahiert.</em></p>



<p><strong>Gutschein Giveaways</strong> Und zusätzlich zu all den Events, vergeben wir Gutscheincodes auf unseren Platformen &#8211; Facebook, Discord, Twitter, Forum und der Webseite! Dieser Gutscheincode beinhaltet verschiedene Belohnungen und die ersten 10 Spieler, die den Code einlösen, erhalten 500 Jubiläumspunkte für unsere große Verlosung. Also halte Ausschau nach ihnen und besuche regelmäßig unsere PLatformen, um ja nicht einen Gutscheindocde zu verpassen und um einer der ersten 10 zu sein, die den Gutschein einlösen! Klingt das nicht alles aufregend?</p>



<p><strong>Für die große Party gibt es spezielle Pakete für euch!</strong></p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/CpbVlOJ.png" alt=""/></figure>



<p><strong>Teile deinen Moment</strong> Wir sind noch nicht fertig! Wir haben noch einen weiteren Wettbewerb für euch! “<strong><a href="https://20th.gamigo.net/de/shareyourmoment.html">Teile deinen Moment</a></strong>” bietet die Möglichkeit euren besten gamigo Moment der letzten 20 Jahre zu teilen und sendet uns Geburtstagsgrüße im Spiel, im echten Leben, als Video, Bild oder Textnachricht. Wie auch immer du es bevorzugst. Erhalte damit die Chance einen limitierten gamigo Hoodie zu gewinnen! Um an dem Wettbewerb teilzunehmen, teilt bitte euren Moment oder die Geburtstagswünsche mit dem Hastag #gamigo20 auf Facebook, Twitter oder Instagram. Sobal der Wettbewerb vorbei ist, werden wir unter allen eingereichten Beiträgen 20 Hoodies verlosen und die Beiträge in einem besonderen Geburtstagswunsch Trailer veröffentlichen. Der Wettbewerb findet vom 1. bis zum 29. Oktober statt.</p>



<p>Für mehr Details zum 20. Jubiläum und den Belohnungen, besuche unsere Event-Hauptwebseite <a href="https://20th.gamigo.net/de">hier</a>.</p>



<p><strong><strong>Teilnahmebedingungen</strong> </strong>des gamigo Jubiläumswettbewerbes:</p>



<ol><li>Teilnameberechtigt sind alle Personen, die das 18. Lebensjahr abgeschlossen haben.</li></ol>



<ol start="2"><li>Angestellte und Beschäftige, sowie Game Master der gamigo AG und deren Verwandte sind nicht zur Teilnahme gestattet.</li></ol>



<ol start="3"><li>Die Teilnehmer werden angemeldet, um die in der Veranstaltungsbeschreibung genannten Preise zu gewinnen</li></ol>



<ol start="4"><li>gamigo behält sich das Recht vor einzelne Teilnehmer von der Teilnahme auszuschließen, sollte sich der Verdachta uf einen regelstoß erübrigen. In solchen Fällen ist es möglich, dass die Preisausschüttung nachträglich widerrufen und neu vergeben wird.</li></ol>



<ol start="5"><li>Der Preis kann nicht auf andere Personen übertragen werden oder in Form von Echtgeld ausgeschüttet werden. gamigo behält sich das Recht vor den Gewinn mit einem vergleichbar gleich- oder höherwertigen Preis zu ersetzen. Es ist nicht möglich den Preis an eine minerjährige Person auszuschütten.</li></ol>



<ol start="6"><li>Sollte es zu Uneinigkeiten bezüglich der Regeln, Vorgehensweise oder Ergebnis der Verlosung kommen, gilt die Entscheidung seitens gamigo als final. If there are disagreements regarding the rules, the process or results of the lottery, then the decision made by gamigo is final. Alle Rechtswege sind ausgeschlossen.</li></ol>



<ol start="7"><li>Die Daten sind vetraulich und werden von gamigo unter Berücksichtigung der vorliegenden Datenschutzgesetze verarbeitet.</li></ol>



<p><strong>Rangliste </strong><br><br>Namen in der Rangliste werden mit Sternchen angezeigt, die alle außer dem ersten und letzten Buchstaben des Namens der Rangliste blockieren (z. B. O **** N anstelle von ORION). Jeder, der möchte, dass sein vollständiger Name am Jubiläum in der Rangliste angezeigt wird, kann einen Gutschein erhalten. Wenn ihr den Gutschein verwendet, stimmt ihr zu, dass euer vollständiger Charaktername jedem zur Verfügung steht, der die Seite anzeigt. [ShareYourName20]<br><br>Der Name, welcher in der Rangliste angezeigt wird, wird der Name des Charakters sein, mit dem ihr einloggt, nachdem ihr den ShowYourName20 Gutscheincode einlöst.</p>



<p>Wir hoffen, dass ihr viel Spaß mit unseren Aktivitäten zum 20. Jubiläum von gamigo haben werdet.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/10/01/events-20-jubilaum-von-gamigo/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
