<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueNetzwerkwartung &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Netzwerkwartung</title>
		<link>https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/</link>
		<comments>https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/#respond</comments>
		<pubDate>Mon, 15 Mar 2021 18:44:03 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2021/03/15/netzwerkwartung/</guid>
		<description><![CDATA[Liebe Leaguer, wir planen für morgen, den 16.03.2021, eine Netzwerkwartung. Die Wartung wird voraussichtlich um 08:00 AM CET &#8211; 01:00 AM CT &#8211; 15. März [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="Netzwerkwartung" width="650" height="260"/></p>
<p>Liebe Leaguer, <br><br>wir planen für morgen, den 16.03.2021, eine Netzwerkwartung. Die Wartung wird voraussichtlich um 08:00 AM CET &#8211; 01:00 AM CT &#8211; 15. März 11:00 PM PT beginnen und ca. 30 min dauern. Unsere Server können von dieser Wartung betroffen sein, rechnet also mit einer Ausfallzeit von ca. 30 min. <br><br>Wir danken euch für euer Verständnis!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/03/15/netzwerkwartung/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
