<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueCalendrier de l&rsquo;Avent &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/12/01/calendrier-de-lavent/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Calendrier de l&#8217;Avent</title>
		<link>https://s4leaguegame.com/fr/2020/12/01/calendrier-de-lavent/</link>
		<comments>https://s4leaguegame.com/fr/2020/12/01/calendrier-de-lavent/#respond</comments>
		<pubDate>Tue, 01 Dec 2020 12:30:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2003</guid>
		<description><![CDATA[Salut les Leaguers, Noël approche et nous aimerions partager avec vous ce calendrier de l&#8217;Avent ! N&#8217;hésitez pas à profiter d&#8217;autant de jours que vous [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg" title="Calendrier de l&#8217;Avent" width="700" height="300"/></p>
<p>Salut les Leaguers,</p>



<p>Noël approche et nous aimerions partager avec vous ce <a href="https://gamigo.net/advent/s4league/en/">calendrier de l&rsquo;Avent</a> !</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="471" height="933" src="https://assets.cdn.one.gamigo.com/2020/12/68283aca-capturefr.png" alt="" class="wp-image-2017" srcset="https://assets.cdn.one.gamigo.com/2020/12/68283aca-capturefr.png 471w, https://assets.cdn.one.gamigo.com/2020/12/68283aca-capturefr-151x300.png 151w" sizes="(max-width: 471px) 100vw, 471px" /></figure>



<p>N&rsquo;hésitez pas à profiter d&rsquo;autant de jours que vous le souhaitez !</p>



<p>*Jouez en mode Snowball le 24.12 et tuez 10 joueurs. Nous choisirons au hasard 10 utilisateurs parmi tous ceux qui auront accompli cette tâche. Veuillez remplir ce&nbsp;<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7rbjkudyykGaWoVR25sKPoe1xCs9Ot1FuGSOaLAIOV5UOU1YUUtZWlE4MUZNTk9RWlJaRkVRODE3RC4u">document</a>.</p>



<p>Profitez du calendrier de l&rsquo;Avent !</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/12/01/calendrier-de-lavent/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
