<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeaguePréparez-vous pour Reforestation ! &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/12/16/preparez-vous-pour-reforestation/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Préparez-vous pour Reforestation !</title>
		<link>https://s4leaguegame.com/fr/2020/12/16/preparez-vous-pour-reforestation/</link>
		<comments>https://s4leaguegame.com/fr/2020/12/16/preparez-vous-pour-reforestation/#respond</comments>
		<pubDate>Wed, 16 Dec 2020 13:25:26 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2026</guid>
		<description><![CDATA[Au printemps dernier, gamigo s&#8217;est associé à Eden Reforestation Projects pour avoir un impact positif en plantant des arbres. Avec votre aide, nous avons aidé [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg" title="Préparez-vous pour Reforestation !" width="1920" height="700"/></p>
<p>Au printemps dernier, gamigo s&rsquo;est associé à Eden Reforestation Projects pour avoir un impact positif en plantant des arbres. Avec votre aide, nous avons aidé avec succès Eden Reforestation Projects à planter plus de 113,127 arbres et à créer plus de 1,000 jours d&#8217;emploi équitable pour les villageois locaux qui vivent à proximité des sites du projet.<br><br>Mais il y a plus à faire. Et ensemble, nous voulons avoir un impact encore plus grand. En cette période de fêtes, gamigo s&rsquo;associe de nouveau avec Eden Reforestation Projects pour apporter de la joie et faire un cadeau à la Terre mère.<br><br>Eden Reforestation Projects combattent activement la crise climatique en restaurant les systèmes forestiers un arbre à la fois, ce qui atténue les effets dévastateurs de la déforestation. Et chaque arbre planté sert à protéger, fournir, nourrir et maintenir toute la vie. Mais le travail effectué par Eden Reforestation Projects permet également de reconstruire les communautés. Des salaires équitables et un engagement en faveur de l&rsquo;acquisition de compétences et de l&#8217;emploi pour les femmes et les parents célibataires contribuent à empêcher les agriculteurs de se vendre ou de vendre leurs familles en esclavage juste pour survivre. Nous avons déjà fait la différence une fois, faisons-la encore, ensemble !<br><br>À partir d&rsquo;aujourd&rsquo;hui, le 16 décembre 2020, nous vous invitons à nous rejoindre dans cette campagne de charité #gamigotrees de ce que nous pouvons accomplir ensemble par les jeux et en aidant les gens et la terre à atteindre un avenir durable et harmonieux pour les générations à venir.<br><br>Nous aurons 3 packs disponibles qui peuvent aider cette cause. Avec l&rsquo;achat de chaque pack, Eden Reforestation Projects plantera 5, 10, voire 20 arbres dans une région qui en a besoin ! Découvrez-les !</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="315" src="https://assets.cdn.one.gamigo.com/2020/12/224e45a5-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg" alt="" class="wp-image-2027" srcset="https://assets.cdn.one.gamigo.com/2020/12/224e45a5-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg 560w, https://assets.cdn.one.gamigo.com/2020/12/224e45a5-s4l_en_twitter_eden-xmas_1200x675-300x169.jpg 300w, https://assets.cdn.one.gamigo.com/2020/12/224e45a5-s4l_en_twitter_eden-xmas_1200x675-768x432.jpg 768w, https://assets.cdn.one.gamigo.com/2020/12/224e45a5-s4l_en_twitter_eden-xmas_1200x675.jpg 1200w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>En vous joignant à notre événement caritatif, vous soutiendrez la plantation d&rsquo;arbres dans le monde entier et monterez au classement mondial pour avoir la chance de gagner des prix exclusifs de GIGABYTE, Monster et ROCCAT en participant à notre tirage au sort. Nous célébrons l&rsquo;esprit de solidarité, donc pour chaque arbre planté, vous recevrez une entrée pour participer à notre tirage au sort et aurez la chance de devenir un gagnant. Une autre option est de participer à notre enquête et de recevoir une seule entrée. Plus vous achetez de packs, plus vous avez de chances de gagner. <br><br>Pour plus de détails, cliquez <a href="https://charity.gamigo.com/fr">ici</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/12/16/preparez-vous-pour-reforestation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
