<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueAdvent Calendar &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/12/01/advent-calendar/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Advent Calendar</title>
		<link>https://s4leaguegame.com/2020/12/01/advent-calendar/</link>
		<comments>https://s4leaguegame.com/2020/12/01/advent-calendar/#respond</comments>
		<pubDate>Tue, 01 Dec 2020 12:30:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2001</guid>
		<description><![CDATA[Hi Leaguers, X-mas is almost here and we would like to share this Advent calendar for you! Feel free to enjoy as many days as [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg" title="Advent Calendar" width="700" height="300"/></p>
<p>Hi Leaguers,</p>



<p>X-mas is almost here and we would like to share this <a href="https://gamigo.net/advent/s4league/en/">Advent calendar</a> for you!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="476" height="934" src="https://assets.cdn.one.gamigo.com/2020/12/80c97ce0-captureen.png" alt="" class="wp-image-2014" srcset="https://assets.cdn.one.gamigo.com/2020/12/80c97ce0-captureen.png 476w, https://assets.cdn.one.gamigo.com/2020/12/80c97ce0-captureen-153x300.png 153w" sizes="(max-width: 476px) 100vw, 476px" /></figure>



<p>Feel free to enjoy as many days as you want!</p>



<p>*Play Snowball mode on 24.12 and kill 10 players. We will raffle 10 users from everyone who has completed this task. Fill this&nbsp;<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7rbjkudyykGaWoVR25sKPoe1xCs9Ot1FuGSOaLAIOV5UOU1YUUtZWlE4MUZNTk9RWlJaRkVRODE3RC4u">document</a>.</p>



<p>Enjoy the advent calendar!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/12/01/advent-calendar/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
