<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueSupport linguistique &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/04/24/support-linguistique/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Support linguistique</title>
		<link>https://s4leaguegame.com/fr/2020/04/24/support-linguistique/</link>
		<comments>https://s4leaguegame.com/fr/2020/04/24/support-linguistique/#respond</comments>
		<pubDate>Fri, 24 Apr 2020 09:48:53 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1733</guid>
		<description><![CDATA[Bonjour Leaguers, Aujourd&#8217;hui nous sommes au regret de vous annoncer que nous ne pouvons plus supporter les langues Portugaises et Russes sur nos forums dès [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Support linguistique" width="500" height="300"/></p>
<figure class="wp-block-image"><img src="https://s4league.aeriagames.com/forum/wcf/index.php?media/264-f-500-2000-jpg/&amp;thumbnail=large" alt=""/></figure>



<p>Bonjour Leaguers,</p>



<p>Aujourd&rsquo;hui nous sommes au regret de vous annoncer que nous ne pouvons plus supporter les langues Portugaises et Russes sur nos forums dès le 1er Mai.</p>



<p>Qu&rsquo;est ce que cela implique ?</p>



<p>Nous cesserons de traduire nos posts en Russe et Portugais. Les traductions d&rsquo;hors et déjà présentes resteront cependant disponibles sur nos forums.</p>



<p>Vous pouvez toujours converser sur nos forums dans ces langues mais nous ne pourront plus modérer dans celles-ci.</p>



<p>Nous vous remercions de votre compréhension</p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/04/24/support-linguistique/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
