<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueGet ready for Reforestation! &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Get ready for Reforestation!</title>
		<link>https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/</link>
		<comments>https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/#respond</comments>
		<pubDate>Wed, 16 Dec 2020 13:24:37 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2022</guid>
		<description><![CDATA[This past spring, gamigo partnered with Eden Reforestation Projects to make a positive impact through planting trees. With your help, we successfully have helped Eden [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg" title="Get ready for Reforestation!" width="1920" height="700"/></p>
<p>This past spring, gamigo partnered with Eden Reforestation Projects to make a positive impact through planting trees. With your help, we successfully have helped Eden Reforestation Projects plant over 113,127 trees and create over 1,000 days of fair wage employment to local villagers who live adjacent to the project sites.<br><br>But there&#8217;s more to do. And together, we plan on making an even bigger impact. This holiday season, gamigo is once again partnering with Eden Reforestation Projects to bring good cheer and give a gift to Mother Earth.<br><br>Eden Reforestation Projects are actively combating the climate crisis as they restore forest systems one tree at a time, alleviating the devastating effects of deforestation. And every tree planted serves to protect, provide, nurture, and sustain all of life. But the work done by Eden Reforestation Projects also rebuilds communities. Fair wages and a commitment to skill-building and employment for women and single parents help keep farmers from selling themselves or their families into slavery just to survive. <br><br>We’ve made a difference once before, let’s do it again, together!<br><br>Starting today, December 16, 2020 we invite you to join us in this #gamigotrees charity drive of what we can accomplish together through games and by helping people and the earth reach a sustainable, harmonious future for generations to come.<br><br>We will have 3 packages available which can help this cause. With the purchase of each pack, Eden Reforestation Projects will plant 5, 10, or even 20 trees in a region in need! Check them out!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="315" src="https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg" alt="" class="wp-image-2032" srcset="https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg 560w, https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-300x169.jpg 300w, https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-768x432.jpg 768w, https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675.jpg 1200w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p><br>By joining our charity event, you will support the planting of trees around the world and climb the global leaderboard for a chance to win exclusive prizes from GIGABYTE, Monster and ROCCAT by participating in our raffle. We’re celebrating the spirit of solidarity, so for every tree planted you will receive an entry to participate in our raffle and have the chance to become a winner. Another option is to take part in our survey and receive a single entry. The more bundles you buy, the more chances you have of winning. <br><br>For more details, click <a href="https://charity.gamigo.com/en">here</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
