<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueAngebote zum Schwarzen Freitag &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Angebote zum Schwarzen Freitag</title>
		<link>https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/</link>
		<comments>https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/#respond</comments>
		<pubDate>Thu, 26 Nov 2020 15:09:20 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/11/26/angebote-zum-schwarzen-freitag/</guid>
		<description><![CDATA[Liebe Leaguer,   Seid ihr auf DAS Wochenende vorbereitet? Dieses Wochenende haben wir einige wirklich erstaunliche Angebote für euch!   Von Freitag, 27. November um [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png" title="Angebote zum Schwarzen Freitag" width="545" height="332"/></p><div>
<div>Liebe Leaguer,</div>
<div>
<div> </div>
<div>
<div>Seid ihr auf DAS Wochenende vorbereitet? Dieses Wochenende haben wir einige wirklich erstaunliche Angebote für euch!</div>
<div>
<div> </div>
<div>
<div>Von <strong>Freitag, 27. November um 16.00 Uhr CET</strong> bis <strong>Montag, 30. November um 16.00 Uhr CET</strong> findet ihr in unserem <a href="https://s4league.aeriagames.com/itemmall">Webshop</a> eine spezielle Kategorie &#8222;Blck Frdy&#8220;. Was ihr dort finden werdet, werdet euch fragen&#8230;</div>
<div>
<div> </div>
<div>
<div>Saftige Items mit <strong>bis zu 50% Rabatt</strong> warten auf euch!</div>
<div>
<div> </div>
<div>
<div>Aber wartet! Die Überraschungen enden hier noch nicht. Wir werden auch ein spezielles &#8222;Schwarzes Wochenende&#8220; mit gestaffelten Ausgaben haben, das am <strong>Freitag, den 27. November um 16 Uhr CET</strong> beginnt und am Dienstag, den <strong>1. Dezember um 16 Uhr CET</strong> endet.</div>
<div>
<div> </div>
<div>
<div>Ihr fragt euch vielleicht, ob das alles ist, was wir für euch haben. Ganz und gar nicht!</div>
<div>
<div> </div>
<div>
<div>Am Montag, den <strong>30. November um 16.00 Uhr CET</strong> und <strong>NUR für 24 STUNDEN</strong> haben wir einen Cyber-Montags VERKAUF mit mehr ermäßigten Angeboten sowie einige beliebte Items auf Lager.</div>
<div>
<div> </div>
<div>
<div>Ihr fragt euch sicher, was die beliebten Items sein werden. Ihr werdet es bald herausfinden!</div>
<div>
<div> </div>
<div>
<div>Betretet unseren <a href="https://s4league.aeriagames.com/itemmall">Webshop</a> am Freitag, <strong>den 27. November um 16 Uhr CET</strong> und lasst den Einkauf beginnen!</div>
<div>
<div> </div>
<div>
<div>Auf Wiedersehen, Leaguer!</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/11/26/angebote-zum-schwarzen-freitag/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
