<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueS4 League OST &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2021/02/26/s4-league-ost/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>S4 League OST</title>
		<link>https://s4leaguegame.com/de/2021/02/26/s4-league-ost/</link>
		<comments>https://s4leaguegame.com/de/2021/02/26/s4-league-ost/#respond</comments>
		<pubDate>Fri, 26 Feb 2021 10:59:27 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2098</guid>
		<description><![CDATA[Liebe Leaguers, Mit der Schließung des Spiels zum Ende April, ist es wichtig, so viele besondere Momente zu teilen, wie möglich. Daher möchten wir einen [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png" title="S4 League OST" width="997" height="630"/></p>
<p>Liebe Leaguers, <br><br>Mit der Schließung des Spiels zum Ende April, ist es wichtig, so viele besondere Momente zu teilen, wie möglich. <br>Daher möchten wir einen Link mit allen S4 League Original Soundtracks mit euch teilen. Mit der Absicht, gute Erinnerungen an kompetitiven Spielen mit Freunden und Teamkameraden zurückzubringen. <br><br>Musik und Soundtracks sind ein wichtiges Element für jedes Spiel und wir wissen, dass diese Soundtracks viel für euch bedeuten, da sie Nostalgie zurückbringen und vielmehr ist es wichtig, dass wir an die schönen Momente festhalten, sodass wir uns alle daran erinnern können, was für ein wunderbares Spiel S4 League ist. <br><br>Auf ein buntes, melodisches und sonniges Wochenende! <br>Link mit den Songs: <a data-redactor-span="true" href="http://bit.ly/S4_OST">http://bit.ly/S4_OST</a> <br><br>Mit freundlichen Grüßen, <br>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/02/26/s4-league-ost/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
