<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueKopmensationspaket &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Kopmensationspaket</title>
		<link>https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/</link>
		<comments>https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/#respond</comments>
		<pubDate>Fri, 19 Feb 2021 13:36:11 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2021/02/19/kopmensationspaket/</guid>
		<description><![CDATA[Hallo Leaguers, danke für eure Geduld und euer Verständnis für die letzten 2 Monate. Wir verstehen, dass euer Erlebnis während dieser Zeit viel gelittet hat [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Kopmensationspaket" width="500" height="300"/></p>
<figure class="wp-block-image size-large"><img src="https://i.imgur.com/7Nemq04.jpg" alt=""/></figure>



<p>Hallo Leaguers, danke für eure Geduld und euer Verständnis für die letzten 2 Monate.</p>



<p>Wir verstehen, dass euer Erlebnis während dieser Zeit viel gelittet hat und wir möchten etwas an euch zurückgeben.
Mit diesem Kompensationspaket ist jeder Spieler in der Lage die folgende Gegenstände zu erhalten:</p>



<ul><li>1x 100% Unique Booster</li><li>3x Random Weapon Capsule</li><li>3x Random Female Costume Capsule</li><li>3x Random Male Costume Capsule</li><li>3x Unique Skill Capsule</li><li>1x Random Esper Chip Lv5 Capsule</li><li>1x 50.000 PEN</li></ul>



<p>GEBE DEN GUTSCHEIN COMPENSATION EIN, UM DAS PAKET ZU ERHALTEN.</p>



<p>Fordere dein Paket bis zum 23. Februar 2021 an. Danach ist er nicht mehr verfügbar.</p>



<p>Erhalte dein Paket <a rel="noreferrer noopener" href="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486" target="_blank" data-type="URL" data-id="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486">hier</a>. </p>



<p>Mit freundlichen Grüßen,<br>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/02/19/kopmensationspaket/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
