<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueS4 League Ankündigung Spiel Schließung &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>S4 League Ankündigung Spiel Schließung</title>
		<link>https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/</link>
		<comments>https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/#respond</comments>
		<pubDate>Wed, 24 Feb 2021 16:30:40 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2064</guid>
		<description><![CDATA[Hallo Leaguers, Seit dem Start von S4 League haben wir unzählige glückliche Momente mit euch verbracht. Heute kommen wir mit schwerem Herzen zu euch. S4 [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="S4 League Ankündigung Spiel Schließung" width="650" height="260"/></p>
<p>Hallo Leaguers,

Seit dem Start von S4 League haben wir unzählige glückliche Momente mit euch verbracht. Heute kommen wir mit schwerem Herzen zu euch. S4 League wird am 29. April 2021 offiziell alle Dienste einstellen. Diese Entscheidung wurde getroffen, nachdem sich das Spiel nicht mehr selbst erhalten kann.</p>



<p>Du fragst dich was bis dahin passieren wird?

Unsere CMs werden euch weiterhin mit Events unterhalten und ihr könnt das Spiel weiterhin spielen, jedoch mit einigen Einschränkungen. Unser Webshop ist ab Mittwoch, 24. Februar 2021, geschlossen, daher sind AP-Käufe nicht mehr möglich. Unser In-Game-Shop bleibt jedoch weiterhin aktiv und wir gewähren Rabatte mit bis zu 95% Rabatt auf alle Items.</p>



<p>Was ist mit meinen in den letzten Monaten verbrauchten AP?

Für alle, die Gegenstände mit Aeria Points gekauft haben, bieten wir eine Rückerstattung der AP auf den Konten unter den folgenden Kriterien an:

Wir erstatten 100% aller in den letzten 60 Tagen ausgegebenen AP oder 200% aller in den letzten 30 Tagen ausgegebenen AP. Die Aeria Points werden dem Aeria Games Konto erneut gutgeschrieben.

Für die Rückerstattung wendet euch bitte an unseren Kundensupport.</p>



<p>Spieler können in einem Newsletter besondere Geschenke für bestimmte Spiele aus dem gamigo Portfolio erwarten.</p>



<p>Zusätzlilch werdet ihr hier einige Geschenke für die folgenden Spiele finden, um einen einfacheren Start zu haben: <br><br>TROVE [<a href="https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow">https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow</a>] <br><br>Holt eure Freunde, nehmt euer Schwerter und macht euch auf in ein Abenteuer in Trove, das ultimative Block-Action-MMO. <br>Code: THXANDSEEYOUINTROVE</p>



<p>ArcheAge [<a href="https://www.trionworlds.com/archeage/en/">https://www.trionworlds.com/archeage/</a>]</p>



<p>In diesem Fantasy-Sandbox-MMORPG geht es nicht darum, einem vordefinierten Pfad zu folgen, sondern eine Welt zu erschaffen, indem du die Dinge auswählst, die für dich wichtig sind.<br>Code: WELCOMELEAGUERAA <br><br>Desert Operations [<a href="https://desertoperations.gamigo.com/">https://desertoperations.gamigo.com/</a>] <br><br>Erobere die Welt durch Kämpfe, Diplomatie und Teamplay! Fahrzeuge, Kampf-Helikopter, Flugzeuge, Schiffe und vieles mehr werden euer sein um wichtige wirtschaftliche und strategische Entscheidung in diesem Strategy MMO zu treffen! <br>Code: DOWARMUP</p>



<p>Für alle, die sich fragen, was sie jetzt spielen sollen, da Ihr Lieblingsspiel zu Ende geht, keine Sorge! Wir haben Spiele aller Arten und Genres hier bei gamigo! Besuche unsere Webseite unter <a href="https://gamigo.net/">https://gamigo.net/</a> und wähle deine nächste Leidenschaft aus!</p>



<p>Wir danken jeder einzelnen Person, die sich die Zeit genommen hat, unser geliebtes Spiel zu spielen, und uns dabei mit Feedback und Vorschlägen geholfen hat. Ihr wart eine wunderbare Community.</p>



<p>Für weitere Informationen kannst du die <a href="https://s4league.aeriagames.com/forum/wcf/index.php?article/733-s4-league-game-closure-faq/">FAQ in unserem Forum</a> aufsuchen.</p>



<p>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/02/24/s4-league-ankuendigung-spiel-schliessung/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
