<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueGamigo 20th anniversary events &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Gamigo 20th anniversary events</title>
		<link>https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/</link>
		<comments>https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/#respond</comments>
		<pubDate>Thu, 01 Oct 2020 14:16:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain.png</featuredImage>
		<dc:creator><![CDATA[simaoaraujo]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1894</guid>
		<description><![CDATA[Bonjour Leagueurs, Êtes-vous prêts à chanter la chanson « Joyeux anniversaire » ? C&#8217;est le 20e anniversaire de gamigo ! Préparez-vous à un mois rempli d&#8217;événements et [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain.png" title="Gamigo 20th anniversary events" width="820" height="312"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="213" src="https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-560x213.png" alt="" class="wp-image-1935" srcset="https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-560x213.png 560w, https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-300x114.png 300w, https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-768x292.png 768w, https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain.png 820w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="213" src="https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-560x213.png" alt="" class="wp-image-1936" srcset="https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-560x213.png 560w, https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-300x114.png 300w, https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-768x292.png 768w, https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain.png 820w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs,<br><br>Êtes-vous prêts à chanter la chanson « Joyeux anniversaire » ? C&rsquo;est le 20e anniversaire de gamigo ! Préparez-vous à un mois rempli d&rsquo;événements et à une énorme tombola ! À partir du 1er octobre, chaque semaine, nous présenterons un événement spécial de capture d&rsquo;écran où vous pourrez tous gagner des prix incroyables, gagner des points et participer à notre grande tombola pour gagner des récompenses géniales dans la vie réelle.<br><br>Contrairement à tous nos précédents événements sur différentes plateformes, ils sont tous liés entre eux, ce qui signifie que vous pouvez participer aux captures d&rsquo;écran de nos Facebook, Twitter, Discord ou Forum. Peu importe, votre soumissions comptera pour l&rsquo;énorme tirage au sort où vous pourrez gagner de superbes récompenses GIGABYTE et beaucoup de récompenses numériques !<br><br>Il y aura un système de classement dans lequel tous les joueurs qui participent aux événements spéciaux de l&rsquo;anniversaire de gamigo s&rsquo;affronteront. Les points de classement seront régulièrement mis à jour, mais ils ne seront pas synchronisés en temps réel avec tous les événements. Les 5 premiers joueurs du classement de chaque jeu participeront à la tombola une fois l&rsquo;anniversaire terminé.<br><br>Les événements commenceront le 1er octobre et le concours durera jusqu&rsquo;à la fin du mois, date à laquelle nous publierons les gagnants et les récompenses. Seuls les 50 premiers joueurs du classement seront visibles, mais les points seront stockés et votre nom sera visible si vous avez atteint la marque !</p>



<p><strong><strong>Événements Forum</strong></strong><br><br>Chaque semaine, nous organiserons un événement&nbsp;capture d&rsquo;écran. 10,000 points seront attribués pour chaque événement anniversaire. Le nombre de points que vous pouvez gagner varie en fonction du nombre de participants. Par exemple, s&rsquo;il n&rsquo;y a que deux (2) participants, ils recevront chacun 5,000 points. En revanche, s&rsquo;il y a vingt (20) participants ou plus, chacun recevra 500 points.</p>



<p><strong><strong>Événements Discord</strong></strong><br><br>Une salle spéciale de Discord appelée <strong>#20th-gamigo-anniversary</strong> apparaîtra où vous pourrez également partager des captures d&rsquo;écran. Chaque semaine, nous publierons une tâche que vous devrez accomplir. 10,000 points seront distribués et selon les participants, il peut y avoir 2 gagnants avec 5,000 points chacun ou 20 (ou plus) avec 500.</p>



<p><strong><strong>Événements sur les Réseaux Sociaux</strong></strong><br><br>Des captures d&rsquo;écran des réseaux sociaux seront présentées tout au long du mois. 10 captures d&rsquo;écran de chaque poste recevront 1,000 Points d&rsquo;Anniversaire.</p>



<p><strong><strong>Événements en jeu</strong></strong><br><br>En plus de cela, nous avons préparé d&rsquo;autres événements incroyables dans le jeu, où vous pouvez non seulement gagner des récompenses géniales mais aussi des Points d&rsquo;Anniversaire. La répartition des points sera la suivante :&nbsp;<br><br>1ère place &#8211; 5000 points<br>2ème place &#8211; 2500 points&nbsp;<br>3ème place &#8211; 1000 points<br>4ème place &#8211; 500 points&nbsp;<br>5ème place &#8211; 250 points<br>6ème à 10ème place -150 points</p>



<p>Maintenant, vérifions vos tâches :</p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/wP7b9sZ.png" alt=""/></figure>



<p><strong><strong>Semaine 1</strong>&nbsp;&#8211; </strong>Le joueur ayant le plus de Touch Downs obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><strong><strong><strong>Semaine</strong></strong></strong> <strong>2</strong> &#8211; Le joueur ayant le plus de Touch Downs obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><strong><strong><strong>Semaine</strong></strong></strong> <strong>3</strong> &#8211; Le joueur ayant le plus grand nombre de kills en mode Chaser obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><strong><strong><strong>Semaine</strong></strong></strong> <strong>4</strong> &#8211; Le joueur ayant le plus de parties gagnées, quel que soit le mode, obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><br><em><em>Il n&rsquo;y aura pas de traqueur en direct indiquant qui a terminé 1er, 2e, 3e, etc. Nous extrairons ces données de nos outils.</em></em></p>



<p><strong>Voucher Giveaway</strong><br><br>De plus, nous allons partager un code maître avec vous tous sur l&rsquo;une de nos plateformes &#8211; Facebook, Discord, Twitter, Forum, Site web ! Ce code maître contient différentes récompenses et les 10 premiers joueurs à échanger le code recevront 500 Points d&rsquo;Anniversaire en plus des récompenses pour notre grande tombola du 20e anniversaire de gamigo ! Donc, assurez-vous de vérifier constamment toutes nos plateformes afin de ne pas manquer le code et de vous efforcer d&rsquo;être parmi les 10 premiers à l&rsquo;obtenir.<br><br>Tout cela ne semble-t-il pas passionnant ?</p>



<p><strong>Pour couronner le tout, nous avons préparer des packs spéciaux rien que pour vous!</strong></p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/cfCaxhY.png" alt=""/></figure>



<p><strong><strong>Partagez votre moment</strong></strong><br><br>Nous n&rsquo;avons pas encore fini ! Nous avons encore un concours pour vous ! « <a href="https://20th.gamigo.net/fr/shareyourmoment.html">Partagez votre moment</a> » vous donnera l&rsquo;occasion de partager avec nous votre moment le plus mémorable de ces 20 dernières années et de nous envoyer des vœux d&rsquo;anniversaire en nous félicitant dans le jeu ou dans la vie réelle par texte, vidéo, image, selfie ou de toute autre manière que vous préférez pour avoir une chance de gagner l&rsquo;un des hoodies gamigo20th en édition limitée.<br><br>Afin de participer à ce concours, veuillez partager votre moment / souhait d&rsquo;anniversaire en utilisant le #gamigo20 sur Facebook, Twitter, Instagram.<br><br>Une fois le concours terminé, nous tirerons au sort 20 sweatshirts à capuche parmi toutes les participations, et nous les présenterons dans une bande-annonce spéciale de vœux d&rsquo;anniversaire.<br><br>Ce concours se déroulera du 1er au 29 octobre.</p>



<p>Pour plus de détails sur le 20e anniversaire de gamigo et ses récompenses, visitez notre site web de l&rsquo;événement principal <a href="https://20th.gamigo.net/fr">ici</a>.</p>



<p><strong><strong>Conditions&nbsp;de&nbsp;participation&nbsp;aux&nbsp;concours</strong>&nbsp;</strong>:</p>



<div class="wp-block-group"><div class="wp-block-group__inner-container">
<ol><li>Toute&nbsp;personne&nbsp;qui&nbsp;participe&nbsp;doit&nbsp;avoir&nbsp;18 ans.&nbsp;</li></ol>



<ol start="2"><li>Les&nbsp;employés&nbsp;de gamigo AG&nbsp;ou&nbsp;leurs&nbsp;proches,&nbsp;ainsi&nbsp;que&nbsp;Game Masters de&nbsp;jeu&nbsp;ou&nbsp;leurs&nbsp;proches&nbsp;ne&nbsp;sont&nbsp;pas&nbsp;autorisés&nbsp;à&nbsp;participer.&nbsp;</li></ol>



<ol start="3"><li>Les&nbsp;participants&nbsp;seront&nbsp;inscrits&nbsp;pour&nbsp;gagner&nbsp;les&nbsp;prix&nbsp;mentionnés&nbsp;dans&nbsp;la&nbsp;description&nbsp;de&nbsp;l&rsquo;événement.&nbsp;</li></ol>



<ol start="4"><li>Si gamigo a de&nbsp;bonnes&nbsp;raisons&nbsp;de&nbsp;soupçonner&nbsp;une&nbsp;violation&nbsp;de&nbsp;ce&nbsp;règlement, gamigo se&nbsp;réserve&nbsp;la&nbsp;possibilité&nbsp;d&rsquo;exclure&nbsp;ces&nbsp;personnes&nbsp;de la&nbsp;participation. Dans&nbsp;ce&nbsp;cas,&nbsp;il&nbsp;est&nbsp;possible de&nbsp;révoquer&nbsp;les&nbsp;prix&nbsp;par la&nbsp;suite&nbsp;et de&nbsp;tirer&nbsp;un&nbsp;nouveau&nbsp;gagnant.&nbsp;</li></ol>



<ol start="5"><li>Le&nbsp;prix&nbsp;ne&nbsp;peut&nbsp;pas&nbsp;être&nbsp;transféré&nbsp;à&nbsp;une&nbsp;autre&nbsp;personne&nbsp;et ne&nbsp;peut&nbsp;pas&nbsp;être&nbsp;payé&nbsp;en&nbsp;espèces. gamigo se&nbsp;réserve&nbsp;le&nbsp;droit&nbsp;de&nbsp;remplacer&nbsp;les&nbsp;prix&nbsp;individuels&nbsp;par des&nbsp;prix&nbsp;équivalents&nbsp;ou&nbsp;supérieurs. Il&nbsp;n&rsquo;est&nbsp;pas&nbsp;possible&nbsp;d&rsquo;attribuer&nbsp;des&nbsp;prix&nbsp;à des&nbsp;mineurs.&nbsp;</li></ol>



<ol start="6"><li>En&nbsp;cas&nbsp;de&nbsp;désaccord&nbsp;sur&nbsp;le&nbsp;règlement, le&nbsp;déroulement&nbsp;ou&nbsp;les&nbsp;résultats&nbsp;de la&nbsp;loterie, la&nbsp;décision&nbsp;prise&nbsp;par gamigo&nbsp;est&nbsp;définitive. Elle&nbsp;n&rsquo;est&nbsp;pas&nbsp;susceptible&nbsp;de&nbsp;recours.&nbsp;</li></ol>



<ol start="7"><li>Les&nbsp;données&nbsp;sont&nbsp;confidentielles&nbsp;et&nbsp;seront&nbsp;traitées&nbsp;par gamigo&nbsp;conformément&nbsp;aux&nbsp;dispositions&nbsp;légales&nbsp;en&nbsp;matière&nbsp;de&nbsp;protection&nbsp;des&nbsp;données.&nbsp;</li></ol>
</div></div>



<p><strong>Classements</strong><br><br>Les noms dans le classement sont affichés avec des astérisques qui bloquent tout sauf la première et la dernière lettre du nom dans le classement (par exemple O **** N au lieu de ORION). Toute personne souhaitant que son nom complet apparaisse dans le classement d&rsquo;anniversaire peut recevoir un bon. En utilisant le coupon ci-dessous, vous consentez à ce que le nom complet de votre personnage soit affiché pour toute personne qui consulte la page web. [ShareYourName20]<br><br>Le nom qui sera affiché dans le classement, sera le nom du premier personnage que vous connecterez sur votre compte, après avoir utilisé le code ShowYourName20.</p>



<p>Nous espérons que vous vous amuserez bien avec nos activités du 20e anniversaire de gamigo.</p>



<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
