<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueEvnts GM Hunt &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Evnts GM Hunt</title>
		<link>https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/</link>
		<comments>https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/#respond</comments>
		<pubDate>Thu, 19 Nov 2020 18:08:43 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1977</guid>
		<description><![CDATA[Bonjour Leaguers ! Une fois de plus, le temps est venu de chasser nos Game Masters. Ne manquez pas cette occasion de leur donner une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg" title="Evnts GM Hunt" width="900" height="225"/></p>
<p>Bonjour Leaguers !</p>



<p>Une fois de plus, le temps est venu de chasser nos Game Masters. Ne manquez pas cette occasion de leur donner une leçon et d&rsquo;être récompensés par une prime.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/5eaddd4b38e52ca8d220a362fdc7abf2/files/s4l/image/H/HowtoParticipateam22.png" alt="HowtoParticipateam22.png" width="224" height="20"/></figure>



<p>L&rsquo;équipe de GM se joindra ou créera ses chambres personnelles ! Vous devez tuer un GM sans assistance et faire une capture d&rsquo;écran ! Le nom du GM doit être suffisamment clair pour être lu.</p>



<p>Veuillez noter que le bouton pour prendre une capture d&rsquo;écran est F12 ! Ne l&rsquo;oubliez pas !</p>



<p><a href="https://s4league.aeriagames.com/forum/index.php?thread/37-s4league-community-managers-game-masters/">Voici la liste de l&rsquo;équipe de GM actuelle</a></p>



<p>Soumettez votre capture d&rsquo;écran après avoir tué avec succès un GM dans ce formulaire ci-dessous en ROUGE :</p>



<p><a href="https://bit.ly/GMHUNT-0420">FORMULAIRE</a></p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/66d217100f38b25774b326cb238a663c/files/s4l/image/W/Whenam22.png" alt="Whenam22.png" width="83" height="20"/></figure>



<p>Les événements se dérouleront du 20 au 22.11 et du 27 au 29.11. Les GM notifieront l&rsquo;heure exacte sur Discord.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/27ea059b472ad28776111c5ba5b9be0e/files/s4l/image/P/Prizesam22.png" alt="Prizesam22.png" width="83" height="20"/></figure>



<p>Vous pouvez choisir un pack parmi les récompenses suivantes :</p>



<ul><li>2x Toy Gun Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Galaxy Counter Sword Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Space Rabbit Pet Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Marko Parrot Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Sexy Striker (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Fumbi Striker (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Violet (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Leo (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li></ul>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/d0fd9fb3ef8ba7d9be0cf3272c399483/files/s4l/image/R/Rulesam22.png" alt="Rulesam22.png" width="73" height="20"/></figure>



<ul><li>Vous ne pouvez participer que deux fois à cet événement, plus de deux soumissions ne compteront pas !</li><li>Vous ne pouvez soumettre qu&rsquo;une seule inscription par GM. Vous ne serez pas récompensé pour le même GM deux fois !</li><li>Votre pseudo en jeu et le pseudo du GM doivent être clairs.</li><li>Vous n&rsquo;êtes pas autorisé à modifier les captures d&rsquo;écran de quelque manière que ce soit !</li><li>Soumettez vos captures d&rsquo;écran ci-dessus dans le formulaire.</li><li>Vos kills doivent être effectués sans assistance !</li><li>Les soumissions après la date limite ne seront pas acceptées. Aucune exception ne sera faite !</li><li>Hébergez vos captures d&rsquo;écran sur&nbsp;<a href="https://imgbb.com/">https://imgbb.com/</a>&nbsp;ou sur une plateforme de partage de captures d&rsquo;écran similaire.</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
