<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueVerlängerte Wartungsarbeiten &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/05/25/verlaengerte-wartungsarbeiten/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Verlängerte Wartungsarbeiten</title>
		<link>https://s4leaguegame.com/de/2020/05/25/verlaengerte-wartungsarbeiten/</link>
		<comments>https://s4leaguegame.com/de/2020/05/25/verlaengerte-wartungsarbeiten/#respond</comments>
		<pubDate>Mon, 25 May 2020 15:35:06 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/691b6f4c-extmaintnewsde.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1793</guid>
		<description><![CDATA[Leaguers, wir möchten euch darüber informieren, dass wir am Mittwoch eine längere Wartung erwarten.Wir werden einige Änderungen im Backend vornehmen und daher wird die Wartung [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/691b6f4c-extmaintnewsde.jpg" title="Verlängerte Wartungsarbeiten" width="460" height="290"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="140" src="https://assets.cdn.one.gamigo.com/2020/05/7d54788b-extended-maintenance-forum-de-560x140.jpg" alt="" class="wp-image-1794" srcset="https://assets.cdn.one.gamigo.com/2020/05/7d54788b-extended-maintenance-forum-de-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/05/7d54788b-extended-maintenance-forum-de-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/05/7d54788b-extended-maintenance-forum-de-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/05/7d54788b-extended-maintenance-forum-de-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/05/7d54788b-extended-maintenance-forum-de.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Leaguers, wir möchten euch darüber informieren, dass wir am Mittwoch eine längere Wartung erwarten.<br>Wir werden einige Änderungen im Backend vornehmen und daher wird die Wartung länger als normalerweise dauern. Die NetShpere wird in der zwischenzeit vollständig von der Außenwelt abgeschnitten sein.</p>



<p>Du kannst unseren Discord Besuche, um den Fortschritt mitzuverfolgen und um an unseren S4 League Quiz teilzunehmen. Du kannst schöne Preise gewinnen und anderen dein S4 League-Wissen beweisen.</p>



<p>Start: 9 Uhr<br>Ende: Nicht bekannt</p>



<p>Discord: https://discord.gg/S4League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/05/25/verlaengerte-wartungsarbeiten/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
