<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueDiscord server &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2021/03/16/discord-server/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Discord server</title>
		<link>https://s4leaguegame.com/2021/03/16/discord-server/</link>
		<comments>https://s4leaguegame.com/2021/03/16/discord-server/#respond</comments>
		<pubDate>Tue, 16 Mar 2021 16:57:03 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2114</guid>
		<description><![CDATA[Dear Leaguers, As you know, S4L will shut down on April 29, 2021. Unfortunately, we will be closing our Discord server on March 19, 2021, [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Discord server" width="500" height="300"/></p>
<p>Dear Leaguers,<br><br>As you know, S4L will shut down on April 29, 2021. Unfortunately, we will be closing our Discord server on March 19, 2021, earlier than planned.</p>



<p>We encourage you to join the Discord server of any games within the gamigo group portfolio.<br><br>Trove &#8211; <a href="https://discord.gg/VqFgpu4Fyz">Link to Discord</a></p>



<p>Grab your friends, hone your blades, and set off for Adventure in Trove, the ultimate blocky action MMO.</p>



<p>ArcheAge &#8211; <a href="https://discord.com/invite/archeageofficial">Link to Discord</a></p>



<p>This fantasy-sandbox MMORPG isn&#8217;t about following a predefined path, it&#8217;s about creating a world by choosing the things that matter to you.</p>



<p>If you would like to stay informed on Discord about the last days of S4 League, you can join [<a href="https://discord.gg/EpQtEds4v4">this community-made Discord Server</a>] with our S4 League Game Master.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/03/16/discord-server/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
