<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueUne maintenance plus longue &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Une maintenance plus longue</title>
		<link>https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/</link>
		<comments>https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/#respond</comments>
		<pubDate>Mon, 25 May 2020 15:32:18 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/5752440b-extmaintnewsfr.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1783</guid>
		<description><![CDATA[Leagueurs, nous tenons à vous informer que nous prévoyons une maintenance plus longue ce mercredi.Nous allons faire quelques mises à jour sur notre backend et [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/5752440b-extmaintnewsfr.jpg" title="Une maintenance plus longue" width="460" height="290"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-560x140.jpg" alt="" class="wp-image-1784" srcset="https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Leagueurs, nous tenons à vous informer que nous prévoyons une maintenance plus longue ce mercredi.<br>Nous allons faire quelques mises à jour sur notre backend et la maintenance prendra donc plus de temps que d&rsquo;habitude. La NetSphere sera complètement coupée du monde extérieur pendant cette période.   Vous pouvez vous joindre à notre Discord pour suivre les progrès et participer à notre quiz fréquent de S4 League. Vous pouvez gagner des prix intéressants et montrer vos connaissances sur S4 League à tous les autres joueurs.   </p>



<p>Début de la maintenance : 9h00 CEST / 3h00 EST<br>Fin de la maintenance : pas d&rsquo;ETA </p>



<p>Discord : <a rel="noreferrer noopener" href="https://discord.gg/S4League" target="_blank">https://discord.gg/S4League</a></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
