<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueNetwork Maintenance &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2021/03/15/network-maintenance/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Network Maintenance</title>
		<link>https://s4leaguegame.com/2021/03/15/network-maintenance/</link>
		<comments>https://s4leaguegame.com/2021/03/15/network-maintenance/#respond</comments>
		<pubDate>Mon, 15 Mar 2021 18:39:40 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2104</guid>
		<description><![CDATA[Dear Leaguers, We plan a network maintenance tomorrow, 16.03.2021. The maintenance is planned to begin at 08:00 AM CET – 01:00 AM CT – 15th [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="Network Maintenance" width="650" height="260"/></p>
<p>Dear Leaguers, <br><br>We plan a network maintenance tomorrow, 16.03.2021. The maintenance is planned to begin at 08:00 AM CET – 01:00 AM CT – 15th March 11:00 PM PT and is going to last approximately 30 mins. Our servers may be affected by this maintenance, so expect a downtime of about 30 mins. <br><br>Thank you for your understanding!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/03/15/network-maintenance/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
