<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueBilling Wartungsarbeiten &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/07/13/billing-wartungsarbeiten/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Billing Wartungsarbeiten</title>
		<link>https://s4leaguegame.com/de/2020/07/13/billing-wartungsarbeiten/</link>
		<comments>https://s4leaguegame.com/de/2020/07/13/billing-wartungsarbeiten/#respond</comments>
		<pubDate>Mon, 13 Jul 2020 14:14:37 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/07/13/billing-wartungsarbeiten/</guid>
		<description><![CDATA[Leaguers, wir möchten euch über unsere bevorstehende Wartung informieren. Am Dienstag, den 14. Juli um 7:00 Uhr MESZ wird unser Billing System gewartet. Während der [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png" title="Billing Wartungsarbeiten" width="690" height="330"/></p>
<p>Leaguers, wir möchten euch über unsere bevorstehende Wartung informieren. </p>



<p>Am Dienstag, den 14. Juli um 7:00 Uhr MESZ wird unser Billing System gewartet. Während der Wartung könnt ihr keine Aeria Points (AP) verwenden oder Einkäufe für Aeria Points (AP)​ tätigen. </p>



<p>Wir schätzen, dass die Wartung 2 Stunden dauert. Ihr könnt euch gerne unserem <a href="https://discord.gg/s4league">Discord-Server</a> anschließen, um über das Ende der Wartungsarbeiten informiert zu werden.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/07/13/billing-wartungsarbeiten/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
