<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueChallenge of the Week &#8211; Eagle Eye &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/07/17/challenge-of-the-week-eagle-eye/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Challenge of the Week &#8211; Eagle Eye</title>
		<link>https://s4leaguegame.com/2020/07/17/challenge-of-the-week-eagle-eye/</link>
		<comments>https://s4leaguegame.com/2020/07/17/challenge-of-the-week-eagle-eye/#respond</comments>
		<pubDate>Fri, 17 Jul 2020 17:05:53 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/e22e346e-cotw_29_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1863</guid>
		<description><![CDATA[Hello Leaguers! Welcome to the new challenge! To create exciting, high-level play experiences the&#160;S4 League&#160;team hosts a variety of regularly scheduled Challenge Events! Take part [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/e22e346e-cotw_29_20.jpg" title="Challenge of the Week &#8211; Eagle Eye" width="2000" height="500"/></p>
<p>Hello Leaguers!</p>



<p>Welcome to the new challenge!</p>



<p>To create exciting, high-level play experiences the&nbsp;<em>S4 League</em>&nbsp;team hosts a variety of regularly scheduled Challenge Events!</p>



<p>Take part in the event where you challenge yourself to get even better and win great prizes!</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/bc2dfd295246468decc37d588bd62ba1/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touch Down</strong></p>



<p><strong>Map: Wonderland, Ice Square</strong></p>



<p><strong>Amount of players: 6 or more</strong><strong><br><br>No friendly mode (FM) allowed.</strong></p>



<p><strong>Regular tier</strong>: Kill 25 Enemies.</p>



<p><strong>Leaguer tier</strong>: Kill 60 Enemies.</p>



<p><strong>eSper tier</strong>: Kill 100 Enemies.</p>



<p>The event runs automatically. Prove of participation is not needed.</p>



<p>The goal can be reached with multiple matches.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/cdd7e51bff374fc3cac64f779da5f422/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_002.jpg"/></figure>



<p>This week&#8217;s challenge will be active from 17th of July 08:00pm CEST until the 26th of July 11:59pm CEST.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/6343231c3cb2ad92cb9c7157d6582802/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_003.jpg"/></figure>



<div class="wp-block-group"><div class="wp-block-group__inner-container">
<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/ee9252486db19716f0709cacfc02b8ef/files/s4l/image/d/dragonade_ergebnis.png" alt="dragonade_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/eafc5e3f7116bea76d97e0070bd8f445/files/s4l/image/i/icon_gun_sharpshooter_unique_ergebnis.png" alt="icon_gun_sharpshooter_unique_ergebnis.png"/></figure></li></ul></figure>
</div></div>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="275" src="https://assets.cdn.one.gamigo.com/2020/07/53328710-image-560x275.png" alt="" class="wp-image-1864" srcset="https://assets.cdn.one.gamigo.com/2020/07/53328710-image-560x275.png 560w, https://assets.cdn.one.gamigo.com/2020/07/53328710-image-300x147.png 300w, https://assets.cdn.one.gamigo.com/2020/07/53328710-image-768x377.png 768w, https://assets.cdn.one.gamigo.com/2020/07/53328710-image.png 887w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/7a929988cafd1b962c5ba3bcd5913915/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_004.jpg"/></figure>



<p>&#8211; Weekly Challenges is the event where you complete a task by yourself or with your teammates.</p>



<p>&#8211; Friendly mode (FM) does not qualify you for this event.</p>



<p>&#8211; If there are room requirements you have to follow them.</p>



<p>&#8211; Rewards will be send after the event is finished.</p>



<p>&#8211; No cheating or hacking allowed.</p>



<p>&#8211; No farming allowed.</p>



<p>&#8211; We reserve the right to disqualify any participant who may breach the rules of the contest or our ToS!</p>



<p>&#8211; No exceptions for participation outside of the set time frame will be given. Sorry!</p>



<p>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/07/17/challenge-of-the-week-eagle-eye/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
