<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueSales &#8211; Back to School &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/09/25/sales-back-to-school/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Sales &#8211; Back to School</title>
		<link>https://s4leaguegame.com/de/2020/09/25/sales-back-to-school/</link>
		<comments>https://s4leaguegame.com/de/2020/09/25/sales-back-to-school/#respond</comments>
		<pubDate>Fri, 25 Sep 2020 12:15:03 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/09/25/sales-back-to-school/</guid>
		<description><![CDATA[Hallo Leaguers, Auch in schweren Zeiten müssen unsere jüngeren Generationen jedes Jahr wieder zur Schule. Und es ist jedes Schuljahr das Gleiche: Die coolen Kids [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png" title="Sales &#8211; Back to School" width="420" height="260"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="266" src="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png" alt="" class="wp-image-1905" srcset="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png 560w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-300x142.png 300w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss.png 685w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Hallo Leaguers,</p>



<p>Auch in schweren Zeiten müssen unsere jüngeren Generationen jedes Jahr wieder zur Schule. Und es ist jedes Schuljahr das Gleiche: Die coolen Kids sitzen in der Letzen Schulbankreiehe, schön weit weg vom leerer, um ungestört am Smartphone zu spielen, die schlauen Schüler positionieren sich vor dem Lehrer und<strong> S4 League</strong> bietet jedem einen guten Start ins neue Schuljahr.</p>



<p>Ab Freiteg, dem 25.09.2020 16:00 Uhr kannst du besondere und sehr limitierte Angebote für fantastische Items in unserer <strong><a href="https://s4league.aeriagames.com/itemmall/Back%2Bto%2BSchool">Back to School Kategory</a> </strong>finden. Und oben drauf haben wir auch einen <strong><a href="https://s4league.aeriagames.com/itemmall/tiered-spender/1">Tiered Spender</a></strong> für die coolen Kids unter euch. Also verpasst nicht eure Chance, euer Libelings-Item zu ergattern, und wie immer, viel Spaß in der Netsphere!!!</p>



<p>Euer S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/09/25/sales-back-to-school/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
