<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueExtended Maintenance &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/05/25/extended-maintenance/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Extended Maintenance</title>
		<link>https://s4leaguegame.com/2020/05/25/extended-maintenance/</link>
		<comments>https://s4leaguegame.com/2020/05/25/extended-maintenance/#respond</comments>
		<pubDate>Mon, 25 May 2020 15:33:46 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/4f991019-extmaintnews.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1791</guid>
		<description><![CDATA[Leaguers, we want to inform you that we expect a longer maintenance this Wednesday.We&#8217;ll make some updates on our backend and thus the maintenance will [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/4f991019-extmaintnews.jpg" title="Extended Maintenance" width="460" height="290"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="140" src="https://assets.cdn.one.gamigo.com/2020/05/97fa28cc-extended-maintenance-forum-560x140.jpg" alt="" class="wp-image-1786" srcset="https://assets.cdn.one.gamigo.com/2020/05/97fa28cc-extended-maintenance-forum-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/05/97fa28cc-extended-maintenance-forum-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/05/97fa28cc-extended-maintenance-forum-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/05/97fa28cc-extended-maintenance-forum-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/05/97fa28cc-extended-maintenance-forum.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Leaguers, we want to inform you that we expect a longer maintenance this Wednesday.<br>We&#8217;ll make some updates on our backend and thus the maintenance will take longer than usual. the NetSphere will be completely cut off from the outer world during this time.   </p>



<p>You can join our Discord to follow the progress and to participate in our frequent S4 League Quiz. You can win fancy prizes and show your knowledge about S4 League to all other leaguers.   </p>



<p>Maintenance Start: 9 AM CEST / 3 AM EST<br>Maintenance Ends: No ETA &nbsp; </p>



<p>Discord: <a rel="noreferrer noopener" href="https://discord.gg/S4League" target="_blank">https://discord.gg/S4League</a></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/05/25/extended-maintenance/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
