<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueSales &#8211; Back to School &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Sales &#8211; Back to School</title>
		<link>https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/</link>
		<comments>https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/#respond</comments>
		<pubDate>Fri, 25 Sep 2020 12:51:12 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/09/25/sales-back-to-school/</guid>
		<description><![CDATA[Bonjour Leagueurs, Même dans les temps difficiles actuels, les jeunes générations doivent retourner à l&#8217;école chaque année. Et c&#8217;est toujours la même chose chaque année [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png" title="Sales &#8211; Back to School" width="420" height="260"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png" alt="" class="wp-image-1905" srcset="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png 560w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-300x142.png 300w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss.png 685w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs,</p>



<p><div>Même dans les temps difficiles actuels, les jeunes générations doivent retourner à l&rsquo;école chaque année. Et c&rsquo;est toujours la même chose chaque année scolaire. Les enfants cool occupent la dernière rangée de pupitres de la classe pour s&rsquo;asseoir loin du professeur et jouer sur leur smartphone, les enfants intelligents se placent devant le bureau du professeur et <strong>S4 League</strong> a quelque chose pour que les deux prennent un bon départ.</div></p>



<p><div>

À partir du <strong>vendredi 25 septembre 16:00</strong>, vous pourrez trouver les offres intelligentes, passionnantes et très limitées, dans notre <a href="https://s4league.aeriagames.com/itemmall/Back%2Bto%2BSchool">catégorie Back to school</a>, avec des objets fantastiques et, en plus, nous avons un <a href="https://s4league.aeriagames.com/itemmall/tiered-spender/1">Programme de Récompenses</a> pour les enfants cool parmi vous.
<div>Ne manquez donc pas cette occasion de vous procurer votre objet préféré et, comme toujours, amusez-vous dans la Netsphère !</div>
</div></p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
