<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueMaintenance 21.01 &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2021/01/20/maintenance-21-01/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Maintenance 21.01</title>
		<link>https://s4leaguegame.com/2021/01/20/maintenance-21-01/</link>
		<comments>https://s4leaguegame.com/2021/01/20/maintenance-21-01/#respond</comments>
		<pubDate>Wed, 20 Jan 2021 13:19:37 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2019/09/0e9fd8e1-last.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2038</guid>
		<description><![CDATA[Dear Leaguers, On 21.01.2021 at 09:00 AM CET – 02:00 AM CT – 00:00 &#160;AM PT we will be performing a maintenance of our servers. [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2019/09/0e9fd8e1-last.jpg" title="Maintenance 21.01" width="1920" height="800"/></p>
<p>Dear Leaguers,<br><br><strong>On 21.01.2021 at 09:00 AM CET – 02:00 AM CT – 00:00 &nbsp;AM PT we will be performing a maintenance of our servers.</strong><br><br>The expected duration is two hours.</p>



<p>In the meantime, the servers will be shut down and you will not be able to enter the game until the maintenance is over.</p>



<p>Thank you for your understanding!<br><br>Cheers!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/01/20/maintenance-21-01/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
