<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueS4 League OST &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2021/02/26/s4-league-ost/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>S4 League OST</title>
		<link>https://s4leaguegame.com/2021/02/26/s4-league-ost/</link>
		<comments>https://s4leaguegame.com/2021/02/26/s4-league-ost/#respond</comments>
		<pubDate>Fri, 26 Feb 2021 10:59:42 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2093</guid>
		<description><![CDATA[Dear Leaguers, With the game closing at the end of April, it is important to share with you as many special moments as possible. Therefore, [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png" title="S4 League OST" width="997" height="630"/></p>
<p>Dear Leaguers,<br><br>With the game closing at the end of April, it is important to share with you as many special moments as possible.<br><br>Therefore, we&#8217;ll offer you a link with all S4 League Original Soundtracks. With the intention to bring back good memories of competitive games with friends and teammates.<br><br>Music and soundtracks are essential elements of each game and we know these tracks will be of high value to you as they will bring back nostalgia, moreover it is important that we preserve only the beautiful moments so we can all remember what a wonderful game S4 League is.<br><br>Here&#8217;s to a colourful, melodic and sunny weekend! Link with the songs:&nbsp;<a href="http://bit.ly/S4_OST">http://bit.ly/S4_OST</a><br><br>Sincerely,<br>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/02/26/s4-league-ost/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
