<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueGM Hunt events &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/11/19/gm-hunt-events/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>GM Hunt events</title>
		<link>https://s4leaguegame.com/2020/11/19/gm-hunt-events/</link>
		<comments>https://s4leaguegame.com/2020/11/19/gm-hunt-events/#respond</comments>
		<pubDate>Thu, 19 Nov 2020 17:36:10 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1972</guid>
		<description><![CDATA[Hello Leaguers! Once again, the time has come to chase our Game Masters. Don&#8217;t miss this chance to teach them the ins and outs and [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg" title="GM Hunt events" width="900" height="225"/></p>
<p>Hello Leaguers!</p>



<p>Once again, the time has come to chase our Game Masters. Don&#8217;t miss this chance to teach them the ins and outs and be rewarded with a bounty.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/5eaddd4b38e52ca8d220a362fdc7abf2/files/s4l/image/H/HowtoParticipateam22.png" alt="HowtoParticipateam22.png" width="224" height="20"/></figure>



<p><br>The GM team will join or create their personal rooms! You need to kill a GM with no assist and screen it! The GM name needs to be clear enough to read.</p>



<p>Note that the button to take a screenshot is F12! Don&#8217;t forget it!</p>



<p><a href="https://s4league.aeriagames.com/forum/index.php?thread/37-s4league-community-managers-game-masters/">Here is the list of the current GM team</a></p>



<p>Submit your screenshot after successfully killing a GM in this form:</p>



<p><a href="https://bit.ly/GMHUNT-0420">SUBMIT</a></p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/66d217100f38b25774b326cb238a663c/files/s4l/image/W/Whenam22.png" alt="Whenam22.png" width="83" height="20"/></figure>



<p>The events will run from 20-22.11 and 27-29.11. GM&#8217;s will notify of exact time on Discord.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/27ea059b472ad28776111c5ba5b9be0e/files/s4l/image/P/Prizesam22.png" alt="Prizesam22.png" width="83" height="20"/></figure>



<p>You can choose 1 pack from one of the following rewards:</p>



<ul><li>2x Toy Gun Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Galaxy Counter Sword Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Space Rabbit Pet Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Marko Parrot Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Sexy Striker (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Fumbi Striker (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Violet (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Leo (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li></ul>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/d0fd9fb3ef8ba7d9be0cf3272c399483/files/s4l/image/R/Rulesam22.png" alt="Rulesam22.png" width="73" height="20"/></figure>



<ul><li>You can take part only twice in this event, more than two submissions won’t count!</li><li>You can only submit only one entry per GM. You won&#8217;t be rewarded for the same GM twice!</li><li>Your In-Game Name and the GM name should be clear.</li><li>You aren’t allowed to edit the screenshots in any way!</li><li>Submit your screenshots above in the form.</li><li>Your kills have to be made without assists!</li><li>Submissions after the deadline will not be accepted. No exceptions will be made.</li><li>Upload your screenshots on&nbsp;<a href="https://imgbb.com/">https://imgbb.com/</a>&nbsp;or a similar screenshot sharing platform.</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/11/19/gm-hunt-events/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
