<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueBilling Maintenance &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/07/13/billing-maintenance/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Billing Maintenance</title>
		<link>https://s4leaguegame.com/2020/07/13/billing-maintenance/</link>
		<comments>https://s4leaguegame.com/2020/07/13/billing-maintenance/#respond</comments>
		<pubDate>Mon, 13 Jul 2020 13:50:43 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1848</guid>
		<description><![CDATA[Leaguers, we want to inform you about our upcoming maintenance. On Tuesday, July 14 at 7:00 am CEST there will be a maintenance for our [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png" title="Billing Maintenance" width="690" height="330"/></p>
<p>Leaguers, we want to inform you about our upcoming maintenance.<br><br>On Tuesday, July 14 at 7:00 am CEST there will be a maintenance for our billing system. During the maintenance, you won&#8217;t be able to use Aeria Points (AP) or to make purchases for Aeria Points (AP)<br><br>We estimate the maintenance to last for 2 hours. Feel free to join our <a href="https://discord.gg/s4league">Discord server</a> to be informed about the end of the billing maintenance.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/07/13/billing-maintenance/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
