<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueAdventkalendar &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/12/01/adventkalendar/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Adventkalendar</title>
		<link>https://s4leaguegame.com/de/2020/12/01/adventkalendar/</link>
		<comments>https://s4leaguegame.com/de/2020/12/01/adventkalendar/#respond</comments>
		<pubDate>Tue, 01 Dec 2020 12:30:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2009</guid>
		<description><![CDATA[Hi Leaguers, Weihnachten ist nahe und wor würden gerne den Adventkalendar mit euch teilen! Genieße so viel vom Event, wie möglich! *Spiel den Snowball Modus [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg" title="Adventkalendar" width="700" height="300"/></p>
<p>Hi Leaguers,</p>



<p>Weihnachten ist nahe und wor würden gerne den <a href="https://gamigo.net/advent/s4league/en/">Adventkalendar</a> mit euch teilen!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="474" height="934" src="https://assets.cdn.one.gamigo.com/2020/12/c16c4059-capturede.png" alt="" class="wp-image-2019" srcset="https://assets.cdn.one.gamigo.com/2020/12/c16c4059-capturede.png 474w, https://assets.cdn.one.gamigo.com/2020/12/c16c4059-capturede-152x300.png 152w" sizes="(max-width: 474px) 100vw, 474px" /></figure>



<p>Genieße so viel vom Event, wie möglich!</p>



<p>*Spiel den Snowball Modus am 24.12. und eliminiere 10 Spieler. Wir verlosen 10 Benutzer von allen, die diese Aufgabe erledigt haben. Füllt dieses Dokument aus:&nbsp;<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7rbjkudyykGaWoVR25sKPoe1xCs9Ot1FuGSOaLAIOV5UOU1YUUtZWlE4MUZNTk9RWlJaRkVRODE3RC4u">LINK</a></p>



<p>Genießt den Adventkalendar!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/12/01/adventkalendar/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
