<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueHerausforderung der Woche &#8211; Sommer Party &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/06/05/herausforderung-der-woche-sommer-party/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Herausforderung der Woche &#8211; Sommer Party</title>
		<link>https://s4leaguegame.com/de/2020/06/05/herausforderung-der-woche-sommer-party/</link>
		<comments>https://s4leaguegame.com/de/2020/06/05/herausforderung-der-woche-sommer-party/#respond</comments>
		<pubDate>Fri, 05 Jun 2020 11:39:53 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1806</guid>
		<description><![CDATA[Hallo Leaguers! Wilkommen zu der neuen Challenge! Um aufregende und hochrangige Spielerfahrung zu schaffen, hostet das S4 League Team eine Vielzahl von regelmäßig geplanten Herausforderungen! [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg" title="Herausforderung der Woche &#8211; Sommer Party" width="2000" height="500"/></p>
<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="140" src="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-560x140.jpg" alt="" class="wp-image-1799" srcset="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Hallo Leaguers!</p>



<p>Wilkommen zu der neuen Challenge!</p>



<p>Um aufregende und hochrangige Spielerfahrung zu schaffen, hostet das S4 League Team eine Vielzahl von regelmäßig geplanten Herausforderungen!</p>



<p>Nimm an den Events teil, bei denen du dich selbst übertreffen musst, besser wirst und tolle Preise gewinnen kannst!</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/ec6c82561fd083ced035b71ec49447e2/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touchdown</strong></p>



<p><strong>Karte: Colosseum, Neden-3</strong></p>



<p><strong>Anzahl der Spieler: 6 oder mehr</strong><strong><br><br>Der Freundliche Modus (FM) ist nicht erlaubt.</strong></p>



<p><strong>Regular tier</strong>: Töte insgesamt 70 Gegner.</p>



<p><strong>Leaguer tier</strong>: Töte insgesamt 150 Gegner.</p>



<p><strong>eSper tier</strong>: Töte insgesamt 250 Gegner.</p>



<p>Dieses Event läuft automatisch. Ein Beweis zur Teilnahme ist nicht nötig.<br>Das Ziel kann mithilfe mehrerer Spiele erreicht werden.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/fdecda015fff0d06508222cc9e0a595c/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_002.jpg"/></figure>



<p>Das Event läuft vom 05. Juni 20:00 Uhr MESZ bis zum 14. Juni 23:59 Uhr MESZ.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/36666d341125d2d865d8d8fef62e83e6/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_003.jpg"/></figure>



<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/6b9e713cc8e9ec5162277f35933d0c2a/files/s4l/image/i/icon_s_jazzupflower_m_ergebnis.png" alt="icon_s_jazzupflower_m_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/ab6502184a3a830680336c0c36f596ee/files/s4l/image/i/icon_s_jazzupbutterfly_w_ergebnis.png" alt="icon_s_jazzupbutterfly_w_ergebnis.png"/></figure></li></ul></figure>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="244" src="https://assets.cdn.one.gamigo.com/2020/06/b10ee3d8-image-560x244.png" alt="" class="wp-image-1812" srcset="https://assets.cdn.one.gamigo.com/2020/06/b10ee3d8-image-560x244.png 560w, https://assets.cdn.one.gamigo.com/2020/06/b10ee3d8-image-300x131.png 300w, https://assets.cdn.one.gamigo.com/2020/06/b10ee3d8-image-768x335.png 768w, https://assets.cdn.one.gamigo.com/2020/06/b10ee3d8-image.png 887w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/424a75ed21d99091d26c36d82585a0ce/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_DE_004.jpg"/></figure>



<p>&#8211; Die wöchentliche Herausforderung kann von dir alleine oder mit einem Team abgeschlossen werden.</p>



<p>&#8211; Der freundliche Modus (FM) qualifiziert Euch nicht für dieses Event.</p>



<p>&#8211; Wenn es Raumvorgaben gibt, musst du diese erfüllen.</p>



<p>&#8211; Belohnungen werden nach Ende des Events verschickt.</p>



<p>&#8211; Kein Cheaten oder Hacken.</p>



<p>&#8211; Kein Farmen.</p>



<p>&#8211; Wir behalten uns das Recht vor, jeden Beitrag zu disqualifizieren, welche gegen die geltenenden AGB verstößt!</p>



<p>&#8211; Es gibt keine Ausnahme, für das Einreichen der Beiträge außerhalb des genannten Zeitrahmens. Sorry!</p>



<p>Dein S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/06/05/herausforderung-der-woche-sommer-party/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
