<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueDiscord Server &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2021/03/16/discord-server/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Tue, 16 Mar 2021 17:00:10 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Discord Server</title>
		<link>https://s4leaguegame.com/de/2021/03/16/discord-server/</link>
		<comments>https://s4leaguegame.com/de/2021/03/16/discord-server/#respond</comments>
		<pubDate>Tue, 16 Mar 2021 17:00:09 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2121</guid>
		<description><![CDATA[Liebe Leaguers, Wie ihr bereits wisst, wird S4L am 29. April 2021 abgeschalten. Unglücklicherweise werden wir, früher als ursprünglich geplant, den Discord Server bereits am [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Discord Server" width="500" height="300"/></p>
<p>Liebe Leaguers, Wie ihr bereits wisst, wird S4L am 29. April 2021 abgeschalten. Unglücklicherweise werden wir, früher als ursprünglich geplant, den Discord Server bereits am 19. März 2021 schließen.<br><br>Wir empfehlen euch die Discord Server unserer Spiele aus dem gamigo group Portfolio zu besuchen.</p>



<p>Trove &#8211; <a href="https://discord.gg/VqFgpu4Fyz">Link zum Discord</a></p>



<p>Holt eure Freunde, nehmt euer Schwerter und macht euch auf in ein Abenteuer in Trove, das ultimative Block-Action-MMO.</p>



<p>ArcheAge &#8211; <a href="https://discord.com/invite/archeageofficial">Link zum Discord</a></p>



<p>In diesem Fantasy-Sandbox-MMORPG geht es nicht darum, einem vordefinierten Pfad zu folgen, sondern eine Welt zu erschaffen, indem du die Dinge auswählst, die für dich wichtig sind.</p>



<p>Wenn ihr über die letzten Tage von S4 League informiert bleiben möchtet, könnt ihr den [<a href="https://discord.gg/EpQtEds4v4">von der Community erstellten Discord Server</a>] mit unseren S4 League Game Mastern beitreten.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2021/03/16/discord-server/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
