<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueMacht euch bereit für Reforestation! &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Macht euch bereit für Reforestation!</title>
		<link>https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/</link>
		<comments>https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/#respond</comments>
		<pubDate>Wed, 16 Dec 2020 13:26:13 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2029</guid>
		<description><![CDATA[Im vergangenen Frühjahr hat sich Gamigo mit Eden Reforestation Projects zusammengetan, um durch das Pflanzen von Bäumen eine positive Wirkung zu erzielen. Mit eurer Hilfe [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg" title="Macht euch bereit für Reforestation!" width="1920" height="700"/></p>
<p>Im vergangenen Frühjahr hat sich Gamigo mit Eden Reforestation Projects zusammengetan, um durch das Pflanzen von Bäumen eine positive Wirkung zu erzielen. Mit eurer Hilfe haben wir Eden Reforestation Projects erfolgreich dabei geholfen, über 113.127 Bäume zu pflanzen und mehr als 1.000 Tage mit fairen Lohnbeschäftigungen für lokale Dorfbewohner zu bieten, die neben den Projektstandorten leben.<br><br>Aber es gibt noch mehr zu tun. Und gemeinsam planen wir einen noch größeren Einfluss. In dieser Weihnachtszeit arbeitet Gamigo erneut mit Eden Reforestation Projects zusammen, um der Mutter Erde gute Laune zu bereiten und ein Geschenk zu machen.<br><br>Eden Reforestation Projects bekämpfen aktiv die Klimakrise, indem sie Wälder Baum für Baum wiederherstellen und die verheerenden Auswirkungen der Entwaldung lindern. Und jeder gepflanzte Baum dient dazu, das gesamte Leben zu schützen, zu versorgen, zu pflegen und zu erhalten. Aber die geleistete Arbeit durch Eden Reforestation Projects baut auch Gemeinden wieder auf. Faire Löhne und das Engagement für den Aufbau von Fähigkeiten und die Beschäftigung von Frauen und Alleinerziehenden verhindern, dass Landwirte sich selbst oder ihre Familien in die Sklaverei verkaufen, um zu überleben. Wir haben schon einmal einen Unterschied ausgemacht, lasst es uns erneut tun, zusammen!<br><br>Ab heute, dem 16. Dezember 2020, laden wir euch ein, sich uns bei dieser #gamigotrees Wohltätigkeitsaktion anzuschließen, die zeigt, was wir gemeinsam durch Spiele erreichen und Menschen und der Erde helfen können, eine nachhaltige, harmonische Zukunft für kommende Generationen zu erreichen.<br><br>Wir werden 3 Pakete mit tollen Gegenständen anbieten, die zu diesem Anlass helfen können. Mit dem Kauf jedes Paketes pflanzt Eden Reforestation Projects 5, 10 oder sogar 20 Bäume in einer bedürftigen Region! Schaut sie euch an!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="315" src="https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg" alt="" class="wp-image-2030" srcset="https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg 560w, https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-300x169.jpg 300w, https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675-768x432.jpg 768w, https://assets.cdn.one.gamigo.com/2020/12/cca3a0b5-s4l_en_twitter_eden-xmas_1200x675.jpg 1200w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Wenn ihr an unserer Wohltätigkeitsveranstaltung teilnehmt, unterstützt ihr das Pflanzen von Bäumen auf der ganzen Welt und erklimmt die globale Rangliste, um durch die Teilnahme an unserer Verlosung exklusive Preise von GIGABYTE, Monster und ROCCAT zu gewinnen. Wir feiern den Geist der Solidarität. Für jeden gepflanzten Baum erhaltet ihr einen Beitrag zur Teilnahme an unserer Verlosung und erhaltet die Chance, ein Gewinner zu werden. Eine weitere Möglichkeit besteht darin, an unserer Umfrage teilzunehmen und einen einzigen Eintrag zu erhalten. Je mehr Pakete ihr kauft, desto mehr Gewinnchancen habt ihr. <br><br>Für weitere Details klickt <a href="https://charity.gamigo.com/de">hier</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/12/16/macht-euch-bereit-fuer-reforestation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
