<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueNews &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/category/news/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Discord server</title>
		<link>https://s4leaguegame.com/2021/03/16/discord-server/</link>
		<comments>https://s4leaguegame.com/2021/03/16/discord-server/#respond</comments>
		<pubDate>Tue, 16 Mar 2021 16:57:03 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2114</guid>
		<description><![CDATA[Dear Leaguers, As you know, S4L will shut down on April 29, 2021. Unfortunately, we will be closing our Discord server on March 19, 2021, [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Discord server" width="500" height="300"/></p>
<p>Dear Leaguers,<br><br>As you know, S4L will shut down on April 29, 2021. Unfortunately, we will be closing our Discord server on March 19, 2021, earlier than planned.</p>



<p>We encourage you to join the Discord server of any games within the gamigo group portfolio.<br><br>Trove &#8211; <a href="https://discord.gg/VqFgpu4Fyz">Link to Discord</a></p>



<p>Grab your friends, hone your blades, and set off for Adventure in Trove, the ultimate blocky action MMO.</p>



<p>ArcheAge &#8211; <a href="https://discord.com/invite/archeageofficial">Link to Discord</a></p>



<p>This fantasy-sandbox MMORPG isn&#8217;t about following a predefined path, it&#8217;s about creating a world by choosing the things that matter to you.</p>



<p>If you would like to stay informed on Discord about the last days of S4 League, you can join [<a href="https://discord.gg/EpQtEds4v4">this community-made Discord Server</a>] with our S4 League Game Master.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/03/16/discord-server/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Network Maintenance</title>
		<link>https://s4leaguegame.com/2021/03/15/network-maintenance/</link>
		<comments>https://s4leaguegame.com/2021/03/15/network-maintenance/#respond</comments>
		<pubDate>Mon, 15 Mar 2021 18:39:40 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2104</guid>
		<description><![CDATA[Dear Leaguers, We plan a network maintenance tomorrow, 16.03.2021. The maintenance is planned to begin at 08:00 AM CET – 01:00 AM CT – 15th [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="Network Maintenance" width="650" height="260"/></p>
<p>Dear Leaguers, <br><br>We plan a network maintenance tomorrow, 16.03.2021. The maintenance is planned to begin at 08:00 AM CET – 01:00 AM CT – 15th March 11:00 PM PT and is going to last approximately 30 mins. Our servers may be affected by this maintenance, so expect a downtime of about 30 mins. <br><br>Thank you for your understanding!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/03/15/network-maintenance/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>S4 League OST</title>
		<link>https://s4leaguegame.com/2021/02/26/s4-league-ost/</link>
		<comments>https://s4leaguegame.com/2021/02/26/s4-league-ost/#respond</comments>
		<pubDate>Fri, 26 Feb 2021 10:59:42 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2093</guid>
		<description><![CDATA[Dear Leaguers, With the game closing at the end of April, it is important to share with you as many special moments as possible. Therefore, [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/f8a2606c-26.02.png" title="S4 League OST" width="997" height="630"/></p>
<p>Dear Leaguers,<br><br>With the game closing at the end of April, it is important to share with you as many special moments as possible.<br><br>Therefore, we&#8217;ll offer you a link with all S4 League Original Soundtracks. With the intention to bring back good memories of competitive games with friends and teammates.<br><br>Music and soundtracks are essential elements of each game and we know these tracks will be of high value to you as they will bring back nostalgia, moreover it is important that we preserve only the beautiful moments so we can all remember what a wonderful game S4 League is.<br><br>Here&#8217;s to a colourful, melodic and sunny weekend! Link with the songs:&nbsp;<a href="http://bit.ly/S4_OST">http://bit.ly/S4_OST</a><br><br>Sincerely,<br>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/02/26/s4-league-ost/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>S4 League Game Closure Announcement</title>
		<link>https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/</link>
		<comments>https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/#respond</comments>
		<pubDate>Wed, 24 Feb 2021 02:11:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2059</guid>
		<description><![CDATA[Dear Leaguers, Since the launch of S4 League, we have spent countless happy times together with you, forging last friendships and relationships. Today, we come [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2021/02/67074c3d-s4_cyborgs.jpg" title="S4 League Game Closure Announcement" width="650" height="260"/></p>
<p>Dear Leaguers,<br><br>Since the launch of S4 League, we have spent countless happy times together with you, forging last friendships and relationships. Today, we come to you with sad news and heavy hearts. We have concluded that S4L can no longer sustain itself. As a result, S4 League will officially cease all operations on April 29, 2021.</p>



<p>What happens next? <br><br>Your CMs will continue to entertain you with events, and you will still be able to play the game. However, with a few restrictions. Our web mall will be closed for transactions beginning Wednesday, February 24, 2021, meaning all AP purchases will no longer be possible. Our in-game shop will remain open with discounts of up to 95% off on all items.</p>



<p>What about my spent AP in the last months?<br><br>If you have purchased items with Aeria Points (AP), you will receive a refund of the AP on your accounts. We will refund 100% of all AP spent in the last 60 days or 200% of all AP spent within the last 30 days to your Aeria Games account. For the refund, please contact our Customer Support Team.</p>



<p>Leaguers can also expect additional gifts to specific games from the gamigo portfolio in a follow-up newsletter.</p>



<p>Further, as a welcome gift, please find unique codes to specific games to get your new adventures off to a great start. <br><br>TROVE [<a href="https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow">https://trovelive.trionworlds.com/commerce/voucher/redeem-voucher-flow</a>] <br><br>Grab your friends, hone your blades, and set off for Adventure in Trove, the ultimate blocky action MMO. <br>Redemption Code: THXANDSEEYOUINTROVE </p>



<p>ArcheAge [<a href="https://www.trionworlds.com/archeage/en/">https://www.trionworlds.com/archeage/</a>]</p>



<p>This fantasy-sandbox MMORPG isn&#8217;t about following a predefined path, it&#8217;s about creating a world by choosing the things that matter to you.</p>



<p>Redemption Code: WELCOMELEAGUERAA<br><br>Desert Operations [<a href="https://desertoperations.gamigo.com/">https://desertoperations.gamigo.com/</a>] <br><br>Conquer the world through battle, diplomacy and teamplay! Vehicles, helicopter gunships, jets, ships and much more are to be yours to take important economic and strategic decisions in this strategy MMO! <br>Redemption Code: DOWARMUP</p>



<p>To everyone wondering what to play now that your favorite game at gamigo is closing, worry not! We have games from all types and genres here at gamigo! Check our website at <a href="https://gamigo.net/">https://gamigo.net/</a> and pick your next passion!</p>



<p>A heartfelt thank you to every player who took the time to play our beloved game and helped us along the way with feedback and suggestions. You are in an incredible community.</p>



<p>For additional information, you can visit our <a href="https://s4league.aeriagames.com/forum/wcf/index.php?article/733-s4-league-game-closure-faq/">FAQ forum thread</a> for more detail.</p>



<p>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/02/24/s4-league-game-closure-announcement/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Compensation Package</title>
		<link>https://s4leaguegame.com/2021/02/19/compensation-package/</link>
		<comments>https://s4leaguegame.com/2021/02/19/compensation-package/#respond</comments>
		<pubDate>Fri, 19 Feb 2021 13:11:38 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2048</guid>
		<description><![CDATA[Hello Leaguers, thanks for your patience and understanding for the past 2 months. We understand that the experience has suffered a lot during this time [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Compensation Package" width="500" height="300"/></p>
<figure class="wp-block-image size-large"><img src="https://i.imgur.com/7Nemq04.jpg"/></figure>



<p>Hello Leaguers, thanks for your patience and understanding for the past 2 months.</p>



<p>We understand that the experience has suffered a lot during this time period and we wanted to give something back to you.<br>With this compensation package every player is able to receive the following items:</p>



<ul><li>1x 100% Unique Booster</li><li>3x Random Weapon Capsule</li><li>3x Random Female Costume Capsule</li><li>3x Random Male Costume Capsule</li><li>3x Unique Skill Capsule</li><li>1x Random Esper Chip Lv5 Capsule</li><li>1x 50.000 PEN</li></ul>



<p>ENTER THE CODE <span class="has-inline-color has-vivid-red-color"><strong>COMPENSATION</strong></span> TO RECEIVE THE ITEM.</p>



<p>Claim the item until February 23rd, 2021. It will become unavailable afterward.</p>



<p>Claim your package <a rel="noreferrer noopener" href="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486" data-type="URL" data-id="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486" target="_blank">here</a>.<br><br>Sincerely,<br>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/02/19/compensation-package/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Maintenance 21.01</title>
		<link>https://s4leaguegame.com/2021/01/20/maintenance-21-01/</link>
		<comments>https://s4leaguegame.com/2021/01/20/maintenance-21-01/#respond</comments>
		<pubDate>Wed, 20 Jan 2021 13:19:37 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2019/09/0e9fd8e1-last.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2038</guid>
		<description><![CDATA[Dear Leaguers, On 21.01.2021 at 09:00 AM CET – 02:00 AM CT – 00:00 &#160;AM PT we will be performing a maintenance of our servers. [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2019/09/0e9fd8e1-last.jpg" title="Maintenance 21.01" width="1920" height="800"/></p>
<p>Dear Leaguers,<br><br><strong>On 21.01.2021 at 09:00 AM CET – 02:00 AM CT – 00:00 &nbsp;AM PT we will be performing a maintenance of our servers.</strong><br><br>The expected duration is two hours.</p>



<p>In the meantime, the servers will be shut down and you will not be able to enter the game until the maintenance is over.</p>



<p>Thank you for your understanding!<br><br>Cheers!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/01/20/maintenance-21-01/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Get ready for Reforestation!</title>
		<link>https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/</link>
		<comments>https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/#respond</comments>
		<pubDate>Wed, 16 Dec 2020 13:24:37 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2022</guid>
		<description><![CDATA[This past spring, gamigo partnered with Eden Reforestation Projects to make a positive impact through planting trees. With your help, we successfully have helped Eden [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/12/ca5dc24b-forum-1920x700px.jpg" title="Get ready for Reforestation!" width="1920" height="700"/></p>
<p>This past spring, gamigo partnered with Eden Reforestation Projects to make a positive impact through planting trees. With your help, we successfully have helped Eden Reforestation Projects plant over 113,127 trees and create over 1,000 days of fair wage employment to local villagers who live adjacent to the project sites.<br><br>But there&#8217;s more to do. And together, we plan on making an even bigger impact. This holiday season, gamigo is once again partnering with Eden Reforestation Projects to bring good cheer and give a gift to Mother Earth.<br><br>Eden Reforestation Projects are actively combating the climate crisis as they restore forest systems one tree at a time, alleviating the devastating effects of deforestation. And every tree planted serves to protect, provide, nurture, and sustain all of life. But the work done by Eden Reforestation Projects also rebuilds communities. Fair wages and a commitment to skill-building and employment for women and single parents help keep farmers from selling themselves or their families into slavery just to survive. <br><br>We’ve made a difference once before, let’s do it again, together!<br><br>Starting today, December 16, 2020 we invite you to join us in this #gamigotrees charity drive of what we can accomplish together through games and by helping people and the earth reach a sustainable, harmonious future for generations to come.<br><br>We will have 3 packages available which can help this cause. With the purchase of each pack, Eden Reforestation Projects will plant 5, 10, or even 20 trees in a region in need! Check them out!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="560" height="315" src="https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg" alt="" class="wp-image-2032" srcset="https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-560x315.jpg 560w, https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-300x169.jpg 300w, https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675-768x432.jpg 768w, https://assets.cdn.one.gamigo.com/2020/12/7c4ed744-s4l_en_twitter_eden-xmas_1200x675.jpg 1200w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p><br>By joining our charity event, you will support the planting of trees around the world and climb the global leaderboard for a chance to win exclusive prizes from GIGABYTE, Monster and ROCCAT by participating in our raffle. We’re celebrating the spirit of solidarity, so for every tree planted you will receive an entry to participate in our raffle and have the chance to become a winner. Another option is to take part in our survey and receive a single entry. The more bundles you buy, the more chances you have of winning. <br><br>For more details, click <a href="https://charity.gamigo.com/en">here</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/12/16/get-ready-for-reforestation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Advent Calendar</title>
		<link>https://s4leaguegame.com/2020/12/01/advent-calendar/</link>
		<comments>https://s4leaguegame.com/2020/12/01/advent-calendar/#respond</comments>
		<pubDate>Tue, 01 Dec 2020 12:30:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2001</guid>
		<description><![CDATA[Hi Leaguers, X-mas is almost here and we would like to share this Advent calendar for you! Feel free to enjoy as many days as [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/a8d0adbc-s4adventcalendar.jpg" title="Advent Calendar" width="700" height="300"/></p>
<p>Hi Leaguers,</p>



<p>X-mas is almost here and we would like to share this <a href="https://gamigo.net/advent/s4league/en/">Advent calendar</a> for you!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="476" height="934" src="https://assets.cdn.one.gamigo.com/2020/12/80c97ce0-captureen.png" alt="" class="wp-image-2014" srcset="https://assets.cdn.one.gamigo.com/2020/12/80c97ce0-captureen.png 476w, https://assets.cdn.one.gamigo.com/2020/12/80c97ce0-captureen-153x300.png 153w" sizes="(max-width: 476px) 100vw, 476px" /></figure>



<p>Feel free to enjoy as many days as you want!</p>



<p>*Play Snowball mode on 24.12 and kill 10 players. We will raffle 10 users from everyone who has completed this task. Fill this&nbsp;<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7rbjkudyykGaWoVR25sKPoe1xCs9Ot1FuGSOaLAIOV5UOU1YUUtZWlE4MUZNTk9RWlJaRkVRODE3RC4u">document</a>.</p>



<p>Enjoy the advent calendar!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/12/01/advent-calendar/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Black Friday Offers</title>
		<link>https://s4leaguegame.com/2020/11/26/black-friday-offers/</link>
		<comments>https://s4leaguegame.com/2020/11/26/black-friday-offers/#respond</comments>
		<pubDate>Thu, 26 Nov 2020 15:00:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1981</guid>
		<description><![CDATA[Dear Leaguer, Are you prepared for THE weekend? This weekend we will have some truly amazing offers for you! Starting from Friday 27th at 4 [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/236b7e53-blkfridaynewssite.png" title="Black Friday Offers" width="545" height="332"/></p>
<p>Dear Leaguer,<br><br>Are you prepared for THE weekend? This weekend we will have some truly amazing offers for you!<br><br>Starting from <strong>Friday 27th</strong> at <strong>4 PM</strong> <strong>CET </strong>until <strong>Monday 30th 4 PM CET</strong> you will find a special &#8220;Black Friday&#8221;category in our <a href="https://s4league.aeriagames.com/itemmall">web shop</a>. What will you find in there you may wonder&#8230;<br><br>Juicy items with <strong>up to 50% discount</strong> will await you!<br><br>But wait! The surprises don&#8217;t end here. We will also have a special &#8220;Black Weekend&#8221; Tiered Spender starting on <strong>Friday 27th</strong> at <strong>4 PM</strong> <strong>CET</strong> and ending on <strong>Tuesday December 1st at 4 PM CET</strong>.<br><br>You may wonder if this is all we have for you. Not at all! <br><br>On Monday <strong>30th at 4 PM CET</strong> and for <strong>24 HOURS ONLY</strong> we will have a Cyber Monday SALE with more discounted offers as well as some popular item restock.<br><br>You wonder what the popular items will be for sure. You shall find out soon!<br><br>Enter our <a href="https://s4league.aeriagames.com/itemmall">shop</a> on <strong>Friday 27th</strong> at <strong>4 PM</strong> <strong>CET</strong> and let the shopping begin!<br><br>Farewell, Leaguer!</p>



<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/11/26/black-friday-offers/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>GM Hunt events</title>
		<link>https://s4leaguegame.com/2020/11/19/gm-hunt-events/</link>
		<comments>https://s4leaguegame.com/2020/11/19/gm-hunt-events/#respond</comments>
		<pubDate>Thu, 19 Nov 2020 17:36:10 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1972</guid>
		<description><![CDATA[Hello Leaguers! Once again, the time has come to chase our Game Masters. Don&#8217;t miss this chance to teach them the ins and outs and [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg" title="GM Hunt events" width="900" height="225"/></p>
<p>Hello Leaguers!</p>



<p>Once again, the time has come to chase our Game Masters. Don&#8217;t miss this chance to teach them the ins and outs and be rewarded with a bounty.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/5eaddd4b38e52ca8d220a362fdc7abf2/files/s4l/image/H/HowtoParticipateam22.png" alt="HowtoParticipateam22.png" width="224" height="20"/></figure>



<p><br>The GM team will join or create their personal rooms! You need to kill a GM with no assist and screen it! The GM name needs to be clear enough to read.</p>



<p>Note that the button to take a screenshot is F12! Don&#8217;t forget it!</p>



<p><a href="https://s4league.aeriagames.com/forum/index.php?thread/37-s4league-community-managers-game-masters/">Here is the list of the current GM team</a></p>



<p>Submit your screenshot after successfully killing a GM in this form:</p>



<p><a href="https://bit.ly/GMHUNT-0420">SUBMIT</a></p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/66d217100f38b25774b326cb238a663c/files/s4l/image/W/Whenam22.png" alt="Whenam22.png" width="83" height="20"/></figure>



<p>The events will run from 20-22.11 and 27-29.11. GM&#8217;s will notify of exact time on Discord.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/27ea059b472ad28776111c5ba5b9be0e/files/s4l/image/P/Prizesam22.png" alt="Prizesam22.png" width="83" height="20"/></figure>



<p>You can choose 1 pack from one of the following rewards:</p>



<ul><li>2x Toy Gun Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Galaxy Counter Sword Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Space Rabbit Pet Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Marko Parrot Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Sexy Striker (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Fumbi Striker (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Violet (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Leo (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li></ul>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/d0fd9fb3ef8ba7d9be0cf3272c399483/files/s4l/image/R/Rulesam22.png" alt="Rulesam22.png" width="73" height="20"/></figure>



<ul><li>You can take part only twice in this event, more than two submissions won’t count!</li><li>You can only submit only one entry per GM. You won&#8217;t be rewarded for the same GM twice!</li><li>Your In-Game Name and the GM name should be clear.</li><li>You aren’t allowed to edit the screenshots in any way!</li><li>Submit your screenshots above in the form.</li><li>Your kills have to be made without assists!</li><li>Submissions after the deadline will not be accepted. No exceptions will be made.</li><li>Upload your screenshots on&nbsp;<a href="https://imgbb.com/">https://imgbb.com/</a>&nbsp;or a similar screenshot sharing platform.</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/11/19/gm-hunt-events/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
