<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueVentes de Black Week &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2019/11/25/ventes-de-black-week/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Ventes de Black Week</title>
		<link>https://s4leaguegame.com/fr/2019/11/25/ventes-de-black-week/</link>
		<comments>https://s4leaguegame.com/fr/2019/11/25/ventes-de-black-week/#respond</comments>
		<pubDate>Mon, 25 Nov 2019 16:26:04 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2019/11/ecad4d6e-a4ca7b73-banners4-560x264-e1574767474897.jpg</featuredImage>
		<dc:creator><![CDATA[anthonypeyre]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1509</guid>
		<description><![CDATA[Chers Leaguers, Nous avons préparé une semaine de ventes spéciales pour vous dans notre boutique en ligne ! Dès le Lundi 25 Novembre, vous trouverez [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2019/11/ecad4d6e-a4ca7b73-banners4-560x264-e1574767474897.jpg" title="Ventes de Black Week" width="305" height="264"/></p>
<figure class="wp-block-image"><img src="https://assets.cdn.one.gamigo.com/2019/11/a4ca7b73-banners4-560x264.jpg" alt="" class="wp-image-1503"/></figure>



<p class="has-text-color has-very-dark-gray-color">Chers Leaguers,<br> <br>Nous avons préparé une semaine de ventes spéciales pour vous dans notre boutique en ligne !<br> <br>Dès le Lundi 25 Novembre, vous trouverez une sélection de nos meilleures articles dans notre boutique en ligne ! Les objets les plus populaires, des packs spéciaux et des offres à ne pas manquer ! <br>Tout au long de la semaine nous ajouterons de nouvelles offres, et ce vendredi de Black Friday, des offres sensationelles feront leur apparition dans un stock et pour une durée limités!<br> <br>Jetez un oeil à notre <strong><a rel="noreferrer noopener" aria-label="catégorie BLACK WEEK  (opens in a new tab)" href="https://s4league.aeriagames.com/itemmall/Black%2BWeek" target="_blank">catégorie BLACK WEEK </a>dès le 25 Novembre à 17h)</strong>&nbsp;et découvrez les offres exceptionelle de la catégorie <strong>BLACK FRIDAY dès le 29 Novembre à 17h</strong> ! </p>



<p>Alors n&rsquo;attendez plus et profitez des ventes Black Friday dès maintenant !<br><br>Votre équipe S4 League. </p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2019/11/25/ventes-de-black-week/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
