<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueLogin Reward Event &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2020/05/20/login-reward-event/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Login Reward Event</title>
		<link>https://s4leaguegame.com/2020/05/20/login-reward-event/</link>
		<comments>https://s4leaguegame.com/2020/05/20/login-reward-event/#respond</comments>
		<pubDate>Wed, 20 May 2020 08:14:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1759</guid>
		<description><![CDATA[Hello Leaguers, As a thank you for the successful charity we want to give something back. From 22.05.2020 until the 31.05.2020 we&#8217;ll have additional login [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg" title="Login Reward Event" width="460" height="290"/></p>
<p>Hello Leaguers,</p>



<p>As a thank you for the successful charity we want to give something back. From 22.05.2020 until the 31.05.2020 we&#8217;ll have additional login rewards for you!<br>All you have to do is log in on different days! For the bonus items given out for logging in on 3/5/7 days, it is not necessary to log in on consecutive days!</p>



<figure class="wp-block-image size-large"><img loading="lazy" width="500" height="261" src="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png" alt="" class="wp-image-1760" srcset="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png 500w, https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1-300x157.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></figure>



<p><br>The rewards will usually be distributed within 72 hours after you have fulfilled the requirements.</p>



<p>Have fun in the NetSphere!</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2020/05/20/login-reward-event/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
