<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueGM Jagd &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/de/2020/11/19/gm-jagd/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/de/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>de-DE</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>GM Jagd</title>
		<link>https://s4leaguegame.com/de/2020/11/19/gm-jagd/</link>
		<comments>https://s4leaguegame.com/de/2020/11/19/gm-jagd/#respond</comments>
		<pubDate>Thu, 19 Nov 2020 18:09:53 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1979</guid>
		<description><![CDATA[Hallo Leaguers! Es ist wieder einmal an der Zeit, unsere Game Masters zu jagen. Verpasst nicht diese Gelegenheit, ihnen euer Können zu demonstrieren und mit [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg" title="GM Jagd" width="900" height="225"/></p>
<p>Hallo Leaguers!</p>



<p>Es ist wieder einmal an der Zeit, unsere Game Masters zu jagen. Verpasst nicht diese Gelegenheit, ihnen euer Können zu demonstrieren und mit einem Kopfgeld belohnt zu werden.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/5eaddd4b38e52ca8d220a362fdc7abf2/files/s4l/image/H/HowtoParticipateam22.png" alt="HowtoParticipateam22.png" width="224" height="20"/></figure>



<p>Das GM-Team wird private Räume erstellen oder beitreten! Ihr müsst einen GM besiegen, ohne eine Unterstützung zu erhalten! Der GM Name muss deutlich auf der Bildschirmaufnahme erkennbar sein.</p>



<p>Nicht vergessen! Die Taste für die Bildschirmaufnahme ist F12!</p>



<p><a href="https://s4league.aeriagames.com/forum/index.php?thread/37-s4league-community-managers-game-masters/">Hier ist eine Liste der aktuellen GMs</a></p>



<p>Schicke uns deinen Screenshot des GM-Kills unter diesem Formular:</p>



<p><a href="https://bit.ly/GMHUNT-0420">EINREICHEN</a></p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/66d217100f38b25774b326cb238a663c/files/s4l/image/W/Whenam22.png" alt="Whenam22.png" width="83" height="20"/></figure>



<p>Die Veranstaltungen finden vom 20. bis 22. November und vom 27. bis 29. November statt. GMs werden die genaue Zeit auf Discord mitteilen.</p>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/27ea059b472ad28776111c5ba5b9be0e/files/s4l/image/P/Prizesam22.png" alt="Prizesam22.png" width="83" height="20"/></figure>



<p>Du kannst dir ein Paket der folgenden Belohnungen auswählen:</p>



<ul><li>2x Toy Gun Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Galaxy Counter Sword Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Space Rabbit Pet Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Marko Parrot Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Sexy Striker (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Fumbi Striker (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Violet (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Leo (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li></ul>



<figure class="wp-block-image is-resized"><img loading="lazy" src="http://cms-content.s.aeriastatic.com/d0fd9fb3ef8ba7d9be0cf3272c399483/files/s4l/image/R/Rulesam22.png" alt="Rulesam22.png" width="73" height="20"/></figure>



<ul><li>Ihr könnt an diesem Event nur zweimal teilnehmen, mehr als zwei Einsendungen werden nicht berücksichtigt!</li><li>Ihr könnt nur einen Nachweis pro GM einreichen. Ihr werdet nicht zweimal für denselben GM belohnt!</li><li>Euer Name und der GM-Name sollten lesbar sein.</li><li>Ihr dürft die Screenshots in keiner Weise bearbeiten!</li><li>Sendet eure Nachweise oben im Formular ein.</li><li>Eure Kills müssen ohne Assists gemacht werden!</li><li>Einsendungen nach Ablauf der Frist werden nicht akzeptiert. Es werden keine Ausnahmen gemacht!</li><li>Ladet die Bildschirmaufnahme auf&nbsp;<a href="https://imgbb.com/">https://imgbb.com/</a>&nbsp;oder einer ähnlichen Plattform zum Teilen von Screenshots hoch.</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/de/2020/11/19/gm-jagd/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
