<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueNews &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/category/news-fr/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
		<item>
		<title>Offres Black Friday</title>
		<link>https://s4leaguegame.com/fr/2020/11/26/offres-black-friday/</link>
		<comments>https://s4leaguegame.com/fr/2020/11/26/offres-black-friday/#respond</comments>
		<pubDate>Thu, 26 Nov 2020 15:00:00 +0000</pubDate>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1984</guid>
		<description><![CDATA[Cher Leaguer, Êtes-vous prêt pour LE week-end ? Ce week-end, nous vous proposerons des offres vraiment étonnantes ! À partir du vendredi 27 à 16 [&#8230;]]]></description>
						<content:encoded><![CDATA[
<p>Cher Leaguer, <br><br>Êtes-vous prêt pour LE week-end ? Ce week-end, nous vous proposerons des offres vraiment étonnantes ! <br><br>À partir du <strong>vendredi 27 à 16 heures CET</strong> jusqu&rsquo;au <strong>lundi 30 à 16 heures CET</strong>, vous trouverez une catégorie spéciale « Black Friday » dans notre <a href="https://s4league.aeriagames.com/itemmall">boutique web</a>. Qu&rsquo;y trouverez-vous, vous vous demanderez peut-être&#8230; <br><br>Des objets formidables avec <strong>jusqu&rsquo;à 50% de réduction</strong> vous attendent ! <br><br>Mais attendez ! Les surprises ne s&rsquo;arrêtent pas là. Nous vous proposons également un Programme de Récompenses « Black Weekend » qui débutera le <strong>vendredi 27 à 16 heures</strong> et se terminera le<strong> mardi 1er décembre à 16 heures</strong>. <br><br>Vous vous demandez peut-être si c&rsquo;est tout ce que nous avons pour vous. Pas du tout ! <br><br>Le <strong>lundi 30 à 16 heures CET</strong> et pendant <strong>24 HEURES SEULEMENT</strong>, nous aurons une VENTE Cyber Monday avec des offres formidables ainsi qu&rsquo;un réapprovisionnement de certains objets populaires. <br><br>Vous vous demandez ce que seront les objets les plus populaires ? Vous le découvrirez bientôt ! <br><br>Entrez dans notre <a href="https://s4league.aeriagames.com/itemmall">boutique web</a> le <strong>vendredi 27 à 16 heures CET</strong> et que le shopping commence ! <br><br>Adieu, Leaguer !</p>



<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/11/26/offres-black-friday/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Evnts GM Hunt</title>
		<link>https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/</link>
		<comments>https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/#respond</comments>
		<pubDate>Thu, 19 Nov 2020 18:08:43 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg</featuredImage>
		<dc:creator><![CDATA[elenamarkova]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1977</guid>
		<description><![CDATA[Bonjour Leaguers ! Une fois de plus, le temps est venu de chasser nos Game Masters. Ne manquez pas cette occasion de leur donner une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/11/40bfbce4-s4l_a_gm_hunt_f.jpg" title="Evnts GM Hunt" width="900" height="225"/></p>
<p>Bonjour Leaguers !</p>



<p>Une fois de plus, le temps est venu de chasser nos Game Masters. Ne manquez pas cette occasion de leur donner une leçon et d&rsquo;être récompensés par une prime.</p>



<figure class="wp-block-image is-resized"><img src="http://cms-content.s.aeriastatic.com/5eaddd4b38e52ca8d220a362fdc7abf2/files/s4l/image/H/HowtoParticipateam22.png" alt="HowtoParticipateam22.png" width="224" height="20"/></figure>



<p>L&rsquo;équipe de GM se joindra ou créera ses chambres personnelles ! Vous devez tuer un GM sans assistance et faire une capture d&rsquo;écran ! Le nom du GM doit être suffisamment clair pour être lu.</p>



<p>Veuillez noter que le bouton pour prendre une capture d&rsquo;écran est F12 ! Ne l&rsquo;oubliez pas !</p>



<p><a href="https://s4league.aeriagames.com/forum/index.php?thread/37-s4league-community-managers-game-masters/">Voici la liste de l&rsquo;équipe de GM actuelle</a></p>



<p>Soumettez votre capture d&rsquo;écran après avoir tué avec succès un GM dans ce formulaire ci-dessous en ROUGE :</p>



<p><a href="https://bit.ly/GMHUNT-0420">FORMULAIRE</a></p>



<figure class="wp-block-image is-resized"><img src="http://cms-content.s.aeriastatic.com/66d217100f38b25774b326cb238a663c/files/s4l/image/W/Whenam22.png" alt="Whenam22.png" width="83" height="20"/></figure>



<p>Les événements se dérouleront du 20 au 22.11 et du 27 au 29.11. Les GM notifieront l&rsquo;heure exacte sur Discord.</p>



<figure class="wp-block-image is-resized"><img src="http://cms-content.s.aeriastatic.com/27ea059b472ad28776111c5ba5b9be0e/files/s4l/image/P/Prizesam22.png" alt="Prizesam22.png" width="83" height="20"/></figure>



<p>Vous pouvez choisir un pack parmi les récompenses suivantes :</p>



<ul><li>2x Toy Gun Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Galaxy Counter Sword Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Space Rabbit Pet Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Marko Parrot Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Sexy Striker (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Fumbi Striker (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Violet (F) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li><li>2x Leo (M) Capsule + Silver PEN Capsule + 2 Unique Skill Capsule</li></ul>



<figure class="wp-block-image is-resized"><img src="http://cms-content.s.aeriastatic.com/d0fd9fb3ef8ba7d9be0cf3272c399483/files/s4l/image/R/Rulesam22.png" alt="Rulesam22.png" width="73" height="20"/></figure>



<ul><li>Vous ne pouvez participer que deux fois à cet événement, plus de deux soumissions ne compteront pas !</li><li>Vous ne pouvez soumettre qu&rsquo;une seule inscription par GM. Vous ne serez pas récompensé pour le même GM deux fois !</li><li>Votre pseudo en jeu et le pseudo du GM doivent être clairs.</li><li>Vous n&rsquo;êtes pas autorisé à modifier les captures d&rsquo;écran de quelque manière que ce soit !</li><li>Soumettez vos captures d&rsquo;écran ci-dessus dans le formulaire.</li><li>Vos kills doivent être effectués sans assistance !</li><li>Les soumissions après la date limite ne seront pas acceptées. Aucune exception ne sera faite !</li><li>Hébergez vos captures d&rsquo;écran sur&nbsp;<a href="https://imgbb.com/">https://imgbb.com/</a>&nbsp;ou sur une plateforme de partage de captures d&rsquo;écran similaire.</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/11/19/evnts-gm-hunt/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Gamigo 20th anniversary events</title>
		<link>https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/</link>
		<comments>https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/#respond</comments>
		<pubDate>Thu, 01 Oct 2020 14:16:00 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain.png</featuredImage>
		<dc:creator><![CDATA[simaoaraujo]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1894</guid>
		<description><![CDATA[Bonjour Leagueurs, Êtes-vous prêts à chanter la chanson « Joyeux anniversaire » ? C&#8217;est le 20e anniversaire de gamigo ! Préparez-vous à un mois rempli d&#8217;événements et [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain.png" title="Gamigo 20th anniversary events" width="820" height="312"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-560x213.png" alt="" class="wp-image-1935" srcset="https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-560x213.png 560w, https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-300x114.png 300w, https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain-768x292.png 768w, https://assets.cdn.one.gamigo.com/2020/09/a8fa51d0-forummain.png 820w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-560x213.png" alt="" class="wp-image-1936" srcset="https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-560x213.png 560w, https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-300x114.png 300w, https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain-768x292.png 768w, https://assets.cdn.one.gamigo.com/2020/09/4450c2a2-forummain.png 820w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs,<br><br>Êtes-vous prêts à chanter la chanson « Joyeux anniversaire » ? C&rsquo;est le 20e anniversaire de gamigo ! Préparez-vous à un mois rempli d&rsquo;événements et à une énorme tombola ! À partir du 1er octobre, chaque semaine, nous présenterons un événement spécial de capture d&rsquo;écran où vous pourrez tous gagner des prix incroyables, gagner des points et participer à notre grande tombola pour gagner des récompenses géniales dans la vie réelle.<br><br>Contrairement à tous nos précédents événements sur différentes plateformes, ils sont tous liés entre eux, ce qui signifie que vous pouvez participer aux captures d&rsquo;écran de nos Facebook, Twitter, Discord ou Forum. Peu importe, votre soumissions comptera pour l&rsquo;énorme tirage au sort où vous pourrez gagner de superbes récompenses GIGABYTE et beaucoup de récompenses numériques !<br><br>Il y aura un système de classement dans lequel tous les joueurs qui participent aux événements spéciaux de l&rsquo;anniversaire de gamigo s&rsquo;affronteront. Les points de classement seront régulièrement mis à jour, mais ils ne seront pas synchronisés en temps réel avec tous les événements. Les 5 premiers joueurs du classement de chaque jeu participeront à la tombola une fois l&rsquo;anniversaire terminé.<br><br>Les événements commenceront le 1er octobre et le concours durera jusqu&rsquo;à la fin du mois, date à laquelle nous publierons les gagnants et les récompenses. Seuls les 50 premiers joueurs du classement seront visibles, mais les points seront stockés et votre nom sera visible si vous avez atteint la marque !</p>



<p><strong><strong>Événements Forum</strong></strong><br><br>Chaque semaine, nous organiserons un événement&nbsp;capture d&rsquo;écran. 10,000 points seront attribués pour chaque événement anniversaire. Le nombre de points que vous pouvez gagner varie en fonction du nombre de participants. Par exemple, s&rsquo;il n&rsquo;y a que deux (2) participants, ils recevront chacun 5,000 points. En revanche, s&rsquo;il y a vingt (20) participants ou plus, chacun recevra 500 points.</p>



<p><strong><strong>Événements Discord</strong></strong><br><br>Une salle spéciale de Discord appelée <strong>#20th-gamigo-anniversary</strong> apparaîtra où vous pourrez également partager des captures d&rsquo;écran. Chaque semaine, nous publierons une tâche que vous devrez accomplir. 10,000 points seront distribués et selon les participants, il peut y avoir 2 gagnants avec 5,000 points chacun ou 20 (ou plus) avec 500.</p>



<p><strong><strong>Événements sur les Réseaux Sociaux</strong></strong><br><br>Des captures d&rsquo;écran des réseaux sociaux seront présentées tout au long du mois. 10 captures d&rsquo;écran de chaque poste recevront 1,000 Points d&rsquo;Anniversaire.</p>



<p><strong><strong>Événements en jeu</strong></strong><br><br>En plus de cela, nous avons préparé d&rsquo;autres événements incroyables dans le jeu, où vous pouvez non seulement gagner des récompenses géniales mais aussi des Points d&rsquo;Anniversaire. La répartition des points sera la suivante :&nbsp;<br><br>1ère place &#8211; 5000 points<br>2ème place &#8211; 2500 points&nbsp;<br>3ème place &#8211; 1000 points<br>4ème place &#8211; 500 points&nbsp;<br>5ème place &#8211; 250 points<br>6ème à 10ème place -150 points</p>



<p>Maintenant, vérifions vos tâches :</p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/wP7b9sZ.png" alt=""/></figure>



<p><strong><strong>Semaine 1</strong>&nbsp;&#8211; </strong>Le joueur ayant le plus de Touch Downs obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><strong><strong><strong>Semaine</strong></strong></strong> <strong>2</strong> &#8211; Le joueur ayant le plus de Touch Downs obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><strong><strong><strong>Semaine</strong></strong></strong> <strong>3</strong> &#8211; Le joueur ayant le plus grand nombre de kills en mode Chaser obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><strong><strong><strong>Semaine</strong></strong></strong> <strong>4</strong> &#8211; Le joueur ayant le plus de parties gagnées, quel que soit le mode, obtiendra 5000 points, le 2ème meilleur résultat 2500 points, le 3ème meilleur résultat 1000 points etc.<br><br><em><em>Il n&rsquo;y aura pas de traqueur en direct indiquant qui a terminé 1er, 2e, 3e, etc. Nous extrairons ces données de nos outils.</em></em></p>



<p><strong>Voucher Giveaway</strong><br><br>De plus, nous allons partager un code maître avec vous tous sur l&rsquo;une de nos plateformes &#8211; Facebook, Discord, Twitter, Forum, Site web ! Ce code maître contient différentes récompenses et les 10 premiers joueurs à échanger le code recevront 500 Points d&rsquo;Anniversaire en plus des récompenses pour notre grande tombola du 20e anniversaire de gamigo ! Donc, assurez-vous de vérifier constamment toutes nos plateformes afin de ne pas manquer le code et de vous efforcer d&rsquo;être parmi les 10 premiers à l&rsquo;obtenir.<br><br>Tout cela ne semble-t-il pas passionnant ?</p>



<p><strong>Pour couronner le tout, nous avons préparer des packs spéciaux rien que pour vous!</strong></p>



<figure class="wp-block-image size-large"><img src="https://imgur.com/cfCaxhY.png" alt=""/></figure>



<p><strong><strong>Partagez votre moment</strong></strong><br><br>Nous n&rsquo;avons pas encore fini ! Nous avons encore un concours pour vous ! « <a href="https://20th.gamigo.net/fr/shareyourmoment.html">Partagez votre moment</a> » vous donnera l&rsquo;occasion de partager avec nous votre moment le plus mémorable de ces 20 dernières années et de nous envoyer des vœux d&rsquo;anniversaire en nous félicitant dans le jeu ou dans la vie réelle par texte, vidéo, image, selfie ou de toute autre manière que vous préférez pour avoir une chance de gagner l&rsquo;un des hoodies gamigo20th en édition limitée.<br><br>Afin de participer à ce concours, veuillez partager votre moment / souhait d&rsquo;anniversaire en utilisant le #gamigo20 sur Facebook, Twitter, Instagram.<br><br>Une fois le concours terminé, nous tirerons au sort 20 sweatshirts à capuche parmi toutes les participations, et nous les présenterons dans une bande-annonce spéciale de vœux d&rsquo;anniversaire.<br><br>Ce concours se déroulera du 1er au 29 octobre.</p>



<p>Pour plus de détails sur le 20e anniversaire de gamigo et ses récompenses, visitez notre site web de l&rsquo;événement principal <a href="https://20th.gamigo.net/fr">ici</a>.</p>



<p><strong><strong>Conditions&nbsp;de&nbsp;participation&nbsp;aux&nbsp;concours</strong>&nbsp;</strong>:</p>



<div class="wp-block-group"><div class="wp-block-group__inner-container">
<ol><li>Toute&nbsp;personne&nbsp;qui&nbsp;participe&nbsp;doit&nbsp;avoir&nbsp;18 ans.&nbsp;</li></ol>



<ol start="2"><li>Les&nbsp;employés&nbsp;de gamigo AG&nbsp;ou&nbsp;leurs&nbsp;proches,&nbsp;ainsi&nbsp;que&nbsp;Game Masters de&nbsp;jeu&nbsp;ou&nbsp;leurs&nbsp;proches&nbsp;ne&nbsp;sont&nbsp;pas&nbsp;autorisés&nbsp;à&nbsp;participer.&nbsp;</li></ol>



<ol start="3"><li>Les&nbsp;participants&nbsp;seront&nbsp;inscrits&nbsp;pour&nbsp;gagner&nbsp;les&nbsp;prix&nbsp;mentionnés&nbsp;dans&nbsp;la&nbsp;description&nbsp;de&nbsp;l&rsquo;événement.&nbsp;</li></ol>



<ol start="4"><li>Si gamigo a de&nbsp;bonnes&nbsp;raisons&nbsp;de&nbsp;soupçonner&nbsp;une&nbsp;violation&nbsp;de&nbsp;ce&nbsp;règlement, gamigo se&nbsp;réserve&nbsp;la&nbsp;possibilité&nbsp;d&rsquo;exclure&nbsp;ces&nbsp;personnes&nbsp;de la&nbsp;participation. Dans&nbsp;ce&nbsp;cas,&nbsp;il&nbsp;est&nbsp;possible de&nbsp;révoquer&nbsp;les&nbsp;prix&nbsp;par la&nbsp;suite&nbsp;et de&nbsp;tirer&nbsp;un&nbsp;nouveau&nbsp;gagnant.&nbsp;</li></ol>



<ol start="5"><li>Le&nbsp;prix&nbsp;ne&nbsp;peut&nbsp;pas&nbsp;être&nbsp;transféré&nbsp;à&nbsp;une&nbsp;autre&nbsp;personne&nbsp;et ne&nbsp;peut&nbsp;pas&nbsp;être&nbsp;payé&nbsp;en&nbsp;espèces. gamigo se&nbsp;réserve&nbsp;le&nbsp;droit&nbsp;de&nbsp;remplacer&nbsp;les&nbsp;prix&nbsp;individuels&nbsp;par des&nbsp;prix&nbsp;équivalents&nbsp;ou&nbsp;supérieurs. Il&nbsp;n&rsquo;est&nbsp;pas&nbsp;possible&nbsp;d&rsquo;attribuer&nbsp;des&nbsp;prix&nbsp;à des&nbsp;mineurs.&nbsp;</li></ol>



<ol start="6"><li>En&nbsp;cas&nbsp;de&nbsp;désaccord&nbsp;sur&nbsp;le&nbsp;règlement, le&nbsp;déroulement&nbsp;ou&nbsp;les&nbsp;résultats&nbsp;de la&nbsp;loterie, la&nbsp;décision&nbsp;prise&nbsp;par gamigo&nbsp;est&nbsp;définitive. Elle&nbsp;n&rsquo;est&nbsp;pas&nbsp;susceptible&nbsp;de&nbsp;recours.&nbsp;</li></ol>



<ol start="7"><li>Les&nbsp;données&nbsp;sont&nbsp;confidentielles&nbsp;et&nbsp;seront&nbsp;traitées&nbsp;par gamigo&nbsp;conformément&nbsp;aux&nbsp;dispositions&nbsp;légales&nbsp;en&nbsp;matière&nbsp;de&nbsp;protection&nbsp;des&nbsp;données.&nbsp;</li></ol>
</div></div>



<p><strong>Classements</strong><br><br>Les noms dans le classement sont affichés avec des astérisques qui bloquent tout sauf la première et la dernière lettre du nom dans le classement (par exemple O **** N au lieu de ORION). Toute personne souhaitant que son nom complet apparaisse dans le classement d&rsquo;anniversaire peut recevoir un bon. En utilisant le coupon ci-dessous, vous consentez à ce que le nom complet de votre personnage soit affiché pour toute personne qui consulte la page web. [ShareYourName20]<br><br>Le nom qui sera affiché dans le classement, sera le nom du premier personnage que vous connecterez sur votre compte, après avoir utilisé le code ShowYourName20.</p>



<p>Nous espérons que vous vous amuserez bien avec nos activités du 20e anniversaire de gamigo.</p>



<p></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/10/01/gamigo-20th-anniversary-events-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Sales &#8211; Back to School</title>
		<link>https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/</link>
		<comments>https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/#respond</comments>
		<pubDate>Fri, 25 Sep 2020 12:51:12 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/09/25/sales-back-to-school/</guid>
		<description><![CDATA[Bonjour Leagueurs, Même dans les temps difficiles actuels, les jeunes générations doivent retourner à l&#8217;école chaque année. Et c&#8217;est toujours la même chose chaque année [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/09/55eb64ea-b2ss_prev.png" title="Sales &#8211; Back to School" width="420" height="260"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png" alt="" class="wp-image-1905" srcset="https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-560x266.png 560w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss-300x142.png 300w, https://assets.cdn.one.gamigo.com/2020/09/474e825b-b2ss.png 685w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs,</p>



<p><div>Même dans les temps difficiles actuels, les jeunes générations doivent retourner à l&rsquo;école chaque année. Et c&rsquo;est toujours la même chose chaque année scolaire. Les enfants cool occupent la dernière rangée de pupitres de la classe pour s&rsquo;asseoir loin du professeur et jouer sur leur smartphone, les enfants intelligents se placent devant le bureau du professeur et <strong>S4 League</strong> a quelque chose pour que les deux prennent un bon départ.</div></p>



<p><div>

À partir du <strong>vendredi 25 septembre 16:00</strong>, vous pourrez trouver les offres intelligentes, passionnantes et très limitées, dans notre <a href="https://s4league.aeriagames.com/itemmall/Back%2Bto%2BSchool">catégorie Back to school</a>, avec des objets fantastiques et, en plus, nous avons un <a href="https://s4league.aeriagames.com/itemmall/tiered-spender/1">Programme de Récompenses</a> pour les enfants cool parmi vous.
<div>Ne manquez donc pas cette occasion de vous procurer votre objet préféré et, comme toujours, amusez-vous dans la Netsphère !</div>
</div></p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/09/25/sales-back-to-school/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Défi de la semaine &#8211; Eagle Eye</title>
		<link>https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/</link>
		<comments>https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/#respond</comments>
		<pubDate>Fri, 17 Jul 2020 17:12:14 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/e22e346e-cotw_29_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/07/17/challenge-of-the-week-eagle-eye/</guid>
		<description><![CDATA[Bonjour Leagueurs! Bienvenue au nouveau défi ! Pour créer des expériences de jeu passionnantes et de haut niveau, l&#8217;équipe de S4 League organise régulièrement une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/e22e346e-cotw_29_20.jpg" title="Défi de la semaine &#8211; Eagle Eye" width="2000" height="500"/></p>
<p>Bonjour Leagueurs!</p>



<p>Bienvenue au nouveau défi !</p>



<p>Pour créer des expériences de jeu passionnantes et de haut niveau, l&rsquo;équipe de S4 League organise régulièrement une variété d&rsquo;événements Challenge !</p>



<p>Participez à l&rsquo;événement et gagnez de superbes récompenses !</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/bc2dfd295246468decc37d588bd62ba1/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touch Down</strong></p>



<p><strong>Carte:&nbsp;Wonderland, Ice Square</strong></p>



<p><strong>Nombre de joueurs: 6 ou plus<br><br>Pas de mode friendly (FM) autorisé</strong></p>



<p><strong>Niveau Régulier</strong>: Tuer 25 ennemis.</p>



<p><strong>Niveau Leaguer</strong>: Tuer 60 ennemis.</p>



<p><strong>Niveau eSper</strong>: Tuer 100 ennemis.</p>



<p>L&rsquo;événement se déroule automatiquement. Il n&rsquo;est pas nécessaire de prouver sa participation.<br>Cela peut être fait dans différents jeux.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/9d0b31d3b9431fa644d5b9cafac4cd82/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg"/></figure>



<p>Le défi de cette semaine sera actif du 17 juillet à 20h00 CEST jusqu&rsquo;au 26 juillet à 23h59 CEST.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/a2c55bf9a5a4781157a969d42acac5cd/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg"/></figure>



<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/ee9252486db19716f0709cacfc02b8ef/files/s4l/image/d/dragonade_ergebnis.png" alt="dragonade_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/eafc5e3f7116bea76d97e0070bd8f445/files/s4l/image/i/icon_gun_sharpshooter_unique_ergebnis.png" alt="icon_gun_sharpshooter_unique_ergebnis.png"/></figure></li></ul></figure>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-560x276.png" alt="" class="wp-image-1873" srcset="https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-560x276.png 560w, https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-300x148.png 300w, https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image-768x379.png 768w, https://assets.cdn.one.gamigo.com/2020/07/d348fdf9-image.png 884w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/31d624d8675c3f984cf6d95132e8d530/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg"/></figure>



<p>&#8211; Les challenges hebdomadaires sont l’événement où vous accomplissez une tâche seul ou avec vos coéquipiers.</p>



<p>&#8211; Pas de mode friendly (FM) autorisé</p>



<p>&#8211; S’il y a des restrictions de la chambre vous devez les suivez</p>



<p>&#8211; Les récompenses seront distribuées après la fin de l’évènement</p>



<p>&#8211; Aucune forme de triche ne sera tolérée</p>



<p>&#8211; Farming n’est pas autorisé</p>



<p>&#8211; Nous nous réservons le droit de disqualifier toute inscription susceptible d&rsquo;enfreindre les règles du concours ou notre ToS!</p>



<p>&#8211; Aucune exception pour la participation en dehors de la période définie ne sera accordée. Pardon!</p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/07/17/challenge-of-the-week-eagle-eye/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>MAINTENANCE BILLING</title>
		<link>https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/</link>
		<comments>https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/#respond</comments>
		<pubDate>Mon, 13 Jul 2020 15:58:46 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/2020/07/13/maintenance-billing/</guid>
		<description><![CDATA[Leaguers, nous voulons vous informer de notre prochain maintenance. Le mardi 14 juillet à 7h00 CEST, il y aura une maintenance de notre système de [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/07/10c014ef-billing-maint_2.png" title="MAINTENANCE BILLING" width="690" height="330"/></p>
<p>Leaguers, nous voulons vous informer de notre prochain maintenance.</p>



<p>Le mardi 14 juillet à 7h00 CEST, il y aura une maintenance de notre système de facturation. Pendant la maintenance, vous ne pourrez pas utiliser les Aeria Points (AP) ni faire d&rsquo;achats pour les Aeria Points (AP)</p>



<p>Nous estimons que la maintenance dure 2 heures. N&rsquo;hésitez pas à rejoindre notre chaîne Discord pour être informé de la fin de la maintenance de facturation.</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/07/13/maintenance-billing/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Défi de la semaine &#8211; Summer Party</title>
		<link>https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/</link>
		<comments>https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/#respond</comments>
		<pubDate>Fri, 05 Jun 2020 11:38:48 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1803</guid>
		<description><![CDATA[Bonjour Leagueurs! Bienvenue au nouveau défi ! Pour créer des expériences de jeu passionnantes et de haut niveau, l&#8217;équipe de S4 League organise régulièrement une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg" title="Défi de la semaine &#8211; Summer Party" width="2000" height="500"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-560x140.jpg" alt="" class="wp-image-1799" srcset="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs!</p>



<p>Bienvenue au nouveau défi !</p>



<p>Pour créer des expériences de jeu passionnantes et de haut niveau, l&rsquo;équipe de S4 League organise régulièrement une variété d&rsquo;événements Challenge !</p>



<p>Participez à l&rsquo;événement et gagnez de superbes récompenses !</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/bc2dfd295246468decc37d588bd62ba1/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touchdown</strong></p>



<p><strong>Carte: Colosseum, Neden-3</strong></p>



<p><strong>Nombre de joueurs: 6 ou plus<br><br>Pas de mode friendly (FM) autorisé</strong></p>



<p><strong>Niveau Régulier</strong>: Tuer 70 ennemis.</p>



<p><strong>Niveau Leaguer</strong>: Tuer 150 ennemis.</p>



<p><strong>Niveau eSper</strong>: Tuer 250 ennemis.</p>



<p>L&rsquo;événement se déroule automatiquement. Il n&rsquo;est pas nécessaire de prouver sa participation.<br>Cela peut être fait dans différents jeux.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/9d0b31d3b9431fa644d5b9cafac4cd82/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg"/></figure>



<p>Le défi de cette semaine sera actif du 05 juin à 20h00 CEST jusqu&rsquo;au 14 juin à 23h59 CEST.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/a2c55bf9a5a4781157a969d42acac5cd/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg"/></figure>



<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/6b9e713cc8e9ec5162277f35933d0c2a/files/s4l/image/i/icon_s_jazzupflower_m_ergebnis.png" alt="icon_s_jazzupflower_m_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/ab6502184a3a830680336c0c36f596ee/files/s4l/image/i/icon_s_jazzupbutterfly_w_ergebnis.png" alt="icon_s_jazzupbutterfly_w_ergebnis.png"/></figure></li></ul></figure>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-560x242.png" alt="" class="wp-image-1814" srcset="https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-560x242.png 560w, https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-300x130.png 300w, https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-768x332.png 768w, https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image.png 952w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/31d624d8675c3f984cf6d95132e8d530/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg"/></figure>



<p>&#8211; Les challenges hebdomadaires sont l’événement où vous accomplissez une tâche seul ou avec vos coéquipiers.</p>



<p>&#8211; Pas de mode friendly (FM) autorisé</p>



<p>&#8211; S’il y a des restrictions de la chambre vous devez les suivez</p>



<p>&#8211; Les récompenses seront distribuées après la fin de l’évènement</p>



<p>&#8211; Aucune forme de triche ne sera tolérée</p>



<p>&#8211; Farming n’est pas autorisé</p>



<p>&#8211; Nous nous réservons le droit de disqualifier toute inscription susceptible d&rsquo;enfreindre les règles du concours ou notre ToS!</p>



<p>&#8211; Aucune exception pour la participation en dehors de la période définie ne sera accordée. Pardon!</p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Une maintenance plus longue</title>
		<link>https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/</link>
		<comments>https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/#respond</comments>
		<pubDate>Mon, 25 May 2020 15:32:18 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/5752440b-extmaintnewsfr.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1783</guid>
		<description><![CDATA[Leagueurs, nous tenons à vous informer que nous prévoyons une maintenance plus longue ce mercredi.Nous allons faire quelques mises à jour sur notre backend et [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/5752440b-extmaintnewsfr.jpg" title="Une maintenance plus longue" width="460" height="290"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-560x140.jpg" alt="" class="wp-image-1784" srcset="https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/05/0fad9d09-extended-maintenance-forum-fr.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Leagueurs, nous tenons à vous informer que nous prévoyons une maintenance plus longue ce mercredi.<br>Nous allons faire quelques mises à jour sur notre backend et la maintenance prendra donc plus de temps que d&rsquo;habitude. La NetSphere sera complètement coupée du monde extérieur pendant cette période.   Vous pouvez vous joindre à notre Discord pour suivre les progrès et participer à notre quiz fréquent de S4 League. Vous pouvez gagner des prix intéressants et montrer vos connaissances sur S4 League à tous les autres joueurs.   </p>



<p>Début de la maintenance : 9h00 CEST / 3h00 EST<br>Fin de la maintenance : pas d&rsquo;ETA </p>



<p>Discord : <a rel="noreferrer noopener" href="https://discord.gg/S4League" target="_blank">https://discord.gg/S4League</a></p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/05/25/une-maintenance-plus-longue/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Défi de la semaine &#8211; Rapid Striker</title>
		<link>https://s4leaguegame.com/fr/2020/05/22/defi-de-la-semaine-rapid-striker/</link>
		<comments>https://s4leaguegame.com/fr/2020/05/22/defi-de-la-semaine-rapid-striker/#respond</comments>
		<pubDate>Fri, 22 May 2020 12:04:33 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/889399df-cotw_21_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1774</guid>
		<description><![CDATA[Bonjour Leagueurs! Bienvenue au nouveau défi ! Pour créer des expériences de jeu passionnantes et de haut niveau, l&#8217;équipe de S4 League organise régulièrement une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/889399df-cotw_21_20.jpg" title="Défi de la semaine &#8211; Rapid Striker" width="2000" height="500"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/05/4cdb4baf-cotw_21_20-560x140.jpg" alt="" class="wp-image-1776" srcset="https://assets.cdn.one.gamigo.com/2020/05/4cdb4baf-cotw_21_20-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/05/4cdb4baf-cotw_21_20-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/05/4cdb4baf-cotw_21_20-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/05/4cdb4baf-cotw_21_20-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/05/4cdb4baf-cotw_21_20.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs!</p>



<p>Bienvenue au nouveau défi !</p>



<p>Pour créer des expériences de jeu passionnantes et de haut niveau, l&rsquo;équipe de S4 League organise régulièrement une variété d&rsquo;événements Challenge !</p>



<p>Participez à l&rsquo;événement et gagnez de superbes récompenses !</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/bc2dfd295246468decc37d588bd62ba1/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touchdown Pass-Mode</strong></p>



<p><strong>Carte: Hyperium-Pass</strong></p>



<p><strong>Nombre de joueurs: 8 ou plus<br><br>Pas de mode friendly (FM) autorisé</strong></p>



<p><strong>Niveau Régulier</strong>: Marquer 1 touchdown.</p>



<p><strong>Niveau Leaguer</strong>: Marquer 4 touchdowns.</p>



<p><strong>Niveau eSper</strong>: Marquer 8 touchdowns.</p>



<p>L&rsquo;événement se déroule automatiquement. Il n&rsquo;est pas nécessaire de prouver sa participation.<br>Cela peut être fait dans différents jeux.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/9d0b31d3b9431fa644d5b9cafac4cd82/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg"/></figure>



<p>Le défi de cette semaine sera actif du 22 mai à 20h00 CEST jusqu&rsquo;au 31 mai à 23h59 CEST.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/a2c55bf9a5a4781157a969d42acac5cd/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg"/></figure>



<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/8b93bcabae7bcac6c024c05c7263bbb7/files/s4l/image/i/icon_s_sexyst_1.png" alt="icon_s_sexyst_1.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/a09433ba70623a658121133b923d0fec/files/s4l/image/i/icon_s_pumbist_1.png" alt="icon_s_pumbist_1.png"/></figure></li></ul></figure>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/05/f9894e06-image-560x241.png" alt="" class="wp-image-1775" srcset="https://assets.cdn.one.gamigo.com/2020/05/f9894e06-image-560x241.png 560w, https://assets.cdn.one.gamigo.com/2020/05/f9894e06-image-300x129.png 300w, https://assets.cdn.one.gamigo.com/2020/05/f9894e06-image-768x331.png 768w, https://assets.cdn.one.gamigo.com/2020/05/f9894e06-image.png 945w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/31d624d8675c3f984cf6d95132e8d530/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg"/></figure>



<p>&#8211; Les challenges hebdomadaires sont l’événement où vous accomplissez une tâche seul ou avec vos coéquipiers.</p>



<p>&#8211; Pas de mode friendly (FM) autorisé</p>



<p>&#8211; S’il y a des restrictions de la chambre vous devez les suivez</p>



<p>&#8211; Les récompenses seront distribuées après la fin de l’évènement</p>



<p>&#8211; Aucune forme de triche ne sera tolérée</p>



<p>&#8211; Farming n’est pas autorisé</p>



<p>&#8211; Nous nous réservons le droit de disqualifier toute inscription susceptible d&rsquo;enfreindre les règles du concours ou notre ToS!</p>



<p>&#8211; Aucune exception pour la participation en dehors de la période définie ne sera accordée. Pardon!</p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/05/22/defi-de-la-semaine-rapid-striker/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		    	<item>
		<title>Login Reward Event</title>
		<link>https://s4leaguegame.com/fr/2020/05/20/login-reward-event/</link>
		<comments>https://s4leaguegame.com/fr/2020/05/20/login-reward-event/#respond</comments>
		<pubDate>Wed, 20 May 2020 08:15:55 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1763</guid>
		<description><![CDATA[Bonjour Leagueurs, &#160; En guise de remerciement pour le succès de l&#8217;action caritative, nous voulons donner quelque chose en retour. Du 22.05.2020 au 31.05.2020, nous [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/05/3e4c0427-s4l_05_le_s.jpg" title="Login Reward Event" width="460" height="290"/></p>
<p>Bonjour Leagueurs, &nbsp; </p>



<p>En guise de remerciement pour le succès de l&rsquo;action caritative, nous voulons donner quelque chose en retour. Du 22.05.2020 au 31.05.2020, nous vous offrons des récompenses supplémentaires pour votre connexion au jeu !<br>Il vous suffit de vous connecter à des jours différents ! Pour les objets bonus distribués pour la connexion sur 3/5/7 jours, il n&rsquo;est pas nécessaire de se connecter sur des jours consécutifs !   </p>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png" alt="" class="wp-image-1760" srcset="https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1.png 500w, https://assets.cdn.one.gamigo.com/2020/05/7e9f3d28-monthly_login_rotation_1st-1-300x157.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></figure>



<p>Les récompenses sont généralement distribuées dans les 72 heures suivant la date à laquelle vous avez rempli les conditions. &nbsp;</p>



<p>Amusez-vous bien dans la NetSphere !</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/05/20/login-reward-event/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
