<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueDéfi de la semaine &#8211; Summer Party &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Défi de la semaine &#8211; Summer Party</title>
		<link>https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/</link>
		<comments>https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/#respond</comments>
		<pubDate>Fri, 05 Jun 2020 11:38:48 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1803</guid>
		<description><![CDATA[Bonjour Leagueurs! Bienvenue au nouveau défi ! Pour créer des expériences de jeu passionnantes et de haut niveau, l&#8217;équipe de S4 League organise régulièrement une [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg" title="Défi de la semaine &#8211; Summer Party" width="2000" height="500"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-560x140.jpg" alt="" class="wp-image-1799" srcset="https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/06/1c75663f-cotw_23_20.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Bonjour Leagueurs!</p>



<p>Bienvenue au nouveau défi !</p>



<p>Pour créer des expériences de jeu passionnantes et de haut niveau, l&rsquo;équipe de S4 League organise régulièrement une variété d&rsquo;événements Challenge !</p>



<p>Participez à l&rsquo;événement et gagnez de superbes récompenses !</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/bc2dfd295246468decc37d588bd62ba1/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_001.jpg"/></figure>



<p><strong>Mode:&nbsp;Touchdown</strong></p>



<p><strong>Carte: Colosseum, Neden-3</strong></p>



<p><strong>Nombre de joueurs: 6 ou plus<br><br>Pas de mode friendly (FM) autorisé</strong></p>



<p><strong>Niveau Régulier</strong>: Tuer 70 ennemis.</p>



<p><strong>Niveau Leaguer</strong>: Tuer 150 ennemis.</p>



<p><strong>Niveau eSper</strong>: Tuer 250 ennemis.</p>



<p>L&rsquo;événement se déroule automatiquement. Il n&rsquo;est pas nécessaire de prouver sa participation.<br>Cela peut être fait dans différents jeux.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/9d0b31d3b9431fa644d5b9cafac4cd82/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_002.jpg"/></figure>



<p>Le défi de cette semaine sera actif du 05 juin à 20h00 CEST jusqu&rsquo;au 14 juin à 23h59 CEST.</p>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/a2c55bf9a5a4781157a969d42acac5cd/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_003.jpg"/></figure>



<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/b53c472896c583da14fb964a198b17a8/files/s4l/image/i/icon_pen_ergebnis.png" alt="icon_pen_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/6b9e713cc8e9ec5162277f35933d0c2a/files/s4l/image/i/icon_s_jazzupflower_m_ergebnis.png" alt="icon_s_jazzupflower_m_ergebnis.png"/></figure></li><li class="blocks-gallery-item"><figure><img src="https://cms-content.s.aeriastatic.com/ab6502184a3a830680336c0c36f596ee/files/s4l/image/i/icon_s_jazzupbutterfly_w_ergebnis.png" alt="icon_s_jazzupbutterfly_w_ergebnis.png"/></figure></li></ul></figure>



<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-560x242.png" alt="" class="wp-image-1814" srcset="https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-560x242.png 560w, https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-300x130.png 300w, https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image-768x332.png 768w, https://assets.cdn.one.gamigo.com/2020/06/b3681cea-image.png 952w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<figure class="wp-block-image"><img src="https://cms-content.s.aeriastatic.com/31d624d8675c3f984cf6d95132e8d530/files/s4l/image/N/NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg" alt="NEWS_asset_sale_ChallengeOfTheWeek_AA_FR_004.jpg"/></figure>



<p>&#8211; Les challenges hebdomadaires sont l’événement où vous accomplissez une tâche seul ou avec vos coéquipiers.</p>



<p>&#8211; Pas de mode friendly (FM) autorisé</p>



<p>&#8211; S’il y a des restrictions de la chambre vous devez les suivez</p>



<p>&#8211; Les récompenses seront distribuées après la fin de l’évènement</p>



<p>&#8211; Aucune forme de triche ne sera tolérée</p>



<p>&#8211; Farming n’est pas autorisé</p>



<p>&#8211; Nous nous réservons le droit de disqualifier toute inscription susceptible d&rsquo;enfreindre les règles du concours ou notre ToS!</p>



<p>&#8211; Aucune exception pour la participation en dehors de la période définie ne sera accordée. Pardon!</p>



<p>Votre équipe S4 League</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/06/05/defi-de-la-semaine-summer-party/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
