<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueCompensation Package &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/2021/02/19/compensation-package/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Fri, 19 Mar 2021 16:31:14 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Compensation Package</title>
		<link>https://s4leaguegame.com/2021/02/19/compensation-package/</link>
		<comments>https://s4leaguegame.com/2021/02/19/compensation-package/#respond</comments>
		<pubDate>Fri, 19 Feb 2021 13:11:38 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=2048</guid>
		<description><![CDATA[Hello Leaguers, thanks for your patience and understanding for the past 2 months. We understand that the experience has suffered a lot during this time [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/cfd730a5-hp_300_500.jpg" title="Compensation Package" width="500" height="300"/></p>
<figure class="wp-block-image size-large"><img src="https://i.imgur.com/7Nemq04.jpg"/></figure>



<p>Hello Leaguers, thanks for your patience and understanding for the past 2 months.</p>



<p>We understand that the experience has suffered a lot during this time period and we wanted to give something back to you.<br>With this compensation package every player is able to receive the following items:</p>



<ul><li>1x 100% Unique Booster</li><li>3x Random Weapon Capsule</li><li>3x Random Female Costume Capsule</li><li>3x Random Male Costume Capsule</li><li>3x Unique Skill Capsule</li><li>1x Random Esper Chip Lv5 Capsule</li><li>1x 50.000 PEN</li></ul>



<p>ENTER THE CODE <span class="has-inline-color has-vivid-red-color"><strong>COMPENSATION</strong></span> TO RECEIVE THE ITEM.</p>



<p>Claim the item until February 23rd, 2021. It will become unavailable afterward.</p>



<p>Claim your package <a rel="noreferrer noopener" href="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486" data-type="URL" data-id="http://s4league.aeriagames.com/itemmall/free-rewards/gift/3486" target="_blank">here</a>.<br><br>Sincerely,<br>Your S4 League Team</p>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/2021/02/19/compensation-package/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
