<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
<channel>
	<title>S4 LeagueEaster Event &#8211; S4 League</title>
	<atom:link href="https://s4leaguegame.com/fr/2020/04/08/easter-event/feed/" rel="self" type="application/rss+xml" />
	<link>https://s4leaguegame.com/fr/</link>
	<description>Just another Glyph Games site</description>
	<lastBuildDate>Thu, 26 Nov 2020 15:23:48 +0000</lastBuildDate>
	<language>fr-FR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	    	<item>
		<title>Easter Event</title>
		<link>https://s4leaguegame.com/fr/2020/04/08/easter-event/</link>
		<comments>https://s4leaguegame.com/fr/2020/04/08/easter-event/#respond</comments>
		<pubDate>Wed, 08 Apr 2020 10:46:40 +0000</pubDate>
		<featuredImage>https://assets.cdn.one.gamigo.com/2020/04/e22ae371-s4l_easter2020_forumbanner_2.jpg</featuredImage>
		<dc:creator><![CDATA[timheemans]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://s4leaguegame.com/?p=1722</guid>
		<description><![CDATA[Les lapins sont de retours dans la Netsphere avec un nouveau challenge alors #RestezConfinés et tentez leur défi ! Première tâche : Un lapin isolé [&#8230;]]]></description>
						<content:encoded><![CDATA[<p><img src="https://assets.cdn.one.gamigo.com/2020/04/e22ae371-s4l_easter2020_forumbanner_2.jpg" title="Easter Event" width="1206" height="500"/></p>
<figure class="wp-block-image size-large"><img src="https://assets.cdn.one.gamigo.com/2020/04/a6b03e42-s4l_easter2020_forumbanner-560x140.jpg" alt="" class="wp-image-1719" srcset="https://assets.cdn.one.gamigo.com/2020/04/a6b03e42-s4l_easter2020_forumbanner-560x140.jpg 560w, https://assets.cdn.one.gamigo.com/2020/04/a6b03e42-s4l_easter2020_forumbanner-300x75.jpg 300w, https://assets.cdn.one.gamigo.com/2020/04/a6b03e42-s4l_easter2020_forumbanner-768x192.jpg 768w, https://assets.cdn.one.gamigo.com/2020/04/a6b03e42-s4l_easter2020_forumbanner-1536x384.jpg 1536w, https://assets.cdn.one.gamigo.com/2020/04/a6b03e42-s4l_easter2020_forumbanner.jpg 2000w" sizes="(max-width: 560px) 100vw, 560px" /></figure>



<p>Les lapins sont de retours dans la Netsphere avec un nouveau challenge alors #RestezConfinés et tentez leur défi !</p>



<p><strong>Première tâche : Un lapin isolé en cache souvent plein d&rsquo;autres.</strong></p>



<p>Jouez le mode Death Match sur la carte Highway pendant 2 heures pour recevoir 2 G&rsquo;s Frying Pan Storm Bat Capsule<br>Jouez le mode Death Match sur la carte Holiday pendant 2 heures pour recevoir 3 Item Craft Set Capsule (Medium)<br>Jouez le mode Touch Down sur la carte Tunnel pendant 2 heures pour recevoir 2 G&rsquo;s Space Rabbit Capsule<br>Jouez le mode Chaser sur la carte Circle-2 pendant 2 heures pour recevoir 2 G&rsquo;s Clock Rabbit Boy set Capsule</p>



<p>➡ Complétez ces 4 challenges pour recevoir: 5 Enchant GreatSuccess Up + Easter Egg (AP stats/PERM) + 75000 PEN</p>



<p><strong>Deuxième tâche : Un lapin et Fumbi entrent dans un bar&#8230;.</strong></p>



<p>Jouez le mode Death Match sur la carte Neden-3 pendant 2 heures pour recevoir 2 G&rsquo;s Gold Chain Counter Sword Capsule<br>Jouez le mode Death Match sur la carte Azit-EX pendant 2 heures pour recevoir 2 Unique Skill Capsule<br>Jouez le mode Touch Down sur la carte Station-2 pendant 2 heures pour recevoir 2 G&rsquo;s Mad Rabbit Capsule<br>Jouez le mode Chaser sur la carte Temple-O pendant 2 heures pour recevoir 2 G&rsquo;s Smart Alice Set Capsule</p>



<p>➡ Complétez ces 4 challenges pour recevoir: 5 Enchant Reset Down 20% + Angel Egg (AP stats/PERM) + 75000 PEN</p>



<ul><li>L&rsquo;évènement commence le&nbsp;<strong>10 Avril 2020</strong>&nbsp;et termine le&nbsp;<strong>19 Avril 2020</strong>.</li><li>Les différentes parties de l&rsquo;évènement ne sont pas liés l&rsquo;une à l&rsquo;autre.</li><li>Vous pouvez compléter les différents Challenge dans n&rsquo;importe quel ordre.</li><li>Vous ne pouvez compléter chaque challenge qu&rsquo;une seule fois.</li><li>Les récompenses pour cet évènement seront envoyées pendant la semaine suivant la fin de l&rsquo;évent.</li><li>Nous annoncerons leur envoi une fois effectué donc restez patients.</li><li>Pas de triche, pas de farming, pas de hacking, pas d&rsquo;infractions aux règles !</li></ul>
]]></content:encoded>
			<wfw:commentRss>https://s4leaguegame.com/fr/2020/04/08/easter-event/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
